{
  "openapi": "3.1.0",
  "info": {
    "title": "Atividades",
    "description": "Registre atividades como chamadas, e-mails e reunioes em contatos e negocios.",
    "version": "1.0.0",
    "contact": { "name": "Vendaze Support", "email": "suporte@vendaze.com" }
  },
  "servers": [{ "url": "https://api.vendaze.com", "description": "Production" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [{ "name": "Atividades" }],
  "paths": {
    "/v1/activities": {
      "get": {
        "operationId": "listActivities",
        "summary": "Listar atividades",
        "description": "Retorna atividades. Ao menos um filtro de entidade (person_id, company_id ou deal_id) e obrigatorio.",
        "tags": ["Atividades"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "$ref": "#/components/parameters/order_by" },
          { "$ref": "#/components/parameters/order" },
          {
            "name": "person_id",
            "in": "query",
            "schema": { "type": "string", "format": "uuid" },
            "description": "Filtrar por pessoa vinculada."
          },
          {
            "name": "company_id",
            "in": "query",
            "schema": { "type": "string", "format": "uuid" },
            "description": "Filtrar por empresa vinculada."
          },
          {
            "name": "deal_id",
            "in": "query",
            "schema": { "type": "string", "format": "uuid" },
            "description": "Filtrar por negocio vinculado."
          },
          {
            "name": "type",
            "in": "query",
            "schema": { "type": "string", "enum": ["notes", "email", "call", "meeting"] },
            "description": "Filtrar por tipo de atividade."
          },
          { "$ref": "#/components/parameters/created_after" },
          { "$ref": "#/components/parameters/created_before" }
        ],
        "responses": {
          "200": {
            "description": "Lista de atividades retornada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ActivitiesListResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      },
      "post": {
        "operationId": "createActivity",
        "summary": "Criar atividade",
        "description": "Cria uma atividade. Ao menos uma entidade (person_id, company_id ou deal_id) e obrigatoria.",
        "tags": ["Atividades"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateActivityRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Atividade criada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ActivityResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/v1/activities/{id}": {
      "get": {
        "operationId": "getActivity",
        "summary": "Buscar atividade",
        "description": "Retorna uma atividade por ID.",
        "tags": ["Atividades"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "Atividade retornada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ActivityResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteActivity",
        "summary": "Deletar atividade",
        "description": "Remove permanentemente a atividade do workspace.",
        "tags": ["Atividades"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Atividade deletada com sucesso." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "OAuth 2.1 access token." }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID of the resource."
      },
      "page": { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1, "minimum": 1 } },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 100 },
        "description": "Max 100."
      },
      "order_by": {
        "name": "order_by",
        "in": "query",
        "schema": { "type": "string", "enum": ["created_at"], "default": "created_at" },
        "description": "Campo de ordenação."
      },
      "order": { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" } },
      "created_after": { "name": "created_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "created_before": { "name": "created_before", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "updated_after": { "name": "updated_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "updated_before": { "name": "updated_before", "in": "query", "schema": { "type": "string", "format": "date-time" } }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid token.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "InsufficientScope": {
        "description": "Token lacks the required scope.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "ValidationError": {
        "description": "Input validation failed.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" } } }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "not_found" },
              "message": { "type": "string", "example": "Resource not found." },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "validation_error" },
              "message": { "type": "string", "example": "Validation failed." },
              "fields": { "type": "object", "additionalProperties": { "type": "string" } },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "example": 150 },
          "page": { "type": "integer", "example": 1 },
          "per_page": { "type": "integer", "example": 50 },
          "has_more": { "type": "boolean", "example": true }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email", "example": "nome@empresa.com" },
          "type": {
            "type": "string",
            "enum": ["personal", "work", "other"],
            "description": "Tipo do e-mail. Valores aceitos: personal, work, other.",
            "example": "work"
          }
        },
        "example": { "email": "nome@empresa.com", "type": "work" }
      },
      "ContactPhone": {
        "type": "object",
        "required": ["phone"],
        "properties": {
          "phone": { "type": "string", "example": "+5511999990001" },
          "type": {
            "type": "string",
            "enum": ["mobile", "work", "residential", "other"],
            "description": "Tipo do telefone. Valores aceitos: mobile, work, residential, other.",
            "example": "mobile"
          }
        },
        "example": { "phone": "+5511999990001", "type": "mobile" }
      },
      "Activity": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "type": { "type": "string", "enum": ["notes", "email", "call", "meeting"], "example": "call" },
          "content_html": { "type": "string", "nullable": true, "example": "<p>Discussed commercial proposal.</p>" },
          "person_id": { "type": "string", "format": "uuid", "nullable": true },
          "company_id": { "type": "string", "format": "uuid", "nullable": true },
          "deal_id": { "type": "string", "format": "uuid", "nullable": true },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "CreateActivityRequest": {
        "type": "object",
        "required": ["type"],
        "properties": {
          "type": { "type": "string", "enum": ["notes", "email", "call", "meeting"], "example": "call" },
          "content_html": { "type": "string" },
          "person_id": { "type": "string", "format": "uuid" },
          "company_id": { "type": "string", "format": "uuid" },
          "deal_id": { "type": "string", "format": "uuid" },
          "owner_user_id": { "type": "string", "format": "uuid" }
        }
      },
      "ActivitiesListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Activity" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "ActivityResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Activity" }
        }
      }
    }
  }
}
