{
  "openapi": "3.1.0",
  "info": {
    "title": "Empresas",
    "description": "Gerencie empresas no workspace.",
    "version": "1.0.0",
    "contact": { "name": "Vendaze Support", "email": "suporte@vendaze.com" }
  },
  "servers": [{ "url": "https://api.vendaze.com", "description": "Production" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [{ "name": "Empresas" }],
  "paths": {
    "/v1/companies": {
      "get": {
        "operationId": "listCompanies",
        "summary": "Listar empresas",
        "description": "Retorna uma lista paginada de empresas no workspace autorizado. Apenas campos da entidade são retornados, sem relações embutidas.",
        "tags": ["Empresas"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "$ref": "#/components/parameters/order_by" },
          { "$ref": "#/components/parameters/order" },
          {
            "name": "full_name",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Correspondência parcial pelo nome da empresa."
          },
          {
            "name": "email",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Correspondência exata por endereço de e-mail."
          },
          {
            "name": "phone",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Correspondência exata por número de telefone."
          },
          {
            "name": "owner_user_id",
            "in": "query",
            "schema": { "type": "string", "format": "uuid" },
            "description": "Filtrar por responsável."
          },
          {
            "name": "tag[]",
            "in": "query",
            "schema": { "type": "array", "items": { "type": "string", "format": "uuid" } },
            "style": "form",
            "explode": true,
            "description": "Filtrar por IDs de tags. Lógica AND: a empresa deve ter todas as tags especificadas. Exemplo: `?tag[]=uuid1&tag[]=uuid2`."
          },
          {
            "name": "custom_field[key]",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filtrar por valor de campo adicional. Substitua `key` pela chave do campo. Exemplo: `?custom_field[setor]=SaaS`."
          },
          { "$ref": "#/components/parameters/created_after" },
          { "$ref": "#/components/parameters/created_before" },
          { "$ref": "#/components/parameters/updated_after" },
          { "$ref": "#/components/parameters/updated_before" }
        ],
        "responses": {
          "200": {
            "description": "Lista de empresas retornada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompaniesListResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      },
      "post": {
        "operationId": "createCompany",
        "summary": "Criar empresa",
        "description": "Cria uma nova empresa no workspace. Retorna a empresa criada com `tags`, `lists` e `custom_fields` embutidos.",
        "tags": ["Empresas"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateCompanyRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Empresa criada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyWithEmbeddedResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/v1/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Buscar empresa",
        "description": "Retorna uma empresa por ID com `tags`, `lists` e `custom_fields` embutidos.",
        "tags": ["Empresas"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "Empresa retornada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyWithEmbeddedResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateCompany",
        "summary": "Atualizar empresa",
        "description": "Atualiza uma empresa. Apenas os campos enviados no body são modificados. Retorna a empresa atualizada com `tags`, `lists` e `custom_fields` embutidos.",
        "tags": ["Empresas"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateCompanyRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Empresa atualizada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyWithEmbeddedResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Deletar empresa",
        "description": "Soft-delete: o registro não é mais acessível pela API.",
        "tags": ["Empresas"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Empresa deletada com sucesso." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "Access token OAuth 2.1." }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID do recurso."
      },
      "page": { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1, "minimum": 1 } },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 100 },
        "description": "Máximo 100."
      },
      "order_by": {
        "name": "order_by",
        "in": "query",
        "schema": { "type": "string", "enum": ["created_at", "updated_at", "full_name"], "default": "created_at" },
        "description": "Campo de ordenação."
      },
      "order": { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" } },
      "created_after": {
        "name": "created_after",
        "in": "query",
        "schema": { "type": "string", "format": "date-time" },
        "description": "ISO 8601 UTC. Retorna registros criados após este timestamp."
      },
      "created_before": {
        "name": "created_before",
        "in": "query",
        "schema": { "type": "string", "format": "date-time" },
        "description": "ISO 8601 UTC. Retorna registros criados antes deste timestamp."
      },
      "updated_after": {
        "name": "updated_after",
        "in": "query",
        "schema": { "type": "string", "format": "date-time" },
        "description": "ISO 8601 UTC. Retorna registros atualizados após este timestamp."
      },
      "updated_before": {
        "name": "updated_before",
        "in": "query",
        "schema": { "type": "string", "format": "date-time" },
        "description": "ISO 8601 UTC. Retorna registros atualizados antes deste timestamp."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Requisição malformada.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "Unauthorized": {
        "description": "Token ausente ou inválido.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "InsufficientScope": {
        "description": "Token sem o escopo necessário.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "NotFound": {
        "description": "Recurso não encontrado.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "ValidationError": {
        "description": "Validação de entrada falhou.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" } } }
      },
      "RateLimitExceeded": {
        "description": "Limite de requisições excedido.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "not_found" },
              "message": { "type": "string", "example": "Company not found." },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "validation_error" },
              "message": { "type": "string", "example": "Validation failed." },
              "fields": {
                "type": "object",
                "additionalProperties": { "type": "string" },
                "example": { "full_name": "String must contain at most 70 character(s)." }
              },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "example": 150 },
          "page": { "type": "integer", "example": 1 },
          "per_page": { "type": "integer", "example": 50 },
          "has_more": { "type": "boolean", "example": true }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email", "example": "contato@acme.com" },
          "type": {
            "type": "string",
            "enum": ["personal", "work", "other"],
            "description": "Tipo do e-mail.",
            "example": "work"
          }
        }
      },
      "ContactPhone": {
        "type": "object",
        "required": ["phone"],
        "properties": {
          "phone": { "type": "string", "example": "+551130000000" },
          "type": {
            "type": "string",
            "enum": ["mobile", "work", "residential", "other"],
            "description": "Tipo do telefone.",
            "example": "work"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "color_text": { "type": "string", "nullable": true, "example": "#ffffff" },
          "color_background": { "type": "string", "nullable": true, "example": "#0085c0" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "value": { "description": "Valor do campo. O tipo depende da definição do campo adicional." },
          "field": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "label": { "type": "string" },
              "key": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "full_name": { "type": "string", "maxLength": 70, "example": "Acme Corp" },
          "emails": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/ContactEmail" },
            "example": [{ "email": "contato@acme.com", "type": "work" }]
          },
          "phones": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/ContactPhone" },
            "example": [{ "phone": "+551130000000", "type": "work" }]
          },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "example": "https://storage.vendaze.com/client/workspaces/abc/companies/xyz/avatar/avatar_WWT1BGs9ma.webp"
          },
          "entity_id": { "type": "string", "example": "g7wwkh0" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CompanyWithEmbedded": {
        "allOf": [
          { "$ref": "#/components/schemas/Company" },
          {
            "type": "object",
            "properties": {
              "tags": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } },
              "lists": { "type": "array", "items": { "$ref": "#/components/schemas/ContactList" } },
              "custom_fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomFieldValue" } }
            }
          }
        ]
      },
      "CreateCompanyRequest": {
        "type": "object",
        "required": ["full_name"],
        "properties": {
          "full_name": { "type": "string", "maxLength": 70, "example": "Acme Corp" },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactEmail" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactPhone" } },
          "owner_user_id": { "type": "string", "format": "uuid" },
          "avatar_image": {
            "type": "string",
            "description": "Imagem em base64 puro (sem prefixo data URI). Formatos aceitos: JPEG, PNG, WebP, GIF, BMP, TIFF. Convertida para WebP 500x500."
          },
          "tag_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de tags para associar à empresa."
          },
          "list_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de listas para associar à empresa."
          },
          "deal_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de negócios para associar à empresa."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_id", "value"],
              "properties": {
                "field_id": { "type": "string", "format": "uuid" },
                "value": { "description": "Valor do campo. O tipo depende da definição do campo adicional." }
              }
            },
            "description": "Valores de campos adicionais para definir na empresa."
          }
        }
      },
      "UpdateCompanyRequest": {
        "type": "object",
        "description": "Todos os campos são opcionais. Apenas os campos enviados no body são modificados.",
        "properties": {
          "full_name": { "type": "string", "maxLength": 70 },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactEmail" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactPhone" } },
          "owner_user_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Envie `null` para remover o responsável."
          },
          "avatar_image": {
            "type": "string",
            "description": "Imagem em base64 puro (sem prefixo data URI). Substitui o avatar atual. Formatos aceitos: JPEG, PNG, WebP, GIF, BMP, TIFF. Convertida para WebP 500x500."
          },
          "tag_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de tags para associar. O comportamento depende de `association_mode`."
          },
          "list_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de listas para associar. O comportamento depende de `association_mode`."
          },
          "deal_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de negócios para associar. O comportamento depende de `association_mode`."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_id", "value"],
              "properties": {
                "field_id": { "type": "string", "format": "uuid" },
                "value": { "description": "Valor do campo. O tipo depende da definição do campo adicional." }
              }
            },
            "description": "Valores de campos adicionais. O comportamento depende de `association_mode`. No modo `append`, substitui o valor de cada `field_id` enviado sem alterar os demais."
          },
          "association_mode": {
            "type": "string",
            "enum": ["append", "replace"],
            "default": "append",
            "description": "Controla como as associações (`tag_ids`, `list_ids`, `deal_ids`, `custom_fields`) são aplicadas. `append`: adiciona novas associações sem remover as existentes. `replace`: remove todas as associações atuais de cada tipo enviado e insere as novas. Enviar um array vazio com `replace` remove todas as associações daquele tipo."
          }
        }
      },
      "CompaniesListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Company" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "CompanyWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/CompanyWithEmbedded" }
        }
      }
    }
  }
}
