{
  "openapi": "3.1.0",
  "info": {
    "title": "Empresas",
    "description": "Gerencie empresas no workspace.",
    "version": "1.0.0",
    "contact": { "name": "Vendaze Support", "email": "suporte@vendaze.com" }
  },
  "servers": [{ "url": "https://api.vendaze.com", "description": "Production" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [{ "name": "Empresas" }],
  "paths": {
    "/v1/companies": {
      "get": {
        "operationId": "listCompanies",
        "summary": "Listar empresas",
        "description": "Retorna uma lista paginada de empresas no workspace autorizado.",
        "tags": ["Empresas"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "$ref": "#/components/parameters/order_by" },
          { "$ref": "#/components/parameters/order" },
          {
            "name": "full_name",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Correspondencia parcial pelo nome da empresa."
          },
          { "name": "email", "in": "query", "schema": { "type": "string" }, "description": "Filtrar por endereco de e-mail." },
          { "name": "phone", "in": "query", "schema": { "type": "string" }, "description": "Filtrar por numero de telefone." },
          {
            "name": "owner_user_id",
            "in": "query",
            "schema": { "type": "string", "format": "uuid" },
            "description": "Filtrar por responsavel."
          },
          {
            "name": "tag",
            "in": "query",
            "schema": { "type": "array", "items": { "type": "string" } },
            "style": "form",
            "explode": true,
            "description": "Filtrar por tags. Logica AND."
          },
          { "$ref": "#/components/parameters/created_after" },
          { "$ref": "#/components/parameters/created_before" },
          { "$ref": "#/components/parameters/updated_after" },
          { "$ref": "#/components/parameters/updated_before" }
        ],
        "responses": {
          "200": {
            "description": "Lista de empresas retornada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompaniesListResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      },
      "post": {
        "operationId": "createCompany",
        "summary": "Criar empresa",
        "description": "Cria uma nova empresa no workspace.",
        "tags": ["Empresas"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateCompanyRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Empresa criada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/v1/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Buscar empresa",
        "description": "Retorna uma empresa por ID com tags, listas e campos adicionais embutidos.",
        "tags": ["Empresas"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "Empresa retornada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyWithEmbeddedResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateCompany",
        "summary": "Atualizar empresa",
        "description": "Atualiza uma empresa. Apenas campos enviados sao modificados.",
        "tags": ["Empresas"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateCompanyRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Empresa atualizada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Deletar empresa",
        "description": "Soft-delete: o registro não e mais acessível pela API.",
        "tags": ["Empresas"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Empresa deletada com sucesso." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "OAuth 2.1 access token." }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID of the resource."
      },
      "page": { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1, "minimum": 1 } },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 100 },
        "description": "Max 100."
      },
      "order_by": {
        "name": "order_by",
        "in": "query",
        "schema": { "type": "string", "enum": ["created_at", "updated_at", "full_name"], "default": "created_at" },
        "description": "Campo de ordenação."
      },
      "order": { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" } },
      "created_after": { "name": "created_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "created_before": { "name": "created_before", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "updated_after": { "name": "updated_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "updated_before": { "name": "updated_before", "in": "query", "schema": { "type": "string", "format": "date-time" } }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid token.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "InsufficientScope": {
        "description": "Token lacks the required scope.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "ValidationError": {
        "description": "Input validation failed.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" } } }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "not_found" },
              "message": { "type": "string", "example": "Resource not found." },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "validation_error" },
              "message": { "type": "string", "example": "Validation failed." },
              "fields": { "type": "object", "additionalProperties": { "type": "string" } },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "example": 150 },
          "page": { "type": "integer", "example": 1 },
          "per_page": { "type": "integer", "example": 50 },
          "has_more": { "type": "boolean", "example": true }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email", "example": "nome@empresa.com" },
          "type": {
            "type": "string",
            "enum": ["personal", "work", "other"],
            "description": "Tipo do e-mail. Valores aceitos: personal, work, other.",
            "example": "work"
          }
        },
        "example": { "email": "nome@empresa.com", "type": "work" }
      },
      "ContactPhone": {
        "type": "object",
        "required": ["phone"],
        "properties": {
          "phone": { "type": "string", "example": "+5511999990001" },
          "type": {
            "type": "string",
            "enum": ["mobile", "work", "residential", "other"],
            "description": "Tipo do telefone. Valores aceitos: mobile, work, residential, other.",
            "example": "mobile"
          }
        },
        "example": { "phone": "+5511999990001", "type": "mobile" }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "color_text": { "type": "string", "nullable": true, "example": "#ffffff" },
          "color_background": { "type": "string", "nullable": true, "example": "#0085c0" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "value": { "type": "string", "nullable": true },
          "field": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "label": { "type": "string" },
              "key": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "full_name": { "type": "string", "example": "Acme Corp" },
          "emails": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ContactEmail" },
            "example": [{ "email": "contato@acme.com", "type": "work" }]
          },
          "phones": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ContactPhone" },
            "example": [{ "phone": "+551130000000", "type": "work" }]
          },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "permission": { "type": "string", "enum": ["all_users", "owners"], "example": "all_users" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CompanyWithEmbedded": {
        "allOf": [
          { "$ref": "#/components/schemas/Company" },
          {
            "type": "object",
            "properties": {
              "tags": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } },
              "lists": { "type": "array", "items": { "$ref": "#/components/schemas/ContactList" } },
              "custom_fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomFieldValue" } }
            }
          }
        ]
      },
      "CreateCompanyRequest": {
        "type": "object",
        "required": ["full_name"],
        "properties": {
          "full_name": { "type": "string", "example": "Acme Corp" },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactEmail" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactPhone" } },
          "owner_user_id": { "type": "string", "format": "uuid" },
          "permission": { "type": "string", "enum": ["all_users", "owners"] }
        }
      },
      "UpdateCompanyRequest": {
        "type": "object",
        "properties": {
          "full_name": { "type": "string" },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactEmail" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactPhone" } },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "permission": { "type": "string", "enum": ["all_users", "owners"] }
        }
      },
      "CompaniesListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Company" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "CompanyResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Company" }
        }
      },
      "CompanyWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/CompanyWithEmbedded" }
        }
      }
    }
  }
}
