{
  "openapi": "3.1.0",
  "info": {
    "title": "Empresas",
    "description": "Gerencie empresas no workspace.",
    "version": "1.0.0",
    "contact": { "name": "Vendaze Support", "email": "suporte@vendaze.com" }
  },
  "servers": [{ "url": "https://api.vendaze.com", "description": "Production" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [{ "name": "Empresas" }],
  "paths": {
    "/v1/companies": {
      "post": {
        "operationId": "createCompany",
        "summary": "Criar empresa",
        "description": "Cria uma nova empresa no workspace. Retorna a empresa criada com `tags`, `lists` e `custom_fields` embutidos.",
        "tags": ["Empresas"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateCompanyRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Empresa criada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyWithEmbeddedResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/v1/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Buscar empresa",
        "description": "Retorna uma empresa por ID com `tags`, `lists` e `custom_fields` embutidos.",
        "tags": ["Empresas"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "Empresa retornada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyWithEmbeddedResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateCompany",
        "summary": "Atualizar empresa",
        "description": "Atualiza uma empresa. Apenas os campos enviados no body são modificados. Retorna a empresa atualizada com `tags`, `lists` e `custom_fields` embutidos.",
        "tags": ["Empresas"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateCompanyRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Empresa atualizada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyWithEmbeddedResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Deletar empresa",
        "description": "Soft-delete: o registro não é mais acessível pela API.",
        "tags": ["Empresas"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Empresa deletada com sucesso." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "Access token OAuth 2.1." }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID do recurso."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Requisição malformada.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "Unauthorized": {
        "description": "Token ausente ou inválido.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "InsufficientScope": {
        "description": "Token sem o escopo necessário.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "NotFound": {
        "description": "Recurso não encontrado.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "ValidationError": {
        "description": "Validação de entrada falhou.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" } } }
      },
      "RateLimitExceeded": {
        "description": "Limite de requisições excedido.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "not_found" },
              "message": { "type": "string", "example": "Company not found." },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "validation_error" },
              "message": { "type": "string", "example": "Validation failed." },
              "fields": {
                "type": "object",
                "additionalProperties": { "type": "string" },
                "example": { "full_name": "String must contain at most 70 character(s)." }
              },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email", "example": "contato@acme.com" },
          "type": {
            "type": "string",
            "enum": ["personal", "work", "other"],
            "description": "Tipo do e-mail.",
            "example": "work"
          }
        }
      },
      "ContactPhone": {
        "type": "object",
        "required": ["phone"],
        "properties": {
          "phone": { "type": "string", "example": "+551130000000" },
          "type": {
            "type": "string",
            "enum": ["mobile", "work", "residential", "other"],
            "description": "Tipo do telefone.",
            "example": "work"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "color_text": { "type": "string", "nullable": true, "example": "#ffffff" },
          "color_background": { "type": "string", "nullable": true, "example": "#0085c0" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "value": { "description": "Valor do campo. O tipo depende da definição do campo adicional." },
          "field": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "label": { "type": "string" },
              "key": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "full_name": { "type": "string", "maxLength": 70, "example": "Acme Corp" },
          "emails": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/ContactEmail" },
            "example": [{ "email": "contato@acme.com", "type": "work" }]
          },
          "phones": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/ContactPhone" },
            "example": [{ "phone": "+551130000000", "type": "work" }]
          },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "example": "https://storage.vendaze.com/client/workspaces/abc/companies/xyz/avatar/avatar_WWT1BGs9ma.webp"
          },
          "entity_id": { "type": "string", "example": "g7wwkh0" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CompanyWithEmbedded": {
        "allOf": [
          { "$ref": "#/components/schemas/Company" },
          {
            "type": "object",
            "properties": {
              "tags": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } },
              "lists": { "type": "array", "items": { "$ref": "#/components/schemas/ContactList" } },
              "custom_fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomFieldValue" } }
            }
          }
        ]
      },
      "CreateCompanyRequest": {
        "type": "object",
        "required": ["full_name"],
        "properties": {
          "full_name": { "type": "string", "maxLength": 70, "example": "Acme Corp" },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactEmail" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactPhone" } },
          "owner_user_id": { "type": "string", "format": "uuid" },
          "avatar_image": {
            "type": "string",
            "description": "Data URI base64 completo da imagem (ex: `data:image/png;base64,...`). Formatos aceitos: JPEG, PNG, WebP, GIF, BMP, TIFF. Convertida para WebP 500x500.",
            "example": "data:image/png;base64,iVBORw0KGgo..."
          },
          "tag_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de tags para associar à empresa."
          },
          "list_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de listas para associar à empresa."
          },
          "deal_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de negócios para associar à empresa."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "setor",
                  "description": "Chave do campo adicional (ex: `setor`). Se não existir nenhum campo com essa chave no workspace, ele é criado automaticamente com tipo `text`."
                },
                "value": { "description": "Valor do campo. O tipo depende da definição do campo adicional." }
              }
            },
            "description": "Valores de campos adicionais para definir na empresa. Identificados por `field_key`. Se o campo não existir, é criado automaticamente com tipo `text`."
          }
        }
      },
      "UpdateCompanyRequest": {
        "type": "object",
        "description": "Todos os campos são opcionais. Apenas os campos enviados no body são modificados.",
        "properties": {
          "full_name": { "type": "string", "maxLength": 70 },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactEmail" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactPhone" } },
          "owner_user_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Envie `null` para remover o responsável."
          },
          "avatar_image": {
            "type": "string",
            "description": "Data URI base64 completo da imagem (ex: `data:image/png;base64,...`). Substitui o avatar atual. Formatos aceitos: JPEG, PNG, WebP, GIF, BMP, TIFF. Convertida para WebP 500x500.",
            "example": "data:image/png;base64,iVBORw0KGgo..."
          },
          "tag_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de tags para associar. O comportamento depende de `association_mode`."
          },
          "list_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de listas para associar. O comportamento depende de `association_mode`."
          },
          "deal_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de negócios para associar. O comportamento depende de `association_mode`."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "setor",
                  "description": "Chave do campo adicional (ex: `setor`). Se não existir nenhum campo com essa chave no workspace, ele é criado automaticamente com tipo `text`."
                },
                "value": { "description": "Valor do campo. O tipo depende da definição do campo adicional." }
              }
            },
            "description": "Valores de campos adicionais. O comportamento depende de `association_mode`. No modo `append`, substitui o valor de cada `field_key` enviado sem alterar os demais."
          },
          "association_mode": {
            "type": "string",
            "enum": ["append", "replace"],
            "default": "append",
            "description": "Controla como as associações (`tag_ids`, `list_ids`, `deal_ids`, `custom_fields`) são aplicadas. `append`: adiciona novas associações sem remover as existentes. `replace`: remove todas as associações atuais de cada tipo enviado e insere as novas. Enviar um array vazio com `replace` remove todas as associações daquele tipo."
          }
        }
      },
      "CompanyWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/CompanyWithEmbedded" }
        }
      }
    }
  }
}
