{
  "openapi": "3.1.0",
  "info": {
    "title": "Negócios",
    "description": "Gerencie negócios no pipeline de vendas.",
    "version": "1.0.0",
    "contact": { "name": "Vendaze Support", "email": "suporte@vendaze.com" }
  },
  "servers": [{ "url": "https://api.vendaze.com", "description": "Production" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [{ "name": "Negócios" }],
  "paths": {
    "/v1/deals": {
      "post": {
        "operationId": "createDeal",
        "summary": "Criar negócio",
        "description": "Cria um novo negócio no workspace. O campo `source` é preenchido automaticamente com o nome do OAuth app que faz a requisição e não pode ser definido pelo integrador.",
        "tags": ["Negócios"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateDealRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Negócio criado com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DealWithEmbeddedResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/v1/deals/{id}": {
      "get": {
        "operationId": "getDeal",
        "summary": "Buscar negócio",
        "description": "Retorna um negócio por ID com pipeline, estágio, produtos, campos adicionais, tags, pessoas e empresas associadas.",
        "tags": ["Negócios"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "Negócio retornado com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DealWithEmbeddedResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateDeal",
        "summary": "Atualizar negócio",
        "description": "Atualiza um negócio. Apenas campos enviados são modificados. O campo `source` não pode ser alterado.",
        "tags": ["Negócios"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateDealRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Negócio atualizado com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DealWithEmbeddedResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "delete": {
        "operationId": "deleteDeal",
        "summary": "Deletar negócio",
        "description": "Soft-delete: o registro não é mais acessível pela API.",
        "tags": ["Negócios"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Negócio deletado com sucesso." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "OAuth 2.1 access token." }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID do recurso."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Token ausente ou inválido.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "InsufficientScope": {
        "description": "Token sem o escopo necessário.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "NotFound": {
        "description": "Recurso não encontrado.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "ValidationError": {
        "description": "Validação de entrada falhou.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" } } }
      },
      "RateLimitExceeded": {
        "description": "Limite de requisições excedido.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "not_found" },
              "message": { "type": "string", "example": "Resource not found." },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "validation_error" },
              "message": { "type": "string", "example": "Validation failed." },
              "fields": { "type": "object", "additionalProperties": { "type": "string" } },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "CurrencyCode": {
        "type": "string",
        "description": "Código ISO 4217 de moeda suportado pela Vendaze.",
        "enum": [
          "AED",
          "ARS",
          "AUD",
          "BRL",
          "CAD",
          "CHF",
          "CLP",
          "CNY",
          "COP",
          "DKK",
          "EGP",
          "EUR",
          "GBP",
          "HKD",
          "ILS",
          "INR",
          "JPY",
          "KWD",
          "MAD",
          "MXN",
          "MYR",
          "NGN",
          "NOK",
          "NZD",
          "PEN",
          "QAR",
          "SAR",
          "SEK",
          "SGD",
          "TRY",
          "USD",
          "UYU",
          "ZAR"
        ],
        "example": "BRL"
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "value": {},
          "field": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "label": { "type": "string" },
              "key": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      },
      "DealProduct": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "product_id": { "type": "string", "format": "uuid", "nullable": true },
          "name": { "type": "string", "nullable": true },
          "quantity": { "type": "integer", "example": 2 },
          "billing_cycle": { "type": "string", "enum": ["one_time", "monthly", "quarterly", "annually"] },
          "unit_price_cts": { "type": "integer", "description": "Preço unitário em centavos.", "example": 50000 },
          "total_price_cts": { "type": "integer", "description": "Preço total em centavos (unit_price_cts × quantity).", "example": 100000 }
        }
      },
      "Deal": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "example": "Contrato Anual Acme Corp" },
          "pipeline_id": { "type": "string", "format": "uuid" },
          "stage_id": { "type": "string", "format": "uuid" },
          "price_cts": { "type": "integer", "description": "Valor em centavos. 250000 = R$ 2.500,00", "example": 250000 },
          "currency": { "$ref": "#/components/schemas/CurrencyCode" },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "source": {
            "type": "string",
            "description": "Nome do OAuth app que criou o negócio. Somente leitura.",
            "example": "Minha Integração"
          },
          "forecast_date": { "type": "string", "format": "date-time", "nullable": true, "example": "2026-12-31T00:00:00Z" },
          "entity_id": { "type": "string", "description": "Identificador único legível.", "example": "NEG-0001" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "DealWithEmbedded": {
        "allOf": [
          { "$ref": "#/components/schemas/Deal" },
          {
            "type": "object",
            "properties": {
              "pipeline": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "name": { "type": "string" }
                }
              },
              "stage": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "name": { "type": "string" },
                  "type": { "type": "string", "enum": ["open", "win", "lost"] }
                }
              },
              "products": { "type": "array", "items": { "$ref": "#/components/schemas/DealProduct" } },
              "custom_fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomFieldValue" } },
              "tags": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "name": { "type": "string" },
                    "color_text": { "type": "string", "nullable": true },
                    "color_background": { "type": "string", "nullable": true }
                  }
                }
              },
              "people": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "full_name": { "type": "string" }
                  }
                }
              },
              "companies": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "full_name": { "type": "string" }
                  }
                }
              }
            }
          }
        ]
      },
      "DealProductInput": {
        "type": "object",
        "required": ["product_id"],
        "properties": {
          "product_id": { "type": "string", "format": "uuid" },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Quantidade de unidades. Aplicável apenas para produtos avulsos (one_time). Produtos recorrentes (monthly, quarterly, annually) sempre usam quantidade 1, independente do valor enviado."
          },
          "unit_price_cts": {
            "type": "integer",
            "minimum": 0,
            "description": "Sobrescreve o preço de catálogo do produto. Em centavos. Se omitido, usa o preço padrão do produto.",
            "example": 50000
          }
        }
      },
      "CreateDealRequest": {
        "type": "object",
        "required": ["name", "pipeline_id", "stage_id", "currency"],
        "properties": {
          "name": { "type": "string", "maxLength": 70, "example": "Contrato Anual Acme Corp" },
          "pipeline_id": { "type": "string", "format": "uuid" },
          "stage_id": { "type": "string", "format": "uuid" },
          "currency": { "$ref": "#/components/schemas/CurrencyCode" },
          "price_cts": { "type": "integer", "minimum": 0, "default": 0, "description": "Valor em centavos.", "example": 250000 },
          "owner_user_id": { "type": "string", "format": "uuid" },
          "forecast_date": { "type": "string", "format": "date-time", "nullable": true, "example": "2026-12-31T00:00:00Z" },
          "person_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "Pessoas a associar ao negócio."
          },
          "company_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "Empresas a associar ao negócio."
          },
          "tag_ids": { "type": "array", "items": { "type": "string", "format": "uuid" } },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "origem_negocio",
                  "description": "Chave do campo adicional (ex: `origem_negocio`). Se não existir nenhum campo com essa chave no workspace, ele é criado automaticamente com tipo `text`."
                },
                "value": {}
              }
            },
            "description": "Valores de campos adicionais a definir no negócio. Identificados por `field_key`. Se o campo não existir, é criado automaticamente com tipo `text`."
          },
          "products": { "type": "array", "items": { "$ref": "#/components/schemas/DealProductInput" } }
        }
      },
      "UpdateDealRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "maxLength": 70 },
          "pipeline_id": { "type": "string", "format": "uuid" },
          "stage_id": { "type": "string", "format": "uuid" },
          "currency": { "$ref": "#/components/schemas/CurrencyCode" },
          "price_cts": { "type": "integer", "minimum": 0 },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "forecast_date": { "type": "string", "format": "date-time", "nullable": true },
          "person_ids": { "type": "array", "items": { "type": "string", "format": "uuid" } },
          "company_ids": { "type": "array", "items": { "type": "string", "format": "uuid" } },
          "tag_ids": { "type": "array", "items": { "type": "string", "format": "uuid" } },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "origem_negocio",
                  "description": "Chave do campo adicional (ex: `origem_negocio`). Se não existir nenhum campo com essa chave no workspace, ele é criado automaticamente com tipo `text`."
                },
                "value": {}
              }
            },
            "description": "Valores de campos adicionais. O comportamento depende de `association_mode`. No modo `append`, substitui o valor de cada `field_key` enviado sem alterar os demais."
          },
          "products": { "type": "array", "items": { "$ref": "#/components/schemas/DealProductInput" } },
          "association_mode": {
            "type": "string",
            "enum": ["append", "replace"],
            "default": "append",
            "description": "append: adiciona sem remover existentes. replace: remove todas as associações dos tipos enviados e insere as novas."
          }
        }
      },
      "DealWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/DealWithEmbedded" }
        }
      }
    }
  }
}
