{
  "openapi": "3.1.0",
  "info": {
    "title": "Negócios",
    "description": "Gerencie negócios no pipeline de vendas.",
    "version": "1.0.0",
    "contact": {
      "name": "Vendaze Support",
      "email": "suporte@vendaze.com"
    }
  },
  "servers": [
    {
      "url": "https://api.vendaze.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Negócios"
    }
  ],
  "paths": {
    "/v1/deals": {
      "get": {
        "operationId": "listDeals",
        "summary": "Listar negócios",
        "description": "Retorna uma lista paginada de negócios do workspace.\n\n<Accordion title=\"Escopo necessário\">\n`deals:read`\n</Accordion>",
        "tags": ["Negócios"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 },
            "description": "Número da página."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 },
            "description": "Registros por página. Máximo: 100."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": { "type": "string", "enum": ["created_at", "updated_at", "name"], "default": "created_at" },
            "description": "Campo de ordenação."
          },
          {
            "name": "order",
            "in": "query",
            "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" },
            "description": "Direção da ordenação."
          },
          {
            "name": "name",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filtrar pelo nome do negócio (busca parcial, sem distinção de maiúsculas/minúsculas)."
          },
          {
            "name": "pipeline_id",
            "in": "query",
            "schema": { "type": "string", "format": "uuid" },
            "description": "Filtrar pelo UUID do pipeline."
          },
          {
            "name": "stage_id",
            "in": "query",
            "schema": { "type": "string", "format": "uuid" },
            "description": "Filtrar pelo UUID da etapa."
          },
          {
            "name": "source",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filtrar pela origem (correspondência exata). A origem é o nome do OAuth app que criou o negócio."
          },
          {
            "name": "forecast_after",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Negócios com forecast_date igual ou posterior a esta data (ISO 8601)."
          },
          {
            "name": "forecast_before",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Negócios com forecast_date igual ou anterior a esta data (ISO 8601)."
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Negócios criados igual ou após esta data (ISO 8601)."
          },
          {
            "name": "created_before",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Negócios criados igual ou antes desta data (ISO 8601)."
          },
          {
            "name": "updated_after",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Negócios atualizados igual ou após esta data (ISO 8601)."
          },
          {
            "name": "updated_before",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Negócios atualizados igual ou antes desta data (ISO 8601)."
          }
        ],
        "responses": {
          "200": {
            "description": "Negócios listados com sucesso.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DealListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "operationId": "createDeal",
        "summary": "Criar negócio",
        "description": "Cria um novo negócio no workspace.\n\n<Accordion title=\"Escopo necessário\">\n`deals:write`\n</Accordion>",
        "tags": ["Negócios"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDealRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Negócio criado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Body JSON inválido ou não parseável. Código de erro: `bad_request`. Mensagem: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/deals/{id}": {
      "get": {
        "operationId": "getDeal",
        "summary": "Buscar negócio",
        "description": "Retorna o negócio correspondente ao ID.\n\n<Accordion title=\"Escopo necessário\">\n`deals:read`\n</Accordion>",
        "tags": ["Negócios"],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Negócio retornado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateDeal",
        "summary": "Atualizar negócio",
        "description": "Atualiza um negócio. Apenas campos enviados são modificados.\n\n<Accordion title=\"Escopo necessário\">\n`deals:write`\n</Accordion>",
        "tags": ["Negócios"],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDealRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Negócio atualizado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Body JSON inválido ou não parseável. Código de erro: `bad_request`. Mensagem: `\"Request body must be valid JSON.\"` Para PATCH sem campos: código `bad_request`, mensagem `\"No fields provided for update.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "No fields provided for update.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteDeal",
        "summary": "Deletar negócio",
        "description": "Soft-delete: o registro não é mais acessível pela API.\n\n<Accordion title=\"Escopo necessário\">\n`deals:write`\n</Accordion>",
        "tags": ["Negócios"],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Negócio deletado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.1 access token."
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "UUID do recurso."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Token ausente, inválido ou expirado. Códigos de erro e mensagens possíveis: `unauthorized`. `\"Missing or invalid Authorization header.\"`, `\"Invalid or malformed token.\"` ou `\"Token is missing required claims.\"`; `token_expired`. `\"Access token expired. Refresh using the refresh token.\"`",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "unauthorized",
                "message": "Missing or invalid Authorization header.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InsufficientScope": {
        "description": "Token sem o escopo necessário. Código de erro: `insufficient_scope`. Mensagem: `\"This endpoint requires the '{scope}' scope.\"` onde `{scope}` é o escopo exato que está faltando (ex: `\"This endpoint requires the 'deals:write' scope.\"`).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "insufficient_scope",
                "message": "This endpoint requires the 'deals:write' scope.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Recurso não encontrado, soft-deletado ou pertencente a outro workspace. Código de erro: `not_found`. Mensagem: `\"Deal not found.\"`",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "not_found",
                "message": "Deal not found.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validação de entrada falhou. Código de erro: `validation_error`. Mensagem: `\"Validation failed.\"` O objeto `fields` mapeia cada campo inválido a uma descrição do problema.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationErrorResponse"
            },
            "example": {
              "error": {
                "code": "validation_error",
                "message": "Validation failed.",
                "fields": {
                  "currency": "Invalid enum value."
                },
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Limite de taxa excedido. Código de erro: `rate_limit_exceeded`. Mensagem: `\"Rate limit exceeded. Try again in {N} seconds.\"` O header `Retry-After` contém o mesmo valor.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "rate_limit_exceeded",
                "message": "Rate limit exceeded. Try again in 60 seconds.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Erro inesperado no servidor. Código de erro: `internal_error`. Mensagens possíveis: `\"An unexpected error occurred.\"` (falha genérica) ou `\"Deal updated but associations failed. Retry the associations.\"` (registro salvo mas atualização de associações falhou). Use o `request_id` para correlacionar com os logs do servidor.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "internal_error",
                "message": "An unexpected error occurred.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "not_found"
              },
              "message": {
                "type": "string",
                "example": "Deal not found."
              },
              "request_id": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "validation_error"
              },
              "message": {
                "type": "string",
                "example": "Validation failed."
              },
              "fields": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "request_id": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "CurrencyCode": {
        "type": "string",
        "description": "Código ISO 4217 de moeda suportado pela Vendaze.",
        "enum": [
          "AED",
          "ARS",
          "AUD",
          "BRL",
          "CAD",
          "CHF",
          "CLP",
          "CNY",
          "COP",
          "DKK",
          "EGP",
          "EUR",
          "GBP",
          "HKD",
          "ILS",
          "INR",
          "JPY",
          "KWD",
          "MAD",
          "MXN",
          "MYR",
          "NGN",
          "NOK",
          "NZD",
          "PEN",
          "QAR",
          "SAR",
          "SEK",
          "SGD",
          "TRY",
          "USD",
          "UYU",
          "ZAR"
        ],
        "example": "BRL"
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "value": {},
          "field": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "label": {
                "type": "string"
              },
              "key": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          }
        }
      },
      "DealProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "product_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "quantity": {
            "type": "integer",
            "example": 2
          },
          "billing_cycle": {
            "type": "string",
            "enum": ["one_time", "monthly", "quarterly", "annually"]
          },
          "unit_price_cts": {
            "type": "integer",
            "description": "Preço unitário em centavos.",
            "example": 50000
          },
          "total_price_cts": {
            "type": "integer",
            "description": "Preço total em centavos.",
            "example": 100000
          }
        }
      },
      "Owner": {
        "type": "object",
        "nullable": true,
        "description": "Membro do workspace responsável pelo registro. `null` quando não há responsável definido.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "joao@empresa.com"
          },
          "name": {
            "type": "string",
            "example": "João Silva"
          }
        }
      },
      "Deal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "Contrato Anual Acme Corp"
          },
          "amount": {
            "type": "integer",
            "description": "Valor em centavos. 250000 = R$ 2.500,00",
            "example": 250000
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "formatted_amount": {
            "type": "string",
            "nullable": true,
            "description": "Valor formatado usando o símbolo, separador decimal e separador de milhar da moeda.",
            "example": "R$ 2.500,00"
          },
          "owner": {
            "$ref": "#/components/schemas/Owner"
          },
          "source": {
            "type": "string",
            "description": "Nome do OAuth app que criou o negócio.",
            "example": "Minha Integração"
          },
          "forecast_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": "2026-12-31T00:00:00Z"
          },
          "entity_id": {
            "type": "string",
            "description": "Identificador único legível.",
            "example": "NEG-0001"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DealWithEmbedded": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Deal"
          },
          {
            "type": "object",
            "properties": {
              "pipeline": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "stage": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": ["open", "win", "lost"]
                  }
                }
              },
              "products": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DealProduct"
                }
              },
              "custom_fields": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomFieldValue"
                }
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color_text": {
                      "type": "string",
                      "nullable": true
                    },
                    "color_background": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              },
              "people": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "full_name": {
                      "type": "string"
                    },
                    "emails": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": { "type": "string" },
                          "type": { "type": "string" }
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "phone": { "type": "string" },
                          "type": { "type": "string" }
                        }
                      }
                    },
                    "avatar_url": { "type": "string", "nullable": true },
                    "entity_id": { "type": "string" },
                    "created_at": { "type": "string", "format": "date-time" },
                    "updated_at": { "type": "string", "format": "date-time" }
                  }
                }
              },
              "companies": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "full_name": {
                      "type": "string"
                    },
                    "emails": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": { "type": "string" },
                          "type": { "type": "string" }
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "phone": { "type": "string" },
                          "type": { "type": "string" }
                        }
                      }
                    },
                    "avatar_url": { "type": "string", "nullable": true },
                    "entity_id": { "type": "string" },
                    "created_at": { "type": "string", "format": "date-time" },
                    "updated_at": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        ]
      },
      "DealProductInput": {
        "type": "object",
        "required": ["product_id"],
        "properties": {
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          "unit_price_cts": {
            "type": "integer",
            "minimum": 0,
            "description": "Preço unitário em centavos.",
            "example": 50000
          }
        }
      },
      "CreateDealRequest": {
        "type": "object",
        "required": ["name", "pipeline_id", "stage_id", "currency"],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 70,
            "example": "Contrato Anual Acme Corp"
          },
          "pipeline_id": {
            "type": "string",
            "format": "uuid"
          },
          "stage_id": {
            "type": "string",
            "format": "uuid"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "price_cts": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Valor em centavos.",
            "example": 250000
          },
          "owner_email": {
            "type": "string",
            "format": "email",
            "description": "E-mail do membro do workspace a definir como responsável.",
            "example": "joao@empresa.com"
          },
          "forecast_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": "2026-12-31T00:00:00Z"
          },
          "person_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Pessoas a associar ao negócio."
          },
          "company_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Empresas a associar ao negócio."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 30
            },
            "description": "Chaves das tags a associar ao negócio."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "origem_negocio"
                },
                "value": {
                  "type": "string"
                }
              }
            },
            "description": "Valores de campos adicionais a definir no negócio."
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DealProductInput"
            }
          }
        }
      },
      "UpdateDealRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 70
          },
          "pipeline_id": {
            "type": "string",
            "format": "uuid"
          },
          "stage_id": {
            "type": "string",
            "format": "uuid"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "price_cts": {
            "type": "integer",
            "minimum": 0,
            "description": "Valor em centavos."
          },
          "owner_email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "E-mail do membro do workspace a definir como responsável.",
            "example": "joao@empresa.com"
          },
          "forecast_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "person_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "company_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 30
            },
            "description": "Chaves das tags a associar."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "origem_negocio"
                },
                "value": {
                  "type": "string"
                }
              }
            },
            "description": "Valores de campos adicionais."
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DealProductInput"
            }
          },
          "association_mode": {
            "type": "string",
            "enum": ["append", "replace"],
            "default": "append"
          }
        }
      },
      "DealWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DealWithEmbedded"
          }
        }
      },
      "DealListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Deal" }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": { "type": "integer", "example": 42 },
              "page": { "type": "integer", "example": 1 },
              "per_page": { "type": "integer", "example": 50 },
              "has_more": { "type": "boolean", "example": false }
            }
          }
        }
      }
    }
  }
}
