{
  "openapi": "3.1.0",
  "info": {
    "title": "OAuth 2.1",
    "description": "Endpoints para registrar aplicativos e gerenciar tokens OAuth 2.1.",
    "version": "1.0.0",
    "contact": {
      "name": "Suporte Vendaze",
      "email": "suporte@vendaze.com"
    }
  },
  "servers": [
    {
      "url": "https://api.vendaze.com",
      "description": "Produção"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "OAuth"
    }
  ],
  "paths": {
    "/v1/auth/register-app": {
      "post": {
        "operationId": "registerApp",
        "summary": "Registrar um aplicativo",
        "description": "Registra um novo aplicativo OAuth. As credenciais são enviadas por e-mail. Não requer autenticação.",
        "security": [],
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAppRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Aplicativo registrado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Body JSON inválido ou não parseável. Código de erro: `bad_request`. Mensagem: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "409": {
            "description": "E-mail já cadastrado em outro aplicativo. Código de erro: `conflict`. Mensagem: `\"An app is already registered with this email address.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "conflict",
                    "message": "An app is already registered with this email address.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Falha ao criar ou persistir o aplicativo. Código de erro: `internal_error`. Mensagem: `\"An unexpected error occurred.\"` Use o `request_id` para correlacionar com os logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/rotate-app": {
      "post": {
        "operationId": "rotateApp",
        "summary": "Rotacionar credenciais do aplicativo",
        "description": "Gera um novo client_secret e invalida o anterior imediatamente. O client_id permanece o mesmo. Os tokens ativos dos usuários não são afetados.",
        "security": [],
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateAppRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credenciais rotacionadas com sucesso. Novas credenciais enviadas por e-mail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Body JSON inválido ou não parseável. Código de erro: `bad_request`. Mensagem: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "E-mail não corresponde ao cadastrado no aplicativo. Código de erro: `invalid_client`. Mensagem: `\"Invalid client credentials.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Aplicativo não encontrado ou revogado. Código de erro: `not_found`. Mensagem: `\"App not found.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "App not found.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Falha ao rotacionar ou persistir as credenciais. Código de erro: `internal_error`. Mensagem: `\"An unexpected error occurred.\"` Use o `request_id` para correlacionar com os logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "operationId": "authorize",
        "summary": "Iniciar autorização",
        "description": "Redireciona o browser do usuário para a tela de consent da Vendaze. **Este endpoint deve ser aberto no browser. não chame com fetch, axios ou qualquer cliente HTTP.** O usuário precisa navegar para esta URL para fazer login e aprovar o acesso. Os escopos são resolvidos a partir do registro do aplicativo.",
        "security": [],
        "tags": ["OAuth"],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do aplicativo OAuth."
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "URI de redirecionamento registrada no aplicativo."
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["code"]
            },
            "description": "Deve ser \"code\"."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "String aleatória gerada pelo cliente. Retornada sem alteração no callback. Fortemente recomendada para prevenção de CSRF."
          }
        ],
        "responses": {
          "302": {
            "description": "Redirecionamento para a tela de consent da Vendaze."
          },
          "400": {
            "description": "Parâmetro ausente ou inválido. Códigos de erro possíveis: `invalid_request` (parâmetro `client_id`, `redirect_uri` ou `response_type` ausente. mensagem identifica o parâmetro específico, ex: `\"Missing required parameter: redirect_uri.\"`), `unsupported_response_type` (`response_type` diferente de `code`. mensagem: `\"response_type must be \\\"code\\\".\"`), `invalid_request` (`redirect_uri` não corresponde a nenhuma URI registrada. mensagem: `\"redirect_uri does not match any registered URI.\"`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Missing required parameter: redirect_uri.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Aplicativo não encontrado ou inativo. Código de erro: `invalid_client`. Mensagem: `\"Invalid client credentials.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Serviço de autorização indisponível. Código de erro: `internal_error`. Mensagem: `\"An unexpected error occurred.\"` Tente novamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "issueToken",
        "summary": "Emitir ou renovar token",
        "description": "Troca um authorization code por tokens, ou renova um access token usando um refresh token. Aceita application/x-www-form-urlencoded (recomendado) ou application/json.",
        "security": [],
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens emitidos com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parâmetro ausente ou inválido. Códigos de erro possíveis: `bad_request` (body malformado ou Content-Type não suportado), `unsupported_grant_type` (`grant_type` diferente de `authorization_code` ou `refresh_token`), `invalid_request` (parâmetro obrigatório ausente para o `grant_type` informado), `invalid_grant` (authorization code inválido, expirado, já utilizado ou sem correspondência).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_grant",
                    "message": "The provided authorization grant is invalid, expired, or does not match.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciais do cliente inválidas (`client_id` ou `client_secret`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Falha na troca de tokens. O servidor de autorização estava indisponível ou retornou uma resposta inesperada. Tente novamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "operationId": "revokeToken",
        "summary": "Revogar token",
        "description": "Revoga um access token ou refresh token. Retorna 200 mesmo que o token já esteja revogado.",
        "security": [],
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token revogado. Também retornado se o token já estava revogado ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parâmetro ausente ou inválido. Códigos de erro possíveis: `bad_request` (body JSON malformado), `invalid_request` (parâmetro `token`, `client_id` ou `client_secret` ausente; ou `token` não é um access token válido. refresh tokens não são aceitos).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Missing required parameter: token.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciais do cliente inválidas (`client_id` ou `client_secret`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Erro inesperado durante a validação das credenciais.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "verifyToken",
        "summary": "Validar autenticação",
        "description": "Valida se o access_token enviado é válido e retorna os dados de autenticação da aplicação e usuário logados. Útil para integradores verificarem a validade do token.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": ["OAuth"],
        "responses": {
          "200": {
            "description": "Autenticação válida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "workspace_slug": {
                      "type": "string",
                      "example": "minha-empresa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Access token OAuth 2.1."
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "UUID do recurso."
      },
      "page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1,
          "minimum": 1
        }
      },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 50,
          "minimum": 1,
          "maximum": 100
        },
        "description": "Máx. 100."
      },
      "order_by": {
        "name": "order_by",
        "in": "query",
        "schema": {
          "type": "string",
          "default": "created_at"
        }
      },
      "order": {
        "name": "order",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": ["asc", "desc"],
          "default": "desc"
        }
      },
      "created_after": {
        "name": "created_after",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "created_before": {
        "name": "created_before",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "updated_after": {
        "name": "updated_after",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "updated_before": {
        "name": "updated_before",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Token ausente, inválido ou expirado. Códigos de erro e mensagens possíveis: `unauthorized`. `\"Missing or invalid Authorization header.\"`, `\"Invalid or malformed token.\"` ou `\"Token is missing required claims.\"`; `token_expired`. `\"Access token expired. Refresh using the refresh token.\"`",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "unauthorized",
                "message": "Missing or invalid Authorization header.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InsufficientScope": {
        "description": "Token sem o escopo necessário. Código de erro: `insufficient_scope`. Mensagem: `\"This endpoint requires the '{scope}' scope.\"` onde `{scope}` é o escopo exato que está faltando.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "insufficient_scope",
                "message": "This endpoint requires the 'people:read' scope.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Recurso não encontrado, soft-deletado ou pertencente a outro workspace. Código de erro: `not_found`. Mensagem: `\"{Entity} not found.\"`",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "not_found",
                "message": "App not found.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validação de entrada falhou. Código de erro: `validation_error`. Mensagem: `\"Validation failed.\"` O objeto `fields` mapeia cada campo inválido a uma descrição do problema.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationErrorResponse"
            },
            "example": {
              "error": {
                "code": "validation_error",
                "message": "Validation failed.",
                "fields": {
                  "email": "Invalid email address."
                },
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Limite de taxa excedido. Código de erro: `rate_limit_exceeded`. Mensagem: `\"Rate limit exceeded. Try again in {N} seconds.\"` O header `Retry-After` contém o mesmo valor.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "rate_limit_exceeded",
                "message": "Rate limit exceeded. Try again in 3600 seconds.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "not_found"
              },
              "message": {
                "type": "string",
                "example": "Resource not found."
              },
              "request_id": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "validation_error"
              },
              "message": {
                "type": "string",
                "example": "Validation failed."
              },
              "fields": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "request_id": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "example": 150
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "per_page": {
            "type": "integer",
            "example": 50
          },
          "has_more": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "nome@empresa.com"
          },
          "type": {
            "type": "string",
            "enum": ["personal", "work", "other"],
            "description": "Tipo do e-mail. Valores aceitos: personal, work, other.",
            "example": "work"
          }
        },
        "example": {
          "email": "nome@empresa.com",
          "type": "work"
        }
      },
      "ContactPhone": {
        "type": "object",
        "required": ["phone"],
        "properties": {
          "phone": {
            "type": "string",
            "example": "+5511999990001"
          },
          "type": {
            "type": "string",
            "enum": ["mobile", "work", "residential", "other"],
            "description": "Tipo do telefone. Valores aceitos: mobile, work, residential, other.",
            "example": "mobile"
          }
        },
        "example": {
          "phone": "+5511999990001",
          "type": "mobile"
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "color_text": {
            "type": "string",
            "nullable": true
          },
          "color_background": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "field": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "label": {
                "type": "string"
              },
              "key": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          }
        }
      },
      "ScopeValue": {
        "type": "string",
        "enum": [
          "people:read",
          "people:write",
          "companies:read",
          "companies:write",
          "deals:read",
          "deals:write",
          "tasks:read",
          "tasks:write",
          "activities:read",
          "activities:write",
          "products:read",
          "products:write",
          "tags:read",
          "tags:write",
          "lists:read",
          "lists:write",
          "custom_fields:read",
          "custom_fields:write"
        ],
        "description": "Um escopo OAuth da Vendaze."
      },
      "RegisterAppRequest": {
        "type": "object",
        "required": ["app_name", "email", "redirect_uris", "scopes"],
        "properties": {
          "app_name": {
            "type": "string",
            "maxLength": 100,
            "example": "Meu SaaS"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "dev@meusaas.com"
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "example": "Integração com a Vendaze para sincronizar contatos."
          },
          "avatar_image": {
            "type": "string",
            "example": "data:image/png;base64,iVBORw0KGgo...",
            "description": "URL HTTPS pública ou Data URI base64 completo do logo do seu app (ex: `data:image/png;base64,...`). Formatos aceitos: JPEG, PNG, WebP, GIF, BMP, TIFF. Máx. 2MB."
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "example": ["https://meusaas.com/callback/vendaze"]
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScopeValue"
            },
            "example": ["people:read", "deals:write"],
            "description": "Escopos que seu app precisa. Usuários aprovam individualmente na tela de consentimento."
          }
        }
      },
      "RegisterAppResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "app_name": {
                "type": "string",
                "example": "Meu SaaS"
              },
              "client_id": {
                "type": "string",
                "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d"
              },
              "avatar_url": {
                "type": "string",
                "example": "https://storage.vendaze.com/assets/integrations/meusaas.jpg",
                "description": "URL pública do avatar armazenado. Presente somente se avatar_image foi enviado na requisição."
              },
              "message": {
                "type": "string",
                "example": "Credentials sent by email."
              }
            }
          }
        }
      },
      "RotateAppRequest": {
        "type": "object",
        "required": ["client_id", "email"],
        "properties": {
          "client_id": {
            "type": "string",
            "format": "uuid",
            "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d",
            "description": "client_id atual do aplicativo a ser rotacionado."
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "dev@meusaas.com",
            "description": "E-mail cadastrado no aplicativo. Usado para verificar a propriedade. A API nunca revela qual e-mail está cadastrado."
          },
          "app_name": {
            "type": "string",
            "maxLength": 100,
            "example": "Meu SaaS v2",
            "description": "Novo nome exibido aos usuários na tela de consentimento. Máx. 100 chars. Se omitido, o nome atual é mantido."
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "example": "Integração atualizada com a Vendaze.",
            "description": "Nova descrição do que seu app faz. Máx. 500 chars. Se omitido, a descrição atual é mantida."
          },
          "avatar_image": {
            "type": "string",
            "example": "data:image/png;base64,iVBORw0KGgo...",
            "description": "URL HTTPS pública ou Data URI base64 completo do logo do seu app (ex: `data:image/png;base64,...`). Formatos aceitos: JPEG, PNG, WebP, GIF, BMP, TIFF. Se omitido, o avatar atual é mantido."
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "example": ["https://meusaas.com/callback/vendaze"],
            "description": "Nova lista de URIs HTTPS de redirecionamento. Substitui a lista anterior integralmente. Se omitido, a lista atual é mantida."
          }
        }
      },
      "RotateAppResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "app_name": {
                "type": "string",
                "example": "Meu SaaS v2"
              },
              "client_id": {
                "type": "string",
                "format": "uuid",
                "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d",
                "description": "O client_id do aplicativo. Não muda após a rotação."
              },
              "avatar_url": {
                "type": "string",
                "example": "https://storage.vendaze.com/assets/integrations/meusaasv2.jpg",
                "description": "URL pública do avatar armazenado. Presente somente se avatar_image foi enviado na requisição."
              },
              "message": {
                "type": "string",
                "example": "New credentials sent by email."
              }
            }
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "required": ["grant_type", "client_id", "client_secret"],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": ["authorization_code", "refresh_token"],
            "description": "Tipo de concessão."
          },
          "code": {
            "type": "string",
            "description": "Obrigatório para grant_type=authorization_code."
          },
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string",
            "description": "Obrigatório para grant_type=refresh_token."
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "required": ["access_token", "refresh_token", "token_type", "expires_in", "workspace_slug"],
        "properties": {
          "access_token": {
            "type": "string",
            "example": "eyJ..."
          },
          "refresh_token": {
            "type": "string",
            "example": "eyJ..."
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "example": 3600
          },
          "workspace_slug": {
            "type": "string",
            "description": "Slug do workspace autorizado pelo usuário. Use para identificar qual conta está conectada no seu app.",
            "example": "acme-corp"
          }
        }
      },
      "RevokeTokenRequest": {
        "type": "object",
        "required": ["token", "client_id", "client_secret"],
        "properties": {
          "token": {
            "type": "string",
            "description": "Access token a ser revogado. Deve ser o access_token (JWT), não o refresh_token."
          },
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          }
        }
      }
    }
  }
}
