{
  "openapi": "3.1.0",
  "info": {
    "title": "OAuth 2.1",
    "description": "Endpoints para registrar aplicativos e gerenciar tokens OAuth 2.1.",
    "version": "1.0.0",
    "contact": { "name": "Suporte Vendaze", "email": "suporte@vendaze.com" }
  },
  "servers": [{ "url": "https://api.vendaze.com", "description": "Produção" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [{ "name": "OAuth" }],
  "paths": {
    "/v1/auth/register-app": {
      "post": {
        "operationId": "registerApp",
        "summary": "Registrar um aplicativo",
        "description": "Registra um novo aplicativo OAuth. As credenciais são enviadas por e-mail. Não requer autenticação.",
        "security": [],
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterAppRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Aplicativo registrado com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterAppResponse" } } }
          },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/v1/auth/rotate-app": {
      "post": {
        "operationId": "rotateApp",
        "summary": "Rotacionar credenciais do aplicativo",
        "description": "Gera um novo client_secret e invalida o anterior imediatamente. O client_id permanece o mesmo. Os tokens ativos dos usuários não são afetados.",
        "security": [],
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RotateAppRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Credenciais rotacionadas com sucesso. Novas credenciais enviadas por e-mail.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RotateAppResponse" } } }
          },
          "401": {
            "description": "client_id ou e-mail inválido.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "operationId": "authorize",
        "summary": "Iniciar autorização",
        "description": "Redireciona o browser do usuário para a tela de consent da Vendaze. Os escopos são resolvidos a partir do registro do aplicativo.",
        "security": [],
        "tags": ["OAuth"],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "ID do aplicativo OAuth."
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "uri" },
            "description": "URI de redirecionamento registrada no aplicativo."
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["code"] },
            "description": "Deve ser \"code\"."
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "String opaca gerada pelo cliente para prevenção de CSRF."
          }
        ],
        "responses": {
          "302": { "description": "Redirecionamento para a tela de consent da Vendaze." },
          "400": {
            "description": "Parâmetro inválido.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "issueToken",
        "summary": "Emitir ou renovar token",
        "description": "Troca um código de autorização por tokens, ou renova um access token usando um refresh token.",
        "security": [],
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TokenRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Tokens emitidos com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TokenResponse" } } }
          },
          "400": {
            "description": "Requisição inválida.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Credenciais inválidas.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "operationId": "revokeToken",
        "summary": "Revogar token",
        "description": "Revoga um access token ou refresh token. Retorna 200 mesmo que o token já esteja revogado.",
        "security": [],
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RevokeTokenRequest" } } }
        },
        "responses": {
          "200": { "description": "Token revogado." },
          "401": {
            "description": "Credenciais inválidas.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "Access token OAuth 2.1." }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID do recurso."
      },
      "page": { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1, "minimum": 1 } },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 100 },
        "description": "Máx. 100."
      },
      "order_by": { "name": "order_by", "in": "query", "schema": { "type": "string", "default": "created_at" } },
      "order": { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" } },
      "created_after": { "name": "created_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "created_before": { "name": "created_before", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "updated_after": { "name": "updated_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "updated_before": { "name": "updated_before", "in": "query", "schema": { "type": "string", "format": "date-time" } }
    },
    "responses": {
      "Unauthorized": {
        "description": "Token ausente ou inválido.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "InsufficientScope": {
        "description": "Token sem o escopo necessário.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "NotFound": {
        "description": "Recurso não encontrado.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "ValidationError": {
        "description": "Validação de entrada falhou.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" } } }
      },
      "RateLimitExceeded": {
        "description": "Limite de taxa excedido.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "not_found" },
              "message": { "type": "string", "example": "Resource not found." },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "validation_error" },
              "message": { "type": "string", "example": "Validation failed." },
              "fields": { "type": "object", "additionalProperties": { "type": "string" } },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "example": 150 },
          "page": { "type": "integer", "example": 1 },
          "per_page": { "type": "integer", "example": 50 },
          "has_more": { "type": "boolean", "example": true }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email", "example": "nome@empresa.com" },
          "reminder": {
            "type": "string",
            "enum": ["personal", "work", "other"],
            "description": "Tipo do e-mail. Valores aceitos: personal, work, other.",
            "example": "work"
          }
        },
        "example": { "email": "nome@empresa.com", "reminder": "work" }
      },
      "ContactPhone": {
        "type": "object",
        "required": ["phone"],
        "properties": {
          "phone": { "type": "string", "example": "+5511999990001" },
          "reminder": {
            "type": "string",
            "enum": ["mobile", "work", "residential", "other"],
            "description": "Tipo do telefone. Valores aceitos: mobile, work, residential, other.",
            "example": "mobile"
          }
        },
        "example": { "phone": "+5511999990001", "reminder": "mobile" }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "color_text": { "type": "string", "nullable": true },
          "color_background": { "type": "string", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "value": { "type": "string", "nullable": true },
          "field": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "label": { "type": "string" },
              "key": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      },
      "ScopeValue": {
        "type": "string",
        "enum": [
          "people:read",
          "people:write",
          "companies:read",
          "companies:write",
          "deals:read",
          "deals:write",
          "tasks:read",
          "tasks:write",
          "activities:read",
          "activities:write",
          "products:read",
          "products:write",
          "tags:read",
          "tags:write",
          "lists:read",
          "lists:write",
          "custom_fields:read",
          "custom_fields:write"
        ],
        "description": "Um escopo OAuth da Vendaze."
      },
      "RegisterAppRequest": {
        "type": "object",
        "required": ["app_name", "email", "redirect_uris", "scopes"],
        "properties": {
          "app_name": { "type": "string", "maxLength": 100, "example": "Meu SaaS" },
          "email": { "type": "string", "format": "email", "example": "dev@meusaas.com" },
          "description": { "type": "string", "maxLength": 500, "example": "Integração com a Vendaze para sincronizar contatos." },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "example": "https://meusaas.com/assets/logo.webp",
            "description": "URL HTTPS do logo do seu app. A Vendaze faz o download da imagem, valida o formato pelo magic byte e armazena. Formatos aceitos: WebP, JPEG, PNG. Máx. 2MB."
          },
          "redirect_uris": {
            "type": "array",
            "items": { "type": "string", "format": "uri" },
            "example": ["https://meusaas.com/callback/vendaze"]
          },
          "scopes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ScopeValue" },
            "example": ["people:read", "deals:write"],
            "description": "Escopos que seu app precisa. Usuários aprovam individualmente na tela de consentimento."
          }
        }
      },
      "RegisterAppResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "app_name": { "type": "string", "example": "Meu SaaS" },
              "client_id": { "type": "string", "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d" },
              "avatar_url": {
                "type": "string",
                "example": "https://storage.vendaze.com/assets/integrations/meusaas.webp",
                "description": "URL pública do avatar armazenado. Presente somente se avatar_url foi enviado na requisição."
              },
              "message": { "type": "string", "example": "Credentials sent by email." }
            }
          }
        }
      },
      "RotateAppRequest": {
        "type": "object",
        "required": ["client_id", "email"],
        "properties": {
          "client_id": {
            "type": "string",
            "format": "uuid",
            "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d",
            "description": "client_id atual do aplicativo a ser rotacionado."
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "dev@meusaas.com",
            "description": "E-mail cadastrado no aplicativo. Usado para verificar a propriedade. A API nunca revela qual e-mail está cadastrado."
          },
          "app_name": {
            "type": "string",
            "maxLength": 100,
            "example": "Meu SaaS v2",
            "description": "Novo nome exibido aos usuários na tela de consentimento. Máx. 100 chars. Se omitido, o nome atual é mantido."
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "example": "Integração atualizada com a Vendaze.",
            "description": "Nova descrição do que seu app faz. Máx. 500 chars. Se omitido, a descrição atual é mantida."
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "example": "https://meusaas.com/assets/logo-v2.webp",
            "description": "URL HTTPS do logo do seu app. A Vendaze faz o download da imagem, valida o formato, converte para JPEG (máx. 400x400px) e armazena. Formatos aceitos: JPEG, PNG, WebP, GIF, BMP, TIFF. SVG não é aceito. Se omitido, o avatar atual é mantido."
          },
          "redirect_uris": {
            "type": "array",
            "items": { "type": "string", "format": "uri" },
            "example": ["https://meusaas.com/callback/vendaze"],
            "description": "Nova lista de URIs HTTPS de redirecionamento. Substitui a lista anterior integralmente. Se omitido, a lista atual é mantida."
          }
        }
      },
      "RotateAppResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "app_name": { "type": "string", "example": "Meu SaaS v2" },
              "client_id": {
                "type": "string",
                "format": "uuid",
                "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d",
                "description": "O client_id do aplicativo. Não muda após a rotação."
              },
              "avatar_url": {
                "type": "string",
                "example": "https://storage.vendaze.com/assets/integrations/meusaasv2.jpg",
                "description": "URL pública do avatar armazenado. Presente somente se avatar_url foi enviado na requisição."
              },
              "message": { "type": "string", "example": "New credentials sent by email." }
            }
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "required": ["grant_type", "client_id", "client_secret"],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": ["authorization_code", "refresh_token"],
            "description": "Tipo de concessão."
          },
          "code": { "type": "string", "description": "Obrigatório para grant_type=authorization_code." },
          "redirect_uri": { "type": "string", "format": "uri", "description": "Obrigatório para grant_type=authorization_code." },
          "client_id": { "type": "string" },
          "client_secret": { "type": "string" },
          "refresh_token": { "type": "string", "description": "Obrigatório para grant_type=refresh_token." }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": { "type": "string", "example": "eyJ..." },
          "refresh_token": { "type": "string", "example": "eyJ..." },
          "token_type": { "type": "string", "example": "Bearer" },
          "expires_in": { "type": "integer", "example": 3600 },
          "workspace_slug": {
            "type": "string",
            "description": "Slug do workspace autorizado pelo usuário. Use para identificar qual conta está conectada no seu app.",
            "example": "acme-corp"
          }
        }
      },
      "RevokeTokenRequest": {
        "type": "object",
        "required": ["token", "client_id", "client_secret"],
        "properties": {
          "token": { "type": "string", "description": "Access token ou refresh token a ser revogado." },
          "client_id": { "type": "string" },
          "client_secret": { "type": "string" }
        }
      }
    }
  }
}
