{
  "openapi": "3.1.0",
  "info": {
    "title": "OAuth 2.1",
    "description": "Endpoints para registrar aplicativos e gerenciar tokens OAuth 2.1.",
    "version": "1.0.0",
    "contact": {
      "name": "Suporte Vendaze",
      "email": "suporte@vendaze.com"
    }
  },
  "servers": [
    {
      "url": "https://api.vendaze.com",
      "description": "Produção"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "OAuth"
    },
    {
      "name": "Pessoas"
    },
    {
      "name": "Empresas"
    },
    {
      "name": "Negócios"
    },
    {
      "name": "Tarefas"
    },
    {
      "name": "Tipos de Tarefas"
    },
    {
      "name": "Tags"
    },
    {
      "name": "Listas"
    }
  ],
  "paths": {
    "/v1/auth/register-app": {
      "post": {
        "operationId": "registerApp",
        "summary": "Registrar um aplicativo",
        "description": "Registra um novo aplicativo OAuth. As credenciais são enviadas por e-mail. Não requer autenticação.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAppRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Aplicativo registrado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Body JSON inválido ou não parseável. Código de erro: `bad_request`. Mensagem: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "409": {
            "description": "E-mail já cadastrado em outro aplicativo. Código de erro: `conflict`. Mensagem: `\"An app is already registered with this email address.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "conflict",
                    "message": "An app is already registered with this email address.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Falha ao criar ou persistir o aplicativo. Código de erro: `internal_error`. Mensagem: `\"An unexpected error occurred.\"` Use o `request_id` para correlacionar com os logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/rotate-app": {
      "post": {
        "operationId": "rotateApp",
        "summary": "Rotacionar credenciais do aplicativo",
        "description": "Gera um novo client_secret e invalida o anterior imediatamente. O client_id permanece o mesmo. Os tokens ativos dos usuários não são afetados.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateAppRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credenciais rotacionadas com sucesso. Novas credenciais enviadas por e-mail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Body JSON inválido ou não parseável. Código de erro: `bad_request`. Mensagem: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "E-mail não corresponde ao cadastrado no aplicativo. Código de erro: `invalid_client`. Mensagem: `\"Invalid client credentials.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Aplicativo não encontrado ou revogado. Código de erro: `not_found`. Mensagem: `\"App not found.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "App not found.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Falha ao rotacionar ou persistir as credenciais. Código de erro: `internal_error`. Mensagem: `\"An unexpected error occurred.\"` Use o `request_id` para correlacionar com os logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "operationId": "authorize",
        "summary": "Iniciar autorização",
        "description": "Redireciona o browser do usuário para a tela de consent da Vendaze. **Este endpoint deve ser aberto no browser. não chame com fetch, axios ou qualquer cliente HTTP.** O usuário precisa navegar para esta URL para fazer login e aprovar o acesso. Os escopos são resolvidos a partir do registro do aplicativo.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do aplicativo OAuth."
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "URI de redirecionamento registrada no aplicativo."
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            },
            "description": "Deve ser \"code\"."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "String aleatória gerada pelo cliente. Retornada sem alteração no callback. Fortemente recomendada para prevenção de CSRF."
          }
        ],
        "responses": {
          "302": {
            "description": "Redirecionamento para a tela de consent da Vendaze."
          },
          "400": {
            "description": "Parâmetro ausente ou inválido. Códigos de erro possíveis: `invalid_request` (parâmetro `client_id`, `redirect_uri` ou `response_type` ausente. mensagem identifica o parâmetro específico, ex: `\"Missing required parameter: redirect_uri.\"`), `unsupported_response_type` (`response_type` diferente de `code`. mensagem: `\"response_type must be \\\"code\\\".\"`), `invalid_request` (`redirect_uri` não corresponde a nenhuma URI registrada. mensagem: `\"redirect_uri does not match any registered URI.\"`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Missing required parameter: redirect_uri.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Aplicativo não encontrado ou inativo. Código de erro: `invalid_client`. Mensagem: `\"Invalid client credentials.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Serviço de autorização indisponível. Código de erro: `internal_error`. Mensagem: `\"An unexpected error occurred.\"` Tente novamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "issueToken",
        "summary": "Emitir ou renovar token",
        "description": "Troca um authorization code por tokens, ou renova um access token usando um refresh token. Aceita application/x-www-form-urlencoded (recomendado) ou application/json.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens emitidos com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parâmetro ausente ou inválido. Códigos de erro possíveis: `bad_request` (body malformado ou Content-Type não suportado), `unsupported_grant_type` (`grant_type` diferente de `authorization_code` ou `refresh_token`), `invalid_request` (parâmetro obrigatório ausente para o `grant_type` informado), `invalid_grant` (authorization code inválido, expirado, já utilizado ou sem correspondência).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_grant",
                    "message": "The provided authorization grant is invalid, expired, or does not match.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciais do cliente inválidas (`client_id` ou `client_secret`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Falha na troca de tokens. O servidor de autorização estava indisponível ou retornou uma resposta inesperada. Tente novamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "operationId": "revokeToken",
        "summary": "Revogar token",
        "description": "Revoga um access token ou refresh token. Retorna 200 mesmo que o token já esteja revogado.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token revogado. Também retornado se o token já estava revogado ou expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parâmetro ausente ou inválido. Códigos de erro possíveis: `bad_request` (body JSON malformado), `invalid_request` (parâmetro `token`, `client_id` ou `client_secret` ausente; ou `token` não é um access token válido. refresh tokens não são aceitos).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Missing required parameter: token.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciais do cliente inválidas (`client_id` ou `client_secret`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Erro inesperado durante a validação das credenciais.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "verifyToken",
        "summary": "Validar autenticação",
        "description": "Valida se o access_token enviado é válido e retorna os dados de autenticação da aplicação e usuário logados. Útil para integradores verificarem a validade do token.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "OAuth"
        ],
        "responses": {
          "200": {
            "description": "Autenticação válida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "workspace_slug": {
                      "type": "string",
                      "example": "minha-empresa"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/people": {
      "get": {
        "operationId": "listPeople",
        "summary": "Listar pessoas",
        "description": "Retorna uma lista paginada de pessoas no workspace. Não inclui `company`, `tags` ou `lists` embutidos. `custom_fields` são incluídos.",
        "tags": [
          "Pessoas"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Número da página."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            },
            "description": "Número de registros por página. Máximo: 50."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at",
                "full_name"
              ],
              "default": "created_at"
            },
            "description": "Campo para ordenação."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Direção da ordenação."
          }
        ],
        "responses": {
          "200": {
            "description": "Pessoas retornadas com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "full_name": "Maria Silva",
                      "emails": [
                        {
                          "email": "maria@empresa.com",
                          "type": "work"
                        }
                      ],
                      "phones": [
                        {
                          "phone": "+5511999990001",
                          "type": "mobile"
                        }
                      ],
                      "owner": {
                        "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                        "email": "joao@empresa.com",
                        "name": "João Silva"
                      },
                      "avatar_url": null,
                      "entity_id": "g7wwkh0",
                      "created_at": "2026-01-15T10:30:00Z",
                      "updated_at": "2026-01-15T10:30:00Z",
                      "custom_fields": []
                    }
                  ],
                  "meta": {
                    "total": 120,
                    "page": 1,
                    "per_page": 50,
                    "has_more": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createPerson",
        "summary": "Criar pessoa",
        "description": "Cria uma nova pessoa no workspace. Retorna a pessoa criada com `company`, `tags`, `lists` e `custom_fields` embutidos.",
        "tags": [
          "Pessoas"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePersonRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pessoa criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/people/{id}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Buscar pessoa",
        "description": "Retorna uma pessoa por ID com `company`, `tags`, `lists` e `custom_fields` embutidos.",
        "tags": [
          "Pessoas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Pessoa retornada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updatePerson",
        "summary": "Atualizar pessoa",
        "description": "Atualiza uma pessoa. Apenas os campos enviados são modificados. Retorna a pessoa atualizada com `company`, `tags`, `lists` e `custom_fields` embutidos.",
        "tags": [
          "Pessoas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pessoa atualizada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deletePerson",
        "summary": "Deletar pessoa",
        "description": "Soft-delete: o registro não é mais acessível pela API.",
        "tags": [
          "Pessoas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Pessoa deletada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/companies": {
      "get": {
        "operationId": "listCompanies",
        "summary": "Listar empresas",
        "description": "Retorna uma lista paginada de empresas no workspace. Não inclui `tags` ou `lists` embutidos. `custom_fields` são incluídos.",
        "tags": [
          "Empresas"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Número da página."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            },
            "description": "Número de registros por página. Máximo: 50."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at",
                "full_name"
              ],
              "default": "created_at"
            },
            "description": "Campo para ordenação."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Direção da ordenação."
          }
        ],
        "responses": {
          "200": {
            "description": "Empresas retornadas com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompaniesListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "full_name": "Acme Corp",
                      "emails": [
                        {
                          "email": "contato@acme.com.br",
                          "type": "work"
                        }
                      ],
                      "phones": [
                        {
                          "phone": "+551130000000",
                          "type": "work"
                        }
                      ],
                      "owner": {
                        "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                        "email": "joao@empresa.com",
                        "name": "João Silva"
                      },
                      "avatar_url": null,
                      "entity_id": "g7wwkh0",
                      "created_at": "2026-01-15T10:30:00Z",
                      "updated_at": "2026-01-15T10:30:00Z",
                      "custom_fields": []
                    }
                  ],
                  "meta": {
                    "total": 85,
                    "page": 1,
                    "per_page": 50,
                    "has_more": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createCompany",
        "summary": "Criar empresa",
        "description": "Cria uma nova empresa no workspace. Retorna a empresa criada com `tags`, `lists` e `custom_fields` embutidos.",
        "tags": [
          "Empresas"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompanyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Empresa criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Buscar empresa",
        "description": "Retorna uma empresa por ID com `tags`, `lists` e `custom_fields` embutidos.",
        "tags": [
          "Empresas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Empresa retornada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateCompany",
        "summary": "Atualizar empresa",
        "description": "Atualiza uma empresa. Apenas os campos enviados no body são modificados. Retorna a empresa atualizada com `tags`, `lists` e `custom_fields` embutidos.",
        "tags": [
          "Empresas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompanyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Empresa atualizada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Deletar empresa",
        "description": "Soft-delete: o registro não é mais acessível pela API.",
        "tags": [
          "Empresas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Empresa deletada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/deals": {
      "post": {
        "operationId": "createDeal",
        "summary": "Criar negócio",
        "description": "Cria um novo negócio no workspace. O campo `source` é preenchido automaticamente com o nome do OAuth app que faz a requisição e não pode ser definido pelo integrador.",
        "tags": [
          "Negócios"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDealRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Negócio criado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Body JSON inválido ou não parseável. Código de erro: `bad_request`. Mensagem: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/deals/{id}": {
      "get": {
        "operationId": "getDeal",
        "summary": "Buscar negócio",
        "description": "Retorna um negócio por ID com pipeline, estágio, produtos, campos adicionais, tags, pessoas e empresas associadas.",
        "tags": [
          "Negócios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Negócio retornado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateDeal",
        "summary": "Atualizar negócio",
        "description": "Atualiza um negócio. Apenas campos enviados são modificados. O campo `source` não pode ser alterado.",
        "tags": [
          "Negócios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDealRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Negócio atualizado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Body JSON inválido ou não parseável. Código de erro: `bad_request`. Mensagem: `\"Request body must be valid JSON.\"` Para PATCH sem campos: código `bad_request`, mensagem `\"No fields provided for update.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "No fields provided for update.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteDeal",
        "summary": "Deletar negócio",
        "description": "Soft-delete: o registro não é mais acessível pela API.",
        "tags": [
          "Negócios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Negócio deletado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "Listar tarefas",
        "description": "Retorna uma lista paginada de tarefas do workspace. Suporta filtros por `person_id`, `company_id`, `deal_id`, `type_id`, `priority` e `completed`. Cada tarefa inclui o objeto `type` embutido.\n\n**Escopo:** `tasks:read`.",
        "tags": [
          "Tarefas"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Número da página."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Quantidade de registros por página. Máximo: 100."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "due_date",
                "updated_at"
              ],
              "default": "created_at"
            },
            "description": "Campo de ordenação."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Direção da ordenação."
          },
          {
            "name": "person_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filtrar por UUID de pessoa."
          },
          {
            "name": "company_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filtrar por UUID de empresa."
          },
          {
            "name": "deal_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filtrar por UUID de deal."
          },
          {
            "name": "type_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filtrar por UUID do tipo de tarefa."
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "high",
                "medium",
                "low"
              ]
            },
            "description": "Filtrar por nível de prioridade."
          },
          {
            "name": "completed",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Filtrar por status de conclusão."
          }
        ],
        "responses": {
          "200": {
            "description": "Tarefas retornadas com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TasksListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "title": "Ligar para o prospect",
                      "notes": "Enviar a proposta até sexta.",
                      "due_date": "2026-06-15T09:00:00Z",
                      "type": {
                        "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                        "title": "Ligação",
                        "color": "#463dfb",
                        "key": "ligacao"
                      },
                      "person_id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
                      "company_id": null,
                      "deal_id": null,
                      "owner": {
                        "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
                        "name": "João Silva",
                        "email": "joao@empresa.com.br"
                      },
                      "priority": "high",
                      "completed": false,
                      "created_at": "2026-06-01T10:30:00Z",
                      "updated_at": "2026-06-01T10:30:00Z"
                    }
                  ],
                  "meta": {
                    "total": 34,
                    "page": 1,
                    "per_page": 50,
                    "has_more": false
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Criar tarefa",
        "description": "Cria uma nova tarefa no workspace.\n\n**Escopo:** `tasks:write`.\n\n`owner_email` deve ser o e-mail de um membro existente do workspace. A API resolve internamente para o ID do usuário.",
        "tags": [
          "Tarefas"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tarefa criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/tasks/{id}": {
      "patch": {
        "operationId": "updateTask",
        "summary": "Atualizar tarefa",
        "description": "Atualiza uma tarefa. Apenas os campos enviados no body são alterados.\n\n**Escopo:** `tasks:write`.\n\nEnvie `null` para `type_id`, `person_id`, `company_id`, `deal_id` ou `owner_email` para remover essas associações. Envie `null` para `priority` para limpar a prioridade.",
        "tags": [
          "Tarefas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tarefa atualizada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteTask",
        "summary": "Deletar tarefa",
        "description": "Remove permanentemente uma tarefa. A operação é irreversível: tarefas não possuem soft delete.\n\n**Escopo:** `tasks:write`.",
        "tags": [
          "Tarefas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Tarefa deletada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/task-types": {
      "get": {
        "operationId": "listTaskTypes",
        "summary": "Listar tipos de tarefa",
        "description": "Retorna uma lista paginada dos tipos de tarefa do workspace.\n\n**Escopo:** `tasks:read`.",
        "tags": [
          "Tipos de Tarefas"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Número da página."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Quantidade de registros por página. Máximo: 100."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "title"
              ],
              "default": "created_at"
            },
            "description": "Campo de ordenação."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Direção da ordenação."
          }
        ],
        "responses": {
          "200": {
            "description": "Tipos de tarefa retornados com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskTypesListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "title": "Ligação",
                      "color": "#463dfb",
                      "key": "ligacao",
                      "created_at": "2026-01-15T10:30:00Z",
                      "updated_at": "2026-01-15T10:30:00Z"
                    }
                  ],
                  "meta": {
                    "total": 5,
                    "page": 1,
                    "per_page": 50,
                    "has_more": false
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createTaskType",
        "summary": "Criar tipo de tarefa",
        "description": "Cria um novo tipo de tarefa no workspace.\n\n**Escopo:** `tasks:write`.\n\nA `key` deve ser única no workspace e conter apenas letras minúsculas, dígitos e underscores entre palavras (ex: `follow_up`). Se omitida, o tipo ainda pode ser referenciado pelo `id`.",
        "tags": [
          "Tipos de Tarefas"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskTypeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tipo de tarefa criado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskTypeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/task-types/{id}": {
      "patch": {
        "operationId": "updateTaskType",
        "summary": "Atualizar tipo de tarefa",
        "description": "Atualiza um tipo de tarefa. Apenas os campos enviados no body são alterados.\n\n**Escopo:** `tasks:write`.\n\nEnvie `null` para `key` para remover a chave deste tipo.",
        "tags": [
          "Tipos de Tarefas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskTypeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tipo de tarefa atualizado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskTypeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteTaskType",
        "summary": "Deletar tipo de tarefa",
        "description": "Remove permanentemente um tipo de tarefa. As tarefas associadas a este tipo terão o campo `type` definido como `null`.\n\n**Escopo:** `tasks:write`.",
        "tags": [
          "Tipos de Tarefas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Tipo de tarefa deletado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "Listar tags",
        "description": "Retorna uma lista paginada das tags do workspace.\n\n**Escopo:** Qualquer escopo válido da Vendaze.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Número da página."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Quantidade de registros por página. Máximo: 100."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "name"
              ],
              "default": "created_at"
            },
            "description": "Campo de ordenação."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Direção da ordenação."
          }
        ],
        "responses": {
          "200": {
            "description": "Tags retornadas com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "Lead Quente",
                      "key": "lead_quente",
                      "color_text": "#ffffff",
                      "color_background": "#ef4444",
                      "created_at": "2026-01-15T10:30:00Z"
                    }
                  ],
                  "meta": {
                    "total": 12,
                    "page": 1,
                    "per_page": 50,
                    "has_more": false
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createTag",
        "summary": "Criar tag",
        "description": "Cria uma nova tag no workspace.\n\n**Escopo:** `people:write`, `companies:write` ou `deals:write`.\n\nA `key` deve ser única no workspace e conter apenas letras minúsculas, dígitos e underscores entre palavras (ex: `lead_quente`). Espaços, acentos e outros caracteres não são permitidos.",
        "tags": [
          "Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTagRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/tags/{identifier}": {
      "get": {
        "operationId": "getTag",
        "summary": "Buscar tag",
        "description": "Retorna uma tag pelo `id` (UUID) ou `key` (string).\n\n**Escopo:** Qualquer escopo válido da Vendaze.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag retornada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateTag",
        "summary": "Atualizar tag",
        "description": "Atualiza uma tag pelo `id` (UUID) ou `key` (string). Apenas os campos enviados no body são alterados.\n\n**Escopo:** `people:write`, `companies:write` ou `deals:write`.\n\nPara remover uma cor customizada e reverter para o padrão do workspace, envie `null` em `color_text` ou `color_background`.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag atualizada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteTag",
        "summary": "Deletar tag",
        "description": "Realiza o soft delete de uma tag pelo `id` (UUID) ou `key` (string). Todas as associações da tag com pessoas, empresas e deals também são removidas.\n\n**Escopo:** `people:write`, `companies:write` ou `deals:write`.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/identifier"
          }
        ],
        "responses": {
          "204": {
            "description": "Tag deletada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/lists": {
      "get": {
        "operationId": "listLists",
        "summary": "Listar listas",
        "description": "Retorna uma lista paginada das listas de contatos do workspace. Cada item inclui `people_count` e `companies_count` com a quantidade atual de membros.\n\n**Escopo:** `people:read` ou `companies:read`.",
        "tags": [
          "Listas"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Número da página."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Quantidade de registros por página. Máximo: 100."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "name"
              ],
              "default": "created_at"
            },
            "description": "Campo de ordenação."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Direção da ordenação."
          }
        ],
        "responses": {
          "200": {
            "description": "Listas retornadas com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListsListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "Assinantes da Newsletter",
                      "people_count": 142,
                      "companies_count": 0,
                      "created_at": "2026-01-15T10:30:00Z"
                    }
                  ],
                  "meta": {
                    "total": 8,
                    "page": 1,
                    "per_page": 50,
                    "has_more": false
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createList",
        "summary": "Criar lista",
        "description": "Cria uma nova lista de contatos no workspace.\n\n**Escopo:** `people:write` ou `companies:write`.",
        "tags": [
          "Listas"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lista criada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/lists/{id}": {
      "patch": {
        "operationId": "updateList",
        "summary": "Atualizar lista",
        "description": "Atualiza uma lista de contatos. Apenas os campos enviados no body são alterados.\n\n**Escopo:** `people:write` ou `companies:write`.",
        "tags": [
          "Listas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista atualizada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteList",
        "summary": "Deletar lista",
        "description": "Realiza o soft delete de uma lista de contatos. O registro não ficará mais acessível via API.\n\n**Escopo:** `people:write` ou `companies:write`.",
        "tags": [
          "Listas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Lista deletada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Access token OAuth 2.1."
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "UUID do recurso."
      },
      "page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1,
          "minimum": 1
        }
      },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 50,
          "minimum": 1,
          "maximum": 100
        },
        "description": "Máx. 100."
      },
      "order_by": {
        "name": "order_by",
        "in": "query",
        "schema": {
          "type": "string",
          "default": "created_at"
        }
      },
      "order": {
        "name": "order",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "desc"
        }
      },
      "created_after": {
        "name": "created_after",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "created_before": {
        "name": "created_before",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "updated_after": {
        "name": "updated_after",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "updated_before": {
        "name": "updated_before",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "identifier": {
        "name": "identifier",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "`id` (UUID) ou `key` (string) da tag. Ambos os formatos são aceitos."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Token ausente, inválido ou expirado. Códigos possíveis: `unauthorized`, `token_expired`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "unauthorized",
                "message": "Missing or invalid Authorization header.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InsufficientScope": {
        "description": "Token sem o escopo necessário. Código: `insufficient_scope`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "insufficient_scope",
                "message": "This endpoint requires the 'people:write' scope.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Lista não encontrada, deletada ou pertence a outro workspace. Código: `not_found`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "not_found",
                "message": "List not found.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validação dos campos falhou. Código: `validation_error`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationErrorResponse"
            },
            "example": {
              "error": {
                "code": "validation_error",
                "message": "Validation failed.",
                "fields": {
                  "name": "String must contain at most 50 character(s)."
                },
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Limite de requisições excedido. Código: `rate_limit_exceeded`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "rate_limit_exceeded",
                "message": "Rate limit exceeded. Try again in 60 seconds.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "BadRequest": {
        "description": "Body malformado ou nenhum campo enviado para atualização. Código: `bad_request`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "bad_request",
                "message": "Request body must be valid JSON.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Erro interno inesperado. Código: `internal_error`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "internal_error",
                "message": "An unexpected error occurred.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "Já existe uma tag com a mesma `key` neste workspace. Código: `conflict`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "conflict",
                "message": "A record with this value already exists.",
                "fields": {
                  "key": "Value already in use."
                },
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "not_found"
              },
              "message": {
                "type": "string",
                "example": "List not found."
              },
              "request_id": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "validation_error"
              },
              "message": {
                "type": "string",
                "example": "Validation failed."
              },
              "fields": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "request_id": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "example": 8,
            "description": "Total de registros que correspondem à consulta."
          },
          "page": {
            "type": "integer",
            "example": 1,
            "description": "Número da página atual."
          },
          "per_page": {
            "type": "integer",
            "example": 50,
            "description": "Registros por página."
          },
          "has_more": {
            "type": "boolean",
            "example": false,
            "description": "`true` quando há mais páginas após a atual."
          }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "contato@acme.com"
          },
          "type": {
            "type": "string",
            "enum": [
              "personal",
              "work",
              "other"
            ],
            "description": "Tipo do e-mail.",
            "example": "work"
          }
        }
      },
      "ContactPhone": {
        "type": "object",
        "required": [
          "phone"
        ],
        "properties": {
          "phone": {
            "type": "string",
            "example": "+551130000000"
          },
          "type": {
            "type": "string",
            "enum": [
              "mobile",
              "work",
              "residential",
              "other"
            ],
            "description": "Tipo do telefone.",
            "example": "work"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único da tag."
          },
          "name": {
            "type": "string",
            "maxLength": 30,
            "description": "Nome de exibição da tag.",
            "example": "Lead Quente"
          },
          "key": {
            "type": "string",
            "maxLength": 30,
            "description": "Chave única no workspace. Apenas letras minúsculas, dígitos e underscores (ex: `lead_quente`). Usada para referenciar a tag nos arrays de associação.",
            "example": "lead_quente"
          },
          "color_text": {
            "type": "string",
            "nullable": true,
            "pattern": "^#[0-9a-fA-F]{6}$",
            "description": "Cor do texto em formato hex RGB. `null` significa que o padrão do workspace é aplicado.",
            "example": "#ffffff"
          },
          "color_background": {
            "type": "string",
            "nullable": true,
            "pattern": "^#[0-9a-fA-F]{6}$",
            "description": "Cor de fundo em formato hex RGB. `null` significa que o padrão do workspace é aplicado.",
            "example": "#ef4444"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp ISO 8601 UTC de criação da tag."
          }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "value": {},
          "field": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "label": {
                "type": "string"
              },
              "key": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          }
        }
      },
      "ScopeValue": {
        "type": "string",
        "enum": [
          "people:read",
          "people:write",
          "companies:read",
          "companies:write",
          "deals:read",
          "deals:write",
          "tasks:read",
          "tasks:write",
          "activities:read",
          "activities:write",
          "products:read",
          "products:write",
          "tags:read",
          "tags:write",
          "lists:read",
          "lists:write",
          "custom_fields:read",
          "custom_fields:write"
        ],
        "description": "Um escopo OAuth da Vendaze."
      },
      "RegisterAppRequest": {
        "type": "object",
        "required": [
          "app_name",
          "email",
          "redirect_uris",
          "scopes"
        ],
        "properties": {
          "app_name": {
            "type": "string",
            "maxLength": 100,
            "example": "Meu SaaS"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "dev@meusaas.com"
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "example": "Integração com a Vendaze para sincronizar contatos."
          },
          "avatar_image": {
            "type": "string",
            "example": "data:image/png;base64,iVBORw0KGgo...",
            "description": "URL HTTPS pública ou Data URI base64 completo do logo do seu app (ex: `data:image/png;base64,...`). Formatos aceitos: JPEG, PNG, WebP, GIF, BMP, TIFF. Máx. 2MB."
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "example": [
              "https://meusaas.com/callback/vendaze"
            ]
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScopeValue"
            },
            "example": [
              "people:read",
              "deals:write"
            ],
            "description": "Escopos que seu app precisa. Usuários aprovam individualmente na tela de consentimento."
          }
        }
      },
      "RegisterAppResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "app_name": {
                "type": "string",
                "example": "Meu SaaS"
              },
              "client_id": {
                "type": "string",
                "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d"
              },
              "avatar_url": {
                "type": "string",
                "example": "https://storage.vendaze.com/assets/integrations/meusaas.jpg",
                "description": "URL pública do avatar armazenado. Presente somente se avatar_image foi enviado na requisição."
              },
              "message": {
                "type": "string",
                "example": "Credentials sent by email."
              }
            }
          }
        }
      },
      "RotateAppRequest": {
        "type": "object",
        "required": [
          "client_id",
          "email"
        ],
        "properties": {
          "client_id": {
            "type": "string",
            "format": "uuid",
            "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d",
            "description": "client_id atual do aplicativo a ser rotacionado."
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "dev@meusaas.com",
            "description": "E-mail cadastrado no aplicativo. Usado para verificar a propriedade. A API nunca revela qual e-mail está cadastrado."
          },
          "app_name": {
            "type": "string",
            "maxLength": 100,
            "example": "Meu SaaS v2",
            "description": "Novo nome exibido aos usuários na tela de consentimento. Máx. 100 chars. Se omitido, o nome atual é mantido."
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "example": "Integração atualizada com a Vendaze.",
            "description": "Nova descrição do que seu app faz. Máx. 500 chars. Se omitido, a descrição atual é mantida."
          },
          "avatar_image": {
            "type": "string",
            "example": "data:image/png;base64,iVBORw0KGgo...",
            "description": "URL HTTPS pública ou Data URI base64 completo do logo do seu app (ex: `data:image/png;base64,...`). Formatos aceitos: JPEG, PNG, WebP, GIF, BMP, TIFF. Se omitido, o avatar atual é mantido."
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "example": [
              "https://meusaas.com/callback/vendaze"
            ],
            "description": "Nova lista de URIs HTTPS de redirecionamento. Substitui a lista anterior integralmente. Se omitido, a lista atual é mantida."
          }
        }
      },
      "RotateAppResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "app_name": {
                "type": "string",
                "example": "Meu SaaS v2"
              },
              "client_id": {
                "type": "string",
                "format": "uuid",
                "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d",
                "description": "O client_id do aplicativo. Não muda após a rotação."
              },
              "avatar_url": {
                "type": "string",
                "example": "https://storage.vendaze.com/assets/integrations/meusaasv2.jpg",
                "description": "URL pública do avatar armazenado. Presente somente se avatar_image foi enviado na requisição."
              },
              "message": {
                "type": "string",
                "example": "New credentials sent by email."
              }
            }
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "required": [
          "grant_type",
          "client_id",
          "client_secret"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "authorization_code",
              "refresh_token"
            ],
            "description": "Tipo de concessão."
          },
          "code": {
            "type": "string",
            "description": "Obrigatório para grant_type=authorization_code."
          },
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string",
            "description": "Obrigatório para grant_type=refresh_token."
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "required": [
          "access_token",
          "refresh_token",
          "token_type",
          "expires_in",
          "workspace_slug"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "example": "eyJ..."
          },
          "refresh_token": {
            "type": "string",
            "example": "eyJ..."
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "example": 3600
          },
          "workspace_slug": {
            "type": "string",
            "description": "Slug do workspace autorizado pelo usuário. Use para identificar qual conta está conectada no seu app.",
            "example": "acme-corp"
          }
        }
      },
      "RevokeTokenRequest": {
        "type": "object",
        "required": [
          "token",
          "client_id",
          "client_secret"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "Access token a ser revogado. Deve ser o access_token (JWT), não o refresh_token."
          },
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          }
        }
      },
      "Owner": {
        "type": "object",
        "nullable": true,
        "description": "Membro do workspace responsável pela tarefa. `null` quando nenhum responsável está atribuído.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "João Silva"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "joao@empresa.com.br"
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
[...]
