{
  "openapi": "3.1.0",
  "info": {
    "title": "Contatos - Pessoas",
    "description": "Gerencie contatos individuais (pessoas) no workspace.",
    "version": "1.0.0",
    "contact": { "name": "Vendaze Support", "email": "suporte@vendaze.com" }
  },
  "servers": [{ "url": "https://api.vendaze.com", "description": "Production" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [{ "name": "Pessoas" }],
  "paths": {
    "/v1/people": {
      "post": {
        "operationId": "createPerson",
        "summary": "Criar pessoa",
        "description": "Cria uma nova pessoa no workspace. Retorna a pessoa criada com `company`, `tags`, `lists` e `custom_fields` embutidos.",
        "tags": ["Pessoas"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreatePersonRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Pessoa criada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PersonWithEmbeddedResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/v1/people/{id}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Buscar pessoa",
        "description": "Retorna uma pessoa por ID com `company`, `tags`, `lists` e `custom_fields` embutidos.",
        "tags": ["Pessoas"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "Pessoa retornada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PersonWithEmbeddedResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updatePerson",
        "summary": "Atualizar pessoa",
        "description": "Atualiza uma pessoa. Apenas os campos enviados são modificados. Retorna a pessoa atualizada com `company`, `tags`, `lists` e `custom_fields` embutidos.",
        "tags": ["Pessoas"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdatePersonRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Pessoa atualizada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PersonWithEmbeddedResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "delete": {
        "operationId": "deletePerson",
        "summary": "Deletar pessoa",
        "description": "Soft-delete: o registro não e mais acessível pela API.",
        "tags": ["Pessoas"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Pessoa deletada com sucesso." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "OAuth 2.1 access token." }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID do recurso."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Requisicao malformada.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "Unauthorized": {
        "description": "Token ausente ou invalido.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "InsufficientScope": {
        "description": "Token sem o escopo necessario.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "NotFound": {
        "description": "Recurso não encontrado.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "ValidationError": {
        "description": "Validacao de entrada falhou.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" } } }
      },
      "RateLimitExceeded": {
        "description": "Limite de requisicoes excedido.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "not_found" },
              "message": { "type": "string", "example": "Resource not found." },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "validation_error" },
              "message": { "type": "string", "example": "Validation failed." },
              "fields": {
                "type": "object",
                "additionalProperties": { "type": "string" },
                "example": { "full_name": "String must contain at most 70 character(s)." }
              },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email", "example": "nome@empresa.com" },
          "type": {
            "type": "string",
            "enum": ["personal", "work", "other"],
            "description": "Tipo do e-mail.",
            "example": "work"
          }
        },
        "example": { "email": "nome@empresa.com", "type": "work" }
      },
      "ContactPhone": {
        "type": "object",
        "required": ["phone"],
        "properties": {
          "phone": { "type": "string", "example": "+5511999990001" },
          "type": {
            "type": "string",
            "enum": ["mobile", "work", "residential", "other"],
            "description": "Tipo do telefone.",
            "example": "mobile"
          }
        },
        "example": { "phone": "+5511999990001", "type": "mobile" }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "color_text": { "type": "string", "nullable": true, "example": "#ffffff" },
          "color_background": { "type": "string", "nullable": true, "example": "#0085c0" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "value": {},
          "field": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "label": { "type": "string" },
              "key": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "full_name": { "type": "string", "maxLength": 70, "example": "Maria Silva" },
          "emails": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/ContactEmail" },
            "example": [{ "email": "maria@empresa.com", "type": "work" }]
          },
          "phones": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/ContactPhone" },
            "example": [{ "phone": "+5511999990001", "type": "mobile" }]
          },
          "company_id": { "type": "string", "format": "uuid", "nullable": true },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "position": { "type": "string", "nullable": true, "example": "Head of Sales" },
          "ranking": {
            "type": "number",
            "minimum": 0,
            "maximum": 5,
            "example": 0,
            "readOnly": true,
            "description": "Somente leitura. Gerenciado internamente pela Vendaze."
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "example": "https://storage.vendaze.com/client/workspaces/abc/people/xyz/avatar/avatar_WWT1BGs9ma.webp"
          },
          "entity_id": { "type": "string", "example": "g7wwkh0" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "PersonWithEmbedded": {
        "allOf": [
          { "$ref": "#/components/schemas/Person" },
          {
            "type": "object",
            "properties": {
              "company": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "full_name": { "type": "string" }
                }
              },
              "tags": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } },
              "lists": { "type": "array", "items": { "$ref": "#/components/schemas/ContactList" } },
              "custom_fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomFieldValue" } }
            }
          }
        ]
      },
      "CreatePersonRequest": {
        "type": "object",
        "required": ["full_name"],
        "properties": {
          "full_name": { "type": "string", "maxLength": 70, "example": "Maria Silva" },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactEmail" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactPhone" } },
          "company_id": { "type": "string", "format": "uuid" },
          "position": { "type": "string", "maxLength": 100, "example": "Head of Sales" },
          "owner_user_id": { "type": "string", "format": "uuid" },
          "avatar_image": {
            "type": "string",
            "description": "Data URI base64 completo da imagem (ex: `data:image/png;base64,...`). Formatos aceitos: JPEG, PNG, WebP, GIF, BMP, TIFF. Convertida para WebP 500x500.",
            "example": "data:image/png;base64,iVBORw0KGgo..."
          },
          "tag_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de tags a associar com a pessoa."
          },
          "list_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de listas a associar com a pessoa."
          },
          "deal_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de negócios a associar com a pessoa."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "origem_lead",
                  "description": "Chave do campo adicional (ex: `origem_lead`). Se não existir nenhum campo com essa chave no workspace, ele é criado automaticamente com tipo `text`."
                },
                "value": { "description": "Valor do campo. O tipo depende da definição do campo adicional." }
              }
            },
            "description": "Valores de campos adicionais a definir para a pessoa. Identificados por `field_key`. Se o campo não existir, é criado automaticamente com tipo `text`."
          }
        }
      },
      "UpdatePersonRequest": {
        "type": "object",
        "description": "Todos os campos sao opcionais. Apenas os campos enviados sao modificados.",
        "properties": {
          "full_name": { "type": "string", "maxLength": 70 },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactEmail" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactPhone" } },
          "company_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Envie `null` para remover a associacao com empresa."
          },
          "position": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Envie `null` para limpar o cargo."
          },
          "owner_user_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Envie `null` para remover o responsavel."
          },
          "avatar_image": {
            "type": "string",
            "description": "Data URI base64 completo da imagem (ex: `data:image/png;base64,...`). Substitui o avatar atual. Formatos aceitos: JPEG, PNG, WebP, GIF, BMP, TIFF. Convertida para WebP 500x500.",
            "example": "data:image/png;base64,iVBORw0KGgo..."
          },
          "tag_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de tags a associar. Comportamento depende de `association_mode`."
          },
          "list_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de listas a associar. Comportamento depende de `association_mode`."
          },
          "deal_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "IDs de negócios a associar. Comportamento depende de `association_mode`."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "origem_lead",
                  "description": "Chave do campo adicional (ex: `origem_lead`). Se não existir nenhum campo com essa chave no workspace, ele é criado automaticamente com tipo `text`."
                },
                "value": { "description": "Valor do campo. O tipo depende da definição do campo adicional." }
              }
            },
            "description": "Valores de campos adicionais. Comportamento depende de `association_mode`. No modo `append`, substitui o valor de cada `field_key` enviado sem alterar os demais."
          },
          "association_mode": {
            "type": "string",
            "enum": ["append", "replace"],
            "default": "append",
            "description": "Controla como as associacoes (`tag_ids`, `list_ids`, `deal_ids`, `custom_fields`) sao aplicadas. `append`: adiciona sem remover as existentes. `replace`: remove todas as associacoes atuais dos tipos enviados e insere as novas. Enviar array vazio com `replace` remove todas as associacoes daquele tipo."
          }
        }
      },
      "PersonWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/PersonWithEmbedded" }
        }
      }
    }
  }
}
