{
  "openapi": "3.1.0",
  "info": {
    "title": "Produtos",
    "description": "Gerencie produtos no workspace.",
    "version": "1.0.0",
    "contact": {
      "name": "Suporte Vendaze",
      "email": "suporte@vendaze.com"
    }
  },
  "servers": [
    {
      "url": "https://api.vendaze.com",
      "description": "Produção"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Produtos"
    }
  ],
  "paths": {
    "/v1/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "Listar produtos",
        "description": "Retorna uma lista paginada de produtos do workspace.\n\n<Accordion title=\"Escopo necessário\">\n`products:read`\n</Accordion>",
        "tags": ["Produtos"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 },
            "description": "Número da página."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 50 },
            "description": "Registros por página. Máximo: 50."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": { "type": "string", "enum": ["created_at", "name"], "default": "created_at" },
            "description": "Campo de ordenação."
          },
          {
            "name": "order",
            "in": "query",
            "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" },
            "description": "Direção da ordenação."
          }
        ],
        "responses": {
          "200": {
            "description": "Produtos retornados com sucesso.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductsListResponse" },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "Plano Empresarial",
                      "price_cts": 99900,
                      "currency": "BRL",
                      "description": "Plano completo para grandes equipes.",
                      "image_url": "https://storage.vendaze.com/client/workspaces/abc/products/xyz/image/avatar_Ab1Cd2Ef3G.webp",
                      "code": "PLANO-EMP",
                      "is_active": true,
                      "billing_cycle": "monthly",
                      "created_at": "2026-01-15T10:30:00Z"
                    }
                  ],
                  "meta": {
                    "total": 8,
                    "page": 1,
                    "per_page": 50,
                    "has_more": false
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Criar produto",
        "description": "Cria um novo produto no workspace.\n\n<Accordion title=\"Escopo necessário\">\n`products:write`\n</Accordion>",
        "tags": ["Produtos"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateProductRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Produto criado com sucesso.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/products/{id}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Buscar produto",
        "description": "Retorna um produto pelo seu `id` (UUID).\n\n<Accordion title=\"Escopo necessário\">\n`products:read`\n</Accordion>",
        "tags": ["Produtos"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "Produto retornado com sucesso.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "patch": {
        "operationId": "updateProduct",
        "summary": "Atualizar produto",
        "description": "Atualiza um produto pelo seu `id` (UUID). Apenas os campos enviados no body são alterados.\n\n<Accordion title=\"Escopo necessário\">\n`products:write`\n</Accordion>",
        "tags": ["Produtos"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateProductRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Produto atualizado com sucesso.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "delete": {
        "operationId": "deleteProduct",
        "summary": "Excluir produto",
        "description": "Realiza soft-delete de um produto pelo seu `id` (UUID).\n\n<Accordion title=\"Escopo necessário\">\n`products:write`\n</Accordion>",
        "tags": ["Produtos"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": {
            "description": "Produto excluído com sucesso.",
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": {}
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token de acesso OAuth 2.1."
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID do produto."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Body inválido ou atualização sem campos. Código de erro: `bad_request`.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "bad_request",
                "message": "Request body must be valid JSON.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Token ausente, inválido ou expirado.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "unauthorized",
                "message": "Missing or invalid Authorization header.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InsufficientScope": {
        "description": "Token sem o escopo necessário. Código de erro: `insufficient_scope`.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "insufficient_scope",
                "message": "This endpoint requires the 'products:write' scope.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Produto não encontrado, excluído ou pertence a outro workspace. Código de erro: `not_found`.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "not_found",
                "message": "Product not found.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflito de dados. Código de erro: `conflict`.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "conflict",
                "message": "A record with this value already exists.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validação dos dados falhou. Código de erro: `validation_error`.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" },
            "example": {
              "error": {
                "code": "validation_error",
                "message": "Validation failed.",
                "fields": {
                  "currency": "Invalid currency code.",
                  "price_cts": "Number must be greater than or equal to 0."
                },
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Limite de requisições atingido. Código de erro: `rate_limit_exceeded`.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "rate_limit_exceeded",
                "message": "Rate limit exceeded. Try again in 60 seconds.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Erro interno inesperado. Código de erro: `internal_error`.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "internal_error",
                "message": "An unexpected error occurred.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "CurrencyCode": {
        "type": "string",
        "description": "Código ISO 4217 de moeda suportado pela Vendaze.",
        "enum": [
          "AED",
          "ARS",
          "AUD",
          "BRL",
          "CAD",
          "CHF",
          "CLP",
          "CNY",
          "COP",
          "DKK",
          "EGP",
          "EUR",
          "GBP",
          "HKD",
          "ILS",
          "INR",
          "JPY",
          "KWD",
          "MAD",
          "MXN",
          "MYR",
          "NGN",
          "NOK",
          "NZD",
          "PEN",
          "QAR",
          "SAR",
          "SEK",
          "SGD",
          "TRY",
          "USD",
          "UYU",
          "ZAR"
        ],
        "example": "BRL"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" },
              "fields": {
                "type": "object",
                "additionalProperties": { "type": "string" }
              },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "description": "Total de registros." },
          "page": { "type": "integer", "description": "Página atual." },
          "per_page": { "type": "integer", "description": "Registros por página." },
          "has_more": { "type": "boolean", "description": "`true` quando há mais páginas após a atual." }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único."
          },
          "name": {
            "type": "string",
            "maxLength": 80,
            "description": "Nome do produto.",
            "example": "Plano Empresarial"
          },
          "price_cts": {
            "type": "integer",
            "description": "Preço em centavos da menor unidade monetária. Ex: `99900` = R$ 999,00.",
            "example": 99900
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000,
            "description": "Descrição opcional do produto.",
            "example": "Plano completo para grandes equipes."
          },
          "image_url": {
            "type": "string",
            "nullable": true,
            "description": "URL pública da imagem do produto, ou `null` se não houver.",
            "example": "https://storage.vendaze.com/client/workspaces/abc/products/xyz/image/avatar_Ab1Cd2Ef3G.webp"
          },
          "code": {
            "type": "string",
            "nullable": true,
            "maxLength": 60,
            "description": "Código interno ou SKU do produto.",
            "example": "PLANO-EMP"
          },
          "is_active": {
            "type": "boolean",
            "description": "Se o produto está ativo.",
            "example": true
          },
          "billing_cycle": {
            "type": "string",
            "enum": ["one_time", "monthly", "quarterly", "annually"],
            "description": "Ciclo de cobrança do produto.",
            "example": "monthly"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data de criação em ISO 8601 UTC."
          }
        }
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Product" }
        }
      },
      "ProductsListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Product" }
          },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "CreateProductRequest": {
        "type": "object",
        "required": ["name", "currency"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "description": "Nome do produto.",
            "example": "Plano Empresarial"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "price_cts": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000000000000000,
            "description": "Preço em centavos. Padrão: `0`.",
            "example": 99900
          },
          "description": {
            "type": "string",
            "maxLength": 1000,
            "description": "Descrição do produto.",
            "example": "Plano completo para grandes equipes."
          },
          "code": {
            "type": "string",
            "maxLength": 60,
            "description": "Código interno ou SKU.",
            "example": "PLANO-EMP"
          },
          "is_active": {
            "type": "boolean",
            "description": "Se o produto está ativo. Padrão: `true`.",
            "example": true
          },
          "billing_cycle": {
            "type": "string",
            "enum": ["one_time", "monthly", "quarterly", "annually"],
            "description": "Ciclo de cobrança. Padrão: `one_time`.",
            "example": "monthly"
          },
          "image": {
            "type": "string",
            "description": "Imagem do produto. Aceita URL HTTPS pública, Base64 puro ou data URI completo (`data:image/png;base64,...`). Máximo 2 MB.",
            "example": "https://exemplo.com/produto.png"
          }
        }
      },
      "UpdateProductRequest": {
        "type": "object",
        "description": "Todos os campos são opcionais. Apenas os campos enviados no body são alterados.",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "description": "Novo nome do produto.",
            "example": "Plano Empresarial Plus"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "price_cts": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000000000000000,
            "description": "Novo preço em centavos.",
            "example": 149900
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000,
            "description": "Nova descrição. Envie `null` para remover.",
            "example": "Versão atualizada do plano empresarial."
          },
          "code": {
            "type": "string",
            "nullable": true,
            "maxLength": 60,
            "description": "Novo código interno. Envie `null` para remover.",
            "example": "PLANO-EMP-PLUS"
          },
          "is_active": {
            "type": "boolean",
            "description": "Atualiza o status de ativo.",
            "example": false
          },
          "billing_cycle": {
            "type": "string",
            "enum": ["one_time", "monthly", "quarterly", "annually"],
            "description": "Novo ciclo de cobrança.",
            "example": "annually"
          },
          "image": {
            "type": "string",
            "description": "Nova imagem do produto. Substitui a imagem atual.",
            "example": "https://exemplo.com/nova-imagem.png"
          }
        }
      }
    }
  }
}
