{
  "openapi": "3.1.0",
  "info": {
    "title": "Produtos",
    "description": "Gerencie o catalogo de produtos do workspace.",
    "version": "1.0.0",
    "contact": { "name": "Vendaze Support", "email": "suporte@vendaze.com" }
  },
  "servers": [{ "url": "https://api.vendaze.com", "description": "Production" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [{ "name": "Produtos" }],
  "paths": {
    "/v1/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "Listar produtos",
        "description": "Retorna uma lista paginada de produtos do workspace.",
        "tags": ["Produtos"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "$ref": "#/components/parameters/order_by" },
          { "$ref": "#/components/parameters/order" }
        ],
        "responses": {
          "200": {
            "description": "Lista de produtos retornada com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProductsListResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Criar produto",
        "description": "Cria um novo produto no workspace.",
        "tags": ["Produtos"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateProductRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Produto criado com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProductResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/v1/products/{id}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Buscar produto",
        "description": "Retorna um produto por ID.",
        "tags": ["Produtos"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "Produto retornado com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProductResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateProduct",
        "summary": "Atualizar produto",
        "description": "Atualiza um produto. Apenas campos enviados sao modificados.",
        "tags": ["Produtos"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateProductRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Produto atualizado com sucesso.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProductResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "delete": {
        "operationId": "deleteProduct",
        "summary": "Deletar produto",
        "description": "Soft-delete: o registro não e mais acessível pela API.",
        "tags": ["Produtos"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Produto deletado com sucesso." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "OAuth 2.1 access token." }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID of the resource."
      },
      "page": { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1, "minimum": 1 } },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 100 },
        "description": "Max 100."
      },
      "order_by": {
        "name": "order_by",
        "in": "query",
        "schema": { "type": "string", "enum": ["created_at", "name"], "default": "created_at" },
        "description": "Campo de ordenação."
      },
      "order": { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" } },
      "created_after": { "name": "created_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "created_before": { "name": "created_before", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "updated_after": { "name": "updated_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "updated_before": { "name": "updated_before", "in": "query", "schema": { "type": "string", "format": "date-time" } }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid token.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "InsufficientScope": {
        "description": "Token lacks the required scope.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "ValidationError": {
        "description": "Input validation failed.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" } } }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "not_found" },
              "message": { "type": "string", "example": "Resource not found." },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "validation_error" },
              "message": { "type": "string", "example": "Validation failed." },
              "fields": { "type": "object", "additionalProperties": { "type": "string" } },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "example": 150 },
          "page": { "type": "integer", "example": 1 },
          "per_page": { "type": "integer", "example": 50 },
          "has_more": { "type": "boolean", "example": true }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email", "example": "nome@empresa.com" },
          "type": {
            "type": "string",
            "enum": ["personal", "work", "other"],
            "description": "Tipo do e-mail. Valores aceitos: personal, work, other.",
            "example": "work"
          }
        },
        "example": { "email": "nome@empresa.com", "type": "work" }
      },
      "ContactPhone": {
        "type": "object",
        "required": ["phone"],
        "properties": {
          "phone": { "type": "string", "example": "+5511999990001" },
          "type": {
            "type": "string",
            "enum": ["mobile", "work", "residential", "other"],
            "description": "Tipo do telefone. Valores aceitos: mobile, work, residential, other.",
            "example": "mobile"
          }
        },
        "example": { "phone": "+5511999990001", "type": "mobile" }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "maxLength": 80, "example": "Pro Plan Monthly" },
          "price_cts": { "type": "integer", "description": "Preco em centavos.", "example": 19900 },
          "currency_id": { "type": "string", "example": "BRL" },
          "description": { "type": "string", "nullable": true, "example": "Full access to all features." },
          "code": { "type": "string", "nullable": true, "example": "PRO-M" },
          "is_active": { "type": "boolean", "default": true, "example": true },
          "billing_cycle": {
            "type": "string",
            "enum": ["one_time", "monthly", "quarterly", "annually"],
            "default": "one_time",
            "example": "monthly"
          },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateProductRequest": {
        "type": "object",
        "required": ["name", "currency_id"],
        "properties": {
          "name": { "type": "string", "maxLength": 80, "example": "Pro Plan Monthly" },
          "currency_id": { "type": "string", "example": "BRL" },
          "price_cts": { "type": "integer", "minimum": 0, "example": 19900 },
          "description": { "type": "string" },
          "code": { "type": "string" },
          "is_active": { "type": "boolean" },
          "billing_cycle": { "type": "string", "enum": ["one_time", "monthly", "quarterly", "annually"] }
        }
      },
      "UpdateProductRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "maxLength": 80 },
          "currency_id": { "type": "string" },
          "price_cts": { "type": "integer", "minimum": 0 },
          "description": { "type": "string", "nullable": true },
          "code": { "type": "string", "nullable": true },
          "is_active": { "type": "boolean" },
          "billing_cycle": { "type": "string", "enum": ["one_time", "monthly", "quarterly", "annually"] }
        }
      },
      "ProductsListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Product" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Product" }
        }
      }
    }
  }
}
