{
  "openapi": "3.1.0",
  "info": {
    "title": "Companies",
    "description": "Manage companies in the workspace.",
    "version": "1.0.0",
    "contact": { "name": "Vendaze Support", "email": "suporte@vendaze.com" }
  },
  "servers": [{ "url": "https://api.vendaze.com", "description": "Production" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [{ "name": "Companies" }],
  "paths": {
    "/v1/companies": {
      "get": {
        "operationId": "listCompanies",
        "summary": "List companies",
        "description": "Returns a paginated list of companies in the authorized workspace.",
        "tags": ["Companies"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "$ref": "#/components/parameters/order_by" },
          { "$ref": "#/components/parameters/order" },
          { "name": "full_name", "in": "query", "schema": { "type": "string" }, "description": "Partial match on company name." },
          { "name": "email", "in": "query", "schema": { "type": "string" }, "description": "Filter by email address." },
          { "name": "phone", "in": "query", "schema": { "type": "string" }, "description": "Filter by phone number." },
          { "name": "owner_user_id", "in": "query", "schema": { "type": "string", "format": "uuid" }, "description": "Filter by owner." },
          {
            "name": "tag",
            "in": "query",
            "schema": { "type": "array", "items": { "type": "string" } },
            "style": "form",
            "explode": true,
            "description": "Filter by tags. AND logic."
          },
          { "$ref": "#/components/parameters/created_after" },
          { "$ref": "#/components/parameters/created_before" },
          { "$ref": "#/components/parameters/updated_after" },
          { "$ref": "#/components/parameters/updated_before" }
        ],
        "responses": {
          "200": {
            "description": "List of companies returned successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompaniesListResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      },
      "post": {
        "operationId": "createCompany",
        "summary": "Create a company",
        "description": "Creates a new company in the workspace.",
        "tags": ["Companies"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateCompanyRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Company created successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/v1/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get a company",
        "description": "Returns a company by ID with embedded tags, lists, and custom fields.",
        "tags": ["Companies"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "Company returned successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyWithEmbeddedResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateCompany",
        "summary": "Update a company",
        "description": "Updates a company. Only fields included in the body are modified.",
        "tags": ["Companies"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateCompanyRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Company updated successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Delete a company",
        "description": "Soft-delete: the record is no longer accessible via the API.",
        "tags": ["Companies"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Company deleted successfully." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "OAuth 2.1 access token." }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID of the resource."
      },
      "page": { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1, "minimum": 1 } },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 100 },
        "description": "Max 100."
      },
      "order_by": { "name": "order_by", "in": "query", "schema": { "type": "string", "default": "created_at" } },
      "order": { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" } },
      "created_after": { "name": "created_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "created_before": { "name": "created_before", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "updated_after": { "name": "updated_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "updated_before": { "name": "updated_before", "in": "query", "schema": { "type": "string", "format": "date-time" } }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid token.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "InsufficientScope": {
        "description": "Token lacks the required scope.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "ValidationError": {
        "description": "Input validation failed.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" } } }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "not_found" },
              "message": { "type": "string", "example": "Resource not found." },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "validation_error" },
              "message": { "type": "string", "example": "Validation failed." },
              "fields": { "type": "object", "additionalProperties": { "type": "string" } },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "example": 150 },
          "page": { "type": "integer", "example": 1 },
          "per_page": { "type": "integer", "example": 50 },
          "has_more": { "type": "boolean", "example": true }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email", "example": "nome@empresa.com" },
          "reminder": {
            "type": "string",
            "enum": ["personal", "work", "other"],
            "description": "Type of email. Accepted values: personal, work, other.",
            "example": "work"
          }
        },
        "example": { "email": "nome@empresa.com", "reminder": "work" }
      },
      "ContactPhone": {
        "type": "object",
        "required": ["phone"],
        "properties": {
          "phone": { "type": "string", "example": "+5511999990001" },
          "reminder": {
            "type": "string",
            "enum": ["mobile", "work", "residential", "other"],
            "description": "Type of phone. Accepted values: mobile, work, residential, other.",
            "example": "mobile"
          }
        },
        "example": { "phone": "+5511999990001", "reminder": "mobile" }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "color_text": { "type": "string", "nullable": true, "example": "#ffffff" },
          "color_background": { "type": "string", "nullable": true, "example": "#0085c0" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "value": { "type": "string", "nullable": true },
          "field": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "label": { "type": "string" },
              "key": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "full_name": { "type": "string", "example": "Acme Corp" },
          "emails": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ContactEmail" },
            "example": [{ "email": "contact@acme.com", "reminder": "work" }]
          },
          "phones": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ContactPhone" },
            "example": [{ "phone": "+551130000000", "reminder": "work" }]
          },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "permission": { "type": "string", "enum": ["all_users", "owners"], "example": "all_users" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CompanyWithEmbedded": {
        "allOf": [
          { "$ref": "#/components/schemas/Company" },
          {
            "type": "object",
            "properties": {
              "tags": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } },
              "lists": { "type": "array", "items": { "$ref": "#/components/schemas/ContactList" } },
              "custom_fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomFieldValue" } }
            }
          }
        ]
      },
      "CreateCompanyRequest": {
        "type": "object",
        "required": ["full_name"],
        "properties": {
          "full_name": { "type": "string", "example": "Acme Corp" },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactEmail" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactPhone" } },
          "owner_user_id": { "type": "string", "format": "uuid" },
          "permission": { "type": "string", "enum": ["all_users", "owners"] }
        }
      },
      "UpdateCompanyRequest": {
        "type": "object",
        "properties": {
          "full_name": { "type": "string" },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactEmail" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactPhone" } },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "permission": { "type": "string", "enum": ["all_users", "owners"] }
        }
      },
      "CompaniesListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Company" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "CompanyResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Company" }
        }
      },
      "CompanyWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/CompanyWithEmbedded" }
        }
      }
    }
  }
}
