{
  "openapi": "3.1.0",
  "info": {
    "title": "Companies",
    "description": "Manage companies in the workspace.",
    "version": "1.0.0",
    "contact": { "name": "Vendaze Support", "email": "suporte@vendaze.com" }
  },
  "servers": [{ "url": "https://api.vendaze.com", "description": "Production" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [{ "name": "Companies" }],
  "paths": {
    "/v1/companies": {
      "post": {
        "operationId": "createCompany",
        "summary": "Create a company",
        "description": "Creates a new company in the workspace. Returns the created company with embedded `tags`, `lists`, and `custom_fields`.",
        "tags": ["Companies"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateCompanyRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Company created successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyWithEmbeddedResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/v1/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get a company",
        "description": "Returns a company by ID with embedded `tags`, `lists`, and `custom_fields`.",
        "tags": ["Companies"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "Company returned successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyWithEmbeddedResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateCompany",
        "summary": "Update a company",
        "description": "Updates a company. Only fields included in the body are modified. Returns the updated company with embedded `tags`, `lists`, and `custom_fields`.",
        "tags": ["Companies"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateCompanyRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Company updated successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyWithEmbeddedResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Delete a company",
        "description": "Soft-deletes a company. The record is no longer accessible via the API.",
        "tags": ["Companies"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Company deleted successfully." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "OAuth 2.1 access token." }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID of the resource."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed request.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "Unauthorized": {
        "description": "Missing or invalid token.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "InsufficientScope": {
        "description": "Token lacks the required scope.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "ValidationError": {
        "description": "Input validation failed.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" } } }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "not_found" },
              "message": { "type": "string", "example": "Resource not found." },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "validation_error" },
              "message": { "type": "string", "example": "Validation failed." },
              "fields": {
                "type": "object",
                "additionalProperties": { "type": "string" },
                "example": { "full_name": "String must contain at most 70 character(s)." }
              },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email", "example": "contact@acme.com" },
          "type": {
            "type": "string",
            "enum": ["personal", "work", "other"],
            "description": "Email type.",
            "example": "work"
          }
        }
      },
      "ContactPhone": {
        "type": "object",
        "required": ["phone"],
        "properties": {
          "phone": { "type": "string", "example": "+551130000000" },
          "type": {
            "type": "string",
            "enum": ["mobile", "work", "residential", "other"],
            "description": "Phone type.",
            "example": "work"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "color_text": { "type": "string", "nullable": true, "example": "#ffffff" },
          "color_background": { "type": "string", "nullable": true, "example": "#0085c0" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "value": { "description": "Field value. Type depends on the custom field definition." },
          "field": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "label": { "type": "string" },
              "key": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "full_name": { "type": "string", "maxLength": 70, "example": "Acme Corp" },
          "emails": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/ContactEmail" },
            "example": [{ "email": "contact@acme.com", "type": "work" }]
          },
          "phones": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/ContactPhone" },
            "example": [{ "phone": "+551130000000", "type": "work" }]
          },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "example": "https://storage.vendaze.com/client/workspaces/abc/companies/xyz/avatar/avatar_WWT1BGs9ma.webp"
          },
          "entity_id": { "type": "string", "example": "g7wwkh0" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CompanyWithEmbedded": {
        "allOf": [
          { "$ref": "#/components/schemas/Company" },
          {
            "type": "object",
            "properties": {
              "tags": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } },
              "lists": { "type": "array", "items": { "$ref": "#/components/schemas/ContactList" } },
              "custom_fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomFieldValue" } }
            }
          }
        ]
      },
      "CreateCompanyRequest": {
        "type": "object",
        "required": ["full_name"],
        "properties": {
          "full_name": { "type": "string", "maxLength": 70, "example": "Acme Corp" },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactEmail" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactPhone" } },
          "owner_user_id": { "type": "string", "format": "uuid" },
          "avatar_image": {
            "type": "string",
            "description": "Base64-encoded image (no data URI prefix). Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF. Converted to WebP 500x500."
          },
          "tag_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "Tag IDs to associate with the company."
          },
          "list_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "List IDs to associate with the company."
          },
          "deal_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "Deal IDs to associate with the company."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "industry",
                  "description": "Key of the custom field (e.g. `industry`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": { "description": "Field value. Type depends on the custom field definition." }
              }
            },
            "description": "Custom field values to set for the company. Identified by `field_key`. If the field does not exist, it is created automatically with type `text`."
          }
        }
      },
      "UpdateCompanyRequest": {
        "type": "object",
        "description": "All fields are optional. Only fields included in the body are modified.",
        "properties": {
          "full_name": { "type": "string", "maxLength": 70 },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactEmail" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactPhone" } },
          "owner_user_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Pass `null` to remove the owner."
          },
          "avatar_image": {
            "type": "string",
            "description": "Base64-encoded image (no data URI prefix). Replaces the current avatar. Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF. Converted to WebP 500x500."
          },
          "tag_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "Tag IDs to associate. Behavior depends on `association_mode`."
          },
          "list_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "List IDs to associate. Behavior depends on `association_mode`."
          },
          "deal_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "Deal IDs to associate. Behavior depends on `association_mode`."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "industry",
                  "description": "Key of the custom field (e.g. `industry`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": { "description": "Field value. Type depends on the custom field definition." }
              }
            },
            "description": "Custom field values. Behavior depends on `association_mode`. In `append` mode, replaces the value for each `field_key` sent without touching others."
          },
          "association_mode": {
            "type": "string",
            "enum": ["append", "replace"],
            "default": "append",
            "description": "Controls how associations (`tag_ids`, `list_ids`, `deal_ids`, `custom_fields`) are applied. `append`: adds new associations without removing existing ones. `replace`: removes all current associations of each sent type and inserts the new ones. Sending an empty array with `replace` removes all associations of that type."
          }
        }
      },
      "CompanyWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/CompanyWithEmbedded" }
        }
      }
    }
  }
}
