{
  "openapi": "3.1.0",
  "info": {
    "title": "Deals",
    "description": "Manage deals in the sales pipeline.",
    "version": "1.0.0",
    "contact": { "name": "Vendaze Support", "email": "suporte@vendaze.com" }
  },
  "servers": [{ "url": "https://api.vendaze.com", "description": "Production" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [{ "name": "Deals" }],
  "paths": {
    "/v1/deals": {
      "get": {
        "operationId": "listDeals",
        "summary": "List deals",
        "description": "Returns a paginated list of deals in the authorized workspace.",
        "tags": ["Deals"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "$ref": "#/components/parameters/order_by" },
          { "$ref": "#/components/parameters/order" },
          { "name": "name", "in": "query", "schema": { "type": "string" }, "description": "Partial match on deal name." },
          { "name": "pipeline_id", "in": "query", "schema": { "type": "string", "format": "uuid" }, "description": "Filter by pipeline." },
          { "name": "stage_id", "in": "query", "schema": { "type": "string", "format": "uuid" }, "description": "Filter by stage." },
          { "name": "owner_user_id", "in": "query", "schema": { "type": "string", "format": "uuid" }, "description": "Filter by owner." },
          {
            "name": "source",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by deal source (app name that created the deal)."
          },
          {
            "name": "price_min_cts",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0 },
            "description": "Minimum value in cents."
          },
          {
            "name": "price_max_cts",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0 },
            "description": "Maximum value in cents."
          },
          {
            "name": "currency",
            "in": "query",
            "schema": { "$ref": "#/components/schemas/CurrencyCode" },
            "description": "Filter by ISO 4217 currency code. Example: BRL."
          },
          {
            "name": "forecast_after",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Filter by forecast date after (ISO 8601 UTC)."
          },
          {
            "name": "forecast_before",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Filter by forecast date before (ISO 8601 UTC)."
          },
          { "$ref": "#/components/parameters/created_after" },
          { "$ref": "#/components/parameters/created_before" },
          { "$ref": "#/components/parameters/updated_after" },
          { "$ref": "#/components/parameters/updated_before" }
        ],
        "responses": {
          "200": {
            "description": "List of deals returned successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DealsListResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      },
      "post": {
        "operationId": "createDeal",
        "summary": "Create a deal",
        "description": "Creates a new deal in the workspace. The `source` field is automatically set to the name of the OAuth app making the request and cannot be set by the caller.",
        "tags": ["Deals"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateDealRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Deal created successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DealWithEmbeddedResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/v1/deals/{id}": {
      "get": {
        "operationId": "getDeal",
        "summary": "Get a deal",
        "description": "Returns a deal by ID with embedded pipeline, stage, products, custom fields, tags, people, and companies.",
        "tags": ["Deals"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "Deal returned successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DealWithEmbeddedResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateDeal",
        "summary": "Update a deal",
        "description": "Updates a deal. Only fields included in the body are modified. `source` cannot be changed.",
        "tags": ["Deals"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateDealRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Deal updated successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DealWithEmbeddedResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "delete": {
        "operationId": "deleteDeal",
        "summary": "Delete a deal",
        "description": "Soft-delete: the record is no longer accessible via the API.",
        "tags": ["Deals"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Deal deleted successfully." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "OAuth 2.1 access token." }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID of the resource."
      },
      "page": { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1, "minimum": 1 } },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 100 },
        "description": "Max 100."
      },
      "order_by": {
        "name": "order_by",
        "in": "query",
        "schema": { "type": "string", "enum": ["created_at", "updated_at", "name", "price_cts"], "default": "created_at" },
        "description": "Field to sort by."
      },
      "order": { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" } },
      "created_after": { "name": "created_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "created_before": { "name": "created_before", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "updated_after": { "name": "updated_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "updated_before": { "name": "updated_before", "in": "query", "schema": { "type": "string", "format": "date-time" } }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid token.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "InsufficientScope": {
        "description": "Token lacks the required scope.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "ValidationError": {
        "description": "Input validation failed.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" } } }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "not_found" },
              "message": { "type": "string", "example": "Resource not found." },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "validation_error" },
              "message": { "type": "string", "example": "Validation failed." },
              "fields": { "type": "object", "additionalProperties": { "type": "string" } },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "example": 150 },
          "page": { "type": "integer", "example": 1 },
          "per_page": { "type": "integer", "example": 50 },
          "has_more": { "type": "boolean", "example": true }
        }
      },
      "CurrencyCode": {
        "type": "string",
        "description": "ISO 4217 currency code supported by Vendaze.",
        "enum": [
          "AED",
          "ARS",
          "AUD",
          "BRL",
          "CAD",
          "CHF",
          "CLP",
          "CNY",
          "COP",
          "DKK",
          "EGP",
          "EUR",
          "GBP",
          "HKD",
          "ILS",
          "INR",
          "JPY",
          "KWD",
          "MAD",
          "MXN",
          "MYR",
          "NGN",
          "NOK",
          "NZD",
          "PEN",
          "QAR",
          "SAR",
          "SEK",
          "SGD",
          "TRY",
          "USD",
          "UYU",
          "ZAR"
        ],
        "example": "BRL"
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "value": {},
          "field": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "label": { "type": "string" },
              "key": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      },
      "DealProduct": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "product_id": { "type": "string", "format": "uuid", "nullable": true },
          "name": { "type": "string", "nullable": true },
          "quantity": { "type": "integer", "example": 2 },
          "billing_cycle": { "type": "string", "enum": ["one_time", "monthly", "quarterly", "annually"] },
          "unit_price_cts": { "type": "integer", "description": "Unit price in cents.", "example": 50000 },
          "total_price_cts": { "type": "integer", "description": "Total price in cents (unit_price_cts x quantity).", "example": 100000 }
        }
      },
      "Deal": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "example": "Acme Corp Annual Contract" },
          "pipeline_id": { "type": "string", "format": "uuid" },
          "stage_id": { "type": "string", "format": "uuid" },
          "price_cts": { "type": "integer", "description": "Deal value in cents. 250000 = R$ 2,500.00", "example": 250000 },
          "currency": { "$ref": "#/components/schemas/CurrencyCode" },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "source": {
            "type": "string",
            "description": "Name of the OAuth app that created the deal. Read-only.",
            "example": "My Integration App"
          },
          "forecast_date": { "type": "string", "format": "date-time", "nullable": true, "example": "2026-12-31T00:00:00Z" },
          "entity_id": { "type": "string", "description": "Human-readable unique identifier.", "example": "NEG-0001" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "DealWithEmbedded": {
        "allOf": [
          { "$ref": "#/components/schemas/Deal" },
          {
            "type": "object",
            "properties": {
              "pipeline": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "name": { "type": "string" }
                }
              },
              "stage": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "name": { "type": "string" },
                  "type": { "type": "string", "enum": ["open", "win", "lost"] }
                }
              },
              "products": { "type": "array", "items": { "$ref": "#/components/schemas/DealProduct" } },
              "custom_fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomFieldValue" } },
              "tags": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "name": { "type": "string" },
                    "color_text": { "type": "string", "nullable": true },
                    "color_background": { "type": "string", "nullable": true }
                  }
                }
              },
              "people": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "full_name": { "type": "string" }
                  }
                }
              },
              "companies": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "full_name": { "type": "string" }
                  }
                }
              }
            }
          }
        ]
      },
      "DealProductInput": {
        "type": "object",
        "required": ["product_id"],
        "properties": {
          "product_id": { "type": "string", "format": "uuid" },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Number of units. Only applicable for one-time products. Recurring products (monthly, quarterly, annually) always use quantity 1 regardless of the value sent."
          },
          "unit_price_cts": {
            "type": "integer",
            "minimum": 0,
            "description": "Overrides the product's catalog price. In cents. If omitted, the product's default price is used.",
            "example": 50000
          }
        }
      },
      "CreateDealRequest": {
        "type": "object",
        "required": ["name", "pipeline_id", "stage_id", "currency"],
        "properties": {
          "name": { "type": "string", "maxLength": 70, "example": "Acme Corp Annual Contract" },
          "pipeline_id": { "type": "string", "format": "uuid" },
          "stage_id": { "type": "string", "format": "uuid" },
          "currency": { "$ref": "#/components/schemas/CurrencyCode" },
          "price_cts": { "type": "integer", "minimum": 0, "default": 0, "description": "Deal value in cents.", "example": 250000 },
          "owner_user_id": { "type": "string", "format": "uuid" },
          "forecast_date": { "type": "string", "format": "date-time", "nullable": true, "example": "2026-12-31T00:00:00Z" },
          "person_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "People to associate with this deal."
          },
          "company_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "Companies to associate with this deal."
          },
          "tag_ids": { "type": "array", "items": { "type": "string", "format": "uuid" } },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "deal_source",
                  "description": "Key of the custom field (e.g. `deal_source`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": {}
              }
            },
            "description": "Custom field values to set for the deal. Identified by `field_key`. If the field does not exist, it is created automatically with type `text`."
          },
          "products": { "type": "array", "items": { "$ref": "#/components/schemas/DealProductInput" } }
        }
      },
      "UpdateDealRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "maxLength": 70 },
          "pipeline_id": { "type": "string", "format": "uuid" },
          "stage_id": { "type": "string", "format": "uuid" },
          "currency": { "$ref": "#/components/schemas/CurrencyCode" },
          "price_cts": { "type": "integer", "minimum": 0 },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "forecast_date": { "type": "string", "format": "date-time", "nullable": true },
          "person_ids": { "type": "array", "items": { "type": "string", "format": "uuid" } },
          "company_ids": { "type": "array", "items": { "type": "string", "format": "uuid" } },
          "tag_ids": { "type": "array", "items": { "type": "string", "format": "uuid" } },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "deal_source",
                  "description": "Key of the custom field (e.g. `deal_source`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": {}
              }
            },
            "description": "Custom field values. Behavior depends on `association_mode`. In `append` mode, replaces the value for each `field_key` sent without touching others."
          },
          "products": { "type": "array", "items": { "$ref": "#/components/schemas/DealProductInput" } },
          "association_mode": {
            "type": "string",
            "enum": ["append", "replace"],
            "default": "append",
            "description": "append: adds without removing existing. replace: removes all associations of the sent types and inserts the new ones."
          }
        }
      },
      "DealsListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Deal" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "DealWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/DealWithEmbedded" }
        }
      }
    }
  }
}
