{
  "openapi": "3.1.0",
  "info": {
    "title": "Deals",
    "description": "Manage deals in the sales pipeline.",
    "version": "1.0.0",
    "contact": { "name": "Vendaze Support", "email": "suporte@vendaze.com" }
  },
  "servers": [{ "url": "https://api.vendaze.com", "description": "Production" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [{ "name": "Deals" }],
  "paths": {
    "/v1/deals": {
      "post": {
        "operationId": "createDeal",
        "summary": "Create a deal",
        "description": "Creates a new deal in the workspace. The `source` field is automatically set to the name of the OAuth app making the request and cannot be set by the caller.",
        "tags": ["Deals"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateDealRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Deal created successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DealWithEmbeddedResponse" } } }
          },
          "400": {
            "description": "Invalid or unparseable JSON body. Error code: `bad_request`. Message: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/deals/{id}": {
      "get": {
        "operationId": "getDeal",
        "summary": "Get a deal",
        "description": "Returns a deal by ID with embedded pipeline, stage, products, custom fields, tags, people, and companies.",
        "tags": ["Deals"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "Deal returned successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DealWithEmbeddedResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "patch": {
        "operationId": "updateDeal",
        "summary": "Update a deal",
        "description": "Updates a deal. Only fields included in the body are modified. `source` cannot be changed.",
        "tags": ["Deals"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateDealRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Deal updated successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DealWithEmbeddedResponse" } } }
          },
          "400": {
            "description": "Invalid or unparseable JSON body. Error code: `bad_request`. Message: `\"Request body must be valid JSON.\"` For PATCH with no fields: code `bad_request`, message `\"No fields provided for update.\"`",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "No fields provided for update.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "delete": {
        "operationId": "deleteDeal",
        "summary": "Delete a deal",
        "description": "Soft-delete: the record is no longer accessible via the API.",
        "tags": ["Deals"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Deal deleted successfully." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "OAuth 2.1 access token." }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID of the resource."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Token missing, invalid, or expired. Possible error codes and messages: `unauthorized` — `\"Missing or invalid Authorization header.\"`, `\"Invalid or malformed token.\"`, or `\"Token is missing required claims.\"`; `token_expired` — `\"Access token expired. Refresh using the refresh token.\"`",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "unauthorized",
                "message": "Missing or invalid Authorization header.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InsufficientScope": {
        "description": "Token lacks the required scope. Error code: `insufficient_scope`. Message: `\"This endpoint requires the '{scope}' scope.\"` where `{scope}` is the exact missing scope (e.g. `\"This endpoint requires the 'deals:write' scope.\"`).",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "insufficient_scope",
                "message": "This endpoint requires the 'deals:write' scope.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found, soft-deleted, or belongs to another workspace. Error code: `not_found`. Message: `\"Deal not found.\"`",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": { "code": "not_found", "message": "Deal not found.", "request_id": "550e8400-e29b-41d4-a716-446655440000" }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Input validation failed. Error code: `validation_error`. Message: `\"Validation failed.\"` The `fields` object maps each invalid field to a description of the problem.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" },
            "example": {
              "error": {
                "code": "validation_error",
                "message": "Validation failed.",
                "fields": { "currency": "Invalid enum value." },
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded. Error code: `rate_limit_exceeded`. Message: `\"Rate limit exceeded. Try again in {N} seconds.\"` The `Retry-After` response header contains the same value.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "rate_limit_exceeded",
                "message": "Rate limit exceeded. Try again in 60 seconds.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Unexpected server error. Error code: `internal_error`. Possible messages: `\"An unexpected error occurred.\"` (generic failure) or `\"Deal updated but associations failed. Retry the associations.\"` (main record saved but association update failed). Use the `request_id` to correlate with server-side logs.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "internal_error",
                "message": "An unexpected error occurred.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "not_found" },
              "message": { "type": "string", "example": "Deal not found." },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "validation_error" },
              "message": { "type": "string", "example": "Validation failed." },
              "fields": { "type": "object", "additionalProperties": { "type": "string" } },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "CurrencyCode": {
        "type": "string",
        "description": "ISO 4217 currency code supported by Vendaze.",
        "enum": [
          "AED",
          "ARS",
          "AUD",
          "BRL",
          "CAD",
          "CHF",
          "CLP",
          "CNY",
          "COP",
          "DKK",
          "EGP",
          "EUR",
          "GBP",
          "HKD",
          "ILS",
          "INR",
          "JPY",
          "KWD",
          "MAD",
          "MXN",
          "MYR",
          "NGN",
          "NOK",
          "NZD",
          "PEN",
          "QAR",
          "SAR",
          "SEK",
          "SGD",
          "TRY",
          "USD",
          "UYU",
          "ZAR"
        ],
        "example": "BRL"
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "value": {},
          "field": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "label": { "type": "string" },
              "key": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      },
      "DealProduct": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "product_id": { "type": "string", "format": "uuid", "nullable": true },
          "name": { "type": "string", "nullable": true },
          "quantity": { "type": "integer", "example": 2 },
          "billing_cycle": { "type": "string", "enum": ["one_time", "monthly", "quarterly", "annually"] },
          "unit_price_cts": { "type": "integer", "description": "Unit price in cents.", "example": 50000 },
          "total_price_cts": { "type": "integer", "description": "Total price in cents (unit_price_cts x quantity).", "example": 100000 }
        }
      },
      "Owner": {
        "type": "object",
        "nullable": true,
        "description": "Workspace member responsible for this record. `null` when no owner is assigned.",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "email": { "type": "string", "format": "email", "example": "joao@company.com" },
          "name": { "type": "string", "example": "João Silva" }
        }
      },
      "Deal": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "example": "Acme Corp Annual Contract" },
          "pipeline_id": { "type": "string", "format": "uuid" },
          "stage_id": { "type": "string", "format": "uuid" },
          "price_cts": { "type": "integer", "description": "Deal value in cents. 250000 = R$ 2,500.00", "example": 250000 },
          "currency": { "$ref": "#/components/schemas/CurrencyCode" },
          "owner": { "$ref": "#/components/schemas/Owner" },
          "source": {
            "type": "string",
            "description": "Name of the OAuth app that created the deal. Read-only.",
            "example": "My Integration App"
          },
          "forecast_date": { "type": "string", "format": "date-time", "nullable": true, "example": "2026-12-31T00:00:00Z" },
          "entity_id": { "type": "string", "description": "Human-readable unique identifier.", "example": "NEG-0001" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "DealWithEmbedded": {
        "allOf": [
          { "$ref": "#/components/schemas/Deal" },
          {
            "type": "object",
            "properties": {
              "pipeline": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "name": { "type": "string" }
                }
              },
              "stage": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "name": { "type": "string" },
                  "type": { "type": "string", "enum": ["open", "win", "lost"] }
                }
              },
              "products": { "type": "array", "items": { "$ref": "#/components/schemas/DealProduct" } },
              "custom_fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomFieldValue" } },
              "tags": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "name": { "type": "string" },
                    "color_text": { "type": "string", "nullable": true },
                    "color_background": { "type": "string", "nullable": true }
                  }
                }
              },
              "people": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "full_name": { "type": "string" }
                  }
                }
              },
              "companies": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "full_name": { "type": "string" }
                  }
                }
              }
            }
          }
        ]
      },
      "DealProductInput": {
        "type": "object",
        "required": ["product_id"],
        "properties": {
          "product_id": { "type": "string", "format": "uuid" },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Number of units. Only applicable for one-time products. Recurring products (monthly, quarterly, annually) always use quantity 1 regardless of the value sent."
          },
          "unit_price_cts": {
            "type": "integer",
            "minimum": 0,
            "description": "Overrides the product's catalog price. In cents. If omitted, the product's default price is used.",
            "example": 50000
          }
        }
      },
      "CreateDealRequest": {
        "type": "object",
        "required": ["name", "pipeline_id", "stage_id", "currency"],
        "properties": {
          "name": { "type": "string", "maxLength": 70, "example": "Acme Corp Annual Contract" },
          "pipeline_id": { "type": "string", "format": "uuid" },
          "stage_id": { "type": "string", "format": "uuid" },
          "currency": { "$ref": "#/components/schemas/CurrencyCode" },
          "price_cts": { "type": "integer", "minimum": 0, "default": 0, "description": "Deal value in cents.", "example": 250000 },
          "owner_email": {
            "type": "string",
            "format": "email",
            "description": "Email of the workspace member to set as owner. The API resolves it to the internal user ID. Must be a member of this workspace.",
            "example": "joao@company.com"
          },
          "forecast_date": { "type": "string", "format": "date-time", "nullable": true, "example": "2026-12-31T00:00:00Z" },
          "person_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "People to associate with this deal."
          },
          "company_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "Companies to associate with this deal."
          },
          "tag_ids": { "type": "array", "items": { "type": "string", "format": "uuid" } },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "deal_source",
                  "description": "Key of the custom field (e.g. `deal_source`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": {}
              }
            },
            "description": "Custom field values to set for the deal. Identified by `field_key`. If the field does not exist, it is created automatically with type `text`."
          },
          "products": { "type": "array", "items": { "$ref": "#/components/schemas/DealProductInput" } }
        }
      },
      "UpdateDealRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "maxLength": 70 },
          "pipeline_id": { "type": "string", "format": "uuid" },
          "stage_id": { "type": "string", "format": "uuid" },
          "currency": { "$ref": "#/components/schemas/CurrencyCode" },
          "price_cts": { "type": "integer", "minimum": 0 },
          "owner_email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Email of the workspace member to set as owner. Pass `null` to remove the owner. Must be a member of this workspace.",
            "example": "joao@company.com"
          },
          "forecast_date": { "type": "string", "format": "date-time", "nullable": true },
          "person_ids": { "type": "array", "items": { "type": "string", "format": "uuid" } },
          "company_ids": { "type": "array", "items": { "type": "string", "format": "uuid" } },
          "tag_ids": { "type": "array", "items": { "type": "string", "format": "uuid" } },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "deal_source",
                  "description": "Key of the custom field (e.g. `deal_source`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": {}
              }
            },
            "description": "Custom field values. Behavior depends on `association_mode`. In `append` mode, replaces the value for each `field_key` sent without touching others."
          },
          "products": { "type": "array", "items": { "$ref": "#/components/schemas/DealProductInput" } },
          "association_mode": {
            "type": "string",
            "enum": ["append", "replace"],
            "default": "append",
            "description": "append: adds without removing existing. replace: removes all associations of the sent types and inserts the new ones."
          }
        }
      },
      "DealWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/DealWithEmbedded" }
        }
      }
    }
  }
}
