{
  "openapi": "3.1.0",
  "info": {
    "title": "OAuth 2.1",
    "description": "Endpoints for registering applications and managing OAuth 2.1 tokens.",
    "version": "1.0.0",
    "contact": { "name": "Vendaze Support", "email": "suporte@vendaze.com" }
  },
  "servers": [{ "url": "https://api.vendaze.com", "description": "Production" }],
  "security": [{ "bearerAuth": [] }],
  "tags": [{ "name": "OAuth" }],
  "paths": {
    "/v1/auth/register-app": {
      "post": {
        "operationId": "registerApp",
        "summary": "Register an app",
        "description": "Register a new OAuth app. Credentials are sent by email. No authentication required.",
        "security": [],
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterAppRequest" } } }
        },
        "responses": {
          "201": {
            "description": "App registered successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterAppResponse" } } }
          },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/v1/auth/rotate-app": {
      "post": {
        "operationId": "rotateApp",
        "summary": "Rotate app credentials",
        "description": "Issues a new client_secret and immediately invalidates the previous one. The client_id stays the same. Active user tokens are not affected.",
        "security": [],
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RotateAppRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Credentials rotated successfully. New credentials sent by email.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RotateAppResponse" } } }
          },
          "401": {
            "description": "Invalid client_id or email address.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "operationId": "authorize",
        "summary": "Start authorization",
        "description": "Redirects the user's browser to the Vendaze consent screen. **This endpoint must be opened in a browser — do not call it with fetch, axios, or any HTTP client.** The user must navigate to this URL so they can log in and approve access. Scopes are resolved from the app registration.",
        "security": [],
        "tags": ["OAuth"],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the OAuth application."
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "uri" },
            "description": "Redirect URI registered with the application."
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["code"] },
            "description": "Must be \"code\"."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Random string you generate. Returned unchanged in the callback. Strongly recommended to prevent CSRF attacks."
          }
        ],
        "responses": {
          "302": { "description": "Redirect to the Vendaze consent screen." },
          "400": {
            "description": "Invalid parameter.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "issueToken",
        "summary": "Issue or refresh a token",
        "description": "Exchange an authorization code for tokens, or refresh an access token using a refresh token.",
        "security": [],
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TokenRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Tokens issued successfully.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TokenResponse" } } }
          },
          "400": {
            "description": "Invalid request.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Invalid credentials.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "operationId": "revokeToken",
        "summary": "Revoke a token",
        "description": "Revoke an access token or refresh token. Returns 200 even if already revoked.",
        "security": [],
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RevokeTokenRequest" } } }
        },
        "responses": {
          "200": { "description": "Token revoked." },
          "401": {
            "description": "Invalid credentials.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "OAuth 2.1 access token." }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID of the resource."
      },
      "page": { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1, "minimum": 1 } },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 100 },
        "description": "Max 100."
      },
      "order_by": { "name": "order_by", "in": "query", "schema": { "type": "string", "default": "created_at" } },
      "order": { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" } },
      "created_after": { "name": "created_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "created_before": { "name": "created_before", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "updated_after": { "name": "updated_after", "in": "query", "schema": { "type": "string", "format": "date-time" } },
      "updated_before": { "name": "updated_before", "in": "query", "schema": { "type": "string", "format": "date-time" } }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid token.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "InsufficientScope": {
        "description": "Token lacks the required scope.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      },
      "ValidationError": {
        "description": "Input validation failed.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" } } }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "not_found" },
              "message": { "type": "string", "example": "Resource not found." },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "validation_error" },
              "message": { "type": "string", "example": "Validation failed." },
              "fields": { "type": "object", "additionalProperties": { "type": "string" } },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "example": 150 },
          "page": { "type": "integer", "example": 1 },
          "per_page": { "type": "integer", "example": 50 },
          "has_more": { "type": "boolean", "example": true }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email", "example": "nome@empresa.com" },
          "reminder": {
            "type": "string",
            "enum": ["personal", "work", "other"],
            "description": "Type of email. Accepted values: personal, work, other.",
            "example": "work"
          }
        },
        "example": { "email": "nome@empresa.com", "reminder": "work" }
      },
      "ContactPhone": {
        "type": "object",
        "required": ["phone"],
        "properties": {
          "phone": { "type": "string", "example": "+5511999990001" },
          "reminder": {
            "type": "string",
            "enum": ["mobile", "work", "residential", "other"],
            "description": "Type of phone. Accepted values: mobile, work, residential, other.",
            "example": "mobile"
          }
        },
        "example": { "phone": "+5511999990001", "reminder": "mobile" }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "color_text": { "type": "string", "nullable": true },
          "color_background": { "type": "string", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "value": { "type": "string", "nullable": true },
          "field": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "label": { "type": "string" },
              "key": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      },
      "ScopeValue": {
        "type": "string",
        "enum": [
          "people:read",
          "people:write",
          "companies:read",
          "companies:write",
          "deals:read",
          "deals:write",
          "tasks:read",
          "tasks:write",
          "activities:read",
          "activities:write",
          "products:read",
          "products:write",
          "tags:read",
          "tags:write",
          "lists:read",
          "lists:write",
          "custom_fields:read",
          "custom_fields:write"
        ],
        "description": "A single OAuth scope value."
      },
      "RegisterAppRequest": {
        "type": "object",
        "required": ["app_name", "email", "redirect_uris", "scopes"],
        "properties": {
          "app_name": { "type": "string", "maxLength": 100, "example": "My SaaS" },
          "email": { "type": "string", "format": "email", "example": "dev@mysaas.com" },
          "description": { "type": "string", "maxLength": 500, "example": "Integration with Vendaze to sync contacts." },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "example": "https://mysaas.com/assets/logo.webp",
            "description": "HTTPS URL of your app logo. Vendaze fetches the image, validates the format using magic bytes, and stores it. Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF. SVG is not accepted. Max 2MB."
          },
          "redirect_uris": {
            "type": "array",
            "items": { "type": "string", "format": "uri" },
            "example": ["https://mysaas.com/callback/vendaze"]
          },
          "scopes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ScopeValue" },
            "example": ["people:read", "deals:write"],
            "description": "Scopes your app needs. Users approve them individually on the consent screen."
          }
        }
      },
      "RegisterAppResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "app_name": { "type": "string", "example": "My SaaS" },
              "client_id": { "type": "string", "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d" },
              "avatar_url": {
                "type": "string",
                "example": "https://storage.vendaze.com/assets/integrations/mysaas.jpg",
                "description": "Public URL of the stored avatar. Always a JPEG — Vendaze converts all formats on upload. Only present if avatar_url was provided in the request."
              },
              "message": { "type": "string", "example": "Credentials sent by email." }
            }
          }
        }
      },
      "RotateAppRequest": {
        "type": "object",
        "required": ["client_id", "email"],
        "properties": {
          "client_id": {
            "type": "string",
            "format": "uuid",
            "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d",
            "description": "Current client_id of the app being rotated."
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "dev@mysaas.com",
            "description": "Email address registered with the app. Used to verify ownership. The API never reveals which email is on file."
          },
          "app_name": {
            "type": "string",
            "maxLength": 100,
            "example": "My SaaS v2",
            "description": "New name shown to users on the consent screen. Max 100 chars. If omitted, the current name is kept."
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "example": "Updated integration with Vendaze.",
            "description": "New description of what your app does. Max 500 chars. If omitted, the current description is kept."
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "example": "https://mysaas.com/assets/logo-v2.webp",
            "description": "HTTPS URL of your app logo. Vendaze fetches the image, validates the format, converts to JPEG (max 400x400px), and stores it. Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF. SVG is not accepted. If omitted, the current avatar is kept."
          },
          "redirect_uris": {
            "type": "array",
            "items": { "type": "string", "format": "uri" },
            "example": ["https://mysaas.com/callback/vendaze"],
            "description": "New list of HTTPS redirect URIs. Replaces the previous list entirely. If omitted, the current list is kept."
          }
        }
      },
      "RotateAppResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "app_name": { "type": "string", "example": "My SaaS v2" },
              "client_id": {
                "type": "string",
                "format": "uuid",
                "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d",
                "description": "The app's client_id. Does not change after rotation."
              },
              "avatar_url": {
                "type": "string",
                "example": "https://storage.vendaze.com/assets/integrations/mysaasv2.jpg",
                "description": "Public URL of the stored avatar. Only present if avatar_url was provided in the request."
              },
              "message": { "type": "string", "example": "New credentials sent by email." }
            }
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "required": ["grant_type", "client_id", "client_secret"],
        "properties": {
          "grant_type": { "type": "string", "enum": ["authorization_code", "refresh_token"] },
          "code": { "type": "string", "description": "Required for grant_type=authorization_code." },
          "redirect_uri": { "type": "string", "format": "uri", "description": "Required for grant_type=authorization_code." },
          "client_id": { "type": "string", "format": "uuid" },
          "client_secret": { "type": "string" },
          "refresh_token": { "type": "string", "description": "Required for grant_type=refresh_token." }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": { "type": "string", "example": "eyJ..." },
          "refresh_token": { "type": "string", "example": "eyJ..." },
          "token_type": { "type": "string", "example": "Bearer" },
          "expires_in": { "type": "integer", "example": 3600 },
          "workspace_slug": {
            "type": "string",
            "description": "Slug of the workspace the user authorized. Use this to identify the connected account in your app.",
            "example": "acme-corp"
          }
        }
      },
      "RevokeTokenRequest": {
        "type": "object",
        "required": ["token", "client_id", "client_secret"],
        "properties": {
          "token": { "type": "string", "description": "Access token or refresh token to revoke." },
          "client_id": { "type": "string", "format": "uuid" },
          "client_secret": { "type": "string" }
        }
      }
    }
  }
}
