{
  "openapi": "3.1.0",
  "info": {
    "title": "OAuth 2.1",
    "description": "Endpoints for registering applications and managing OAuth 2.1 tokens.",
    "version": "1.0.0",
    "contact": {
      "name": "Vendaze Support",
      "email": "suporte@vendaze.com"
    }
  },
  "servers": [
    {
      "url": "https://api.vendaze.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "OAuth"
    },
    {
      "name": "People"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Deals"
    },
    {
      "name": "Tasks"
    },
    {
      "name": "Activities"
    },
    {
      "name": "Products"
    },
    {
      "name": "Tags"
    },
    {
      "name": "Lists"
    },
    {
      "name": "Custom Fields"
    }
  ],
  "paths": {
    "/v1/auth/register-app": {
      "post": {
        "operationId": "registerApp",
        "summary": "Register an app",
        "description": "Register a new OAuth app. Credentials are sent by email. No authentication required.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAppRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "App registered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterAppResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/auth/rotate-app": {
      "post": {
        "operationId": "rotateApp",
        "summary": "Rotate app credentials",
        "description": "Issues a new client_secret and immediately invalidates the previous one. The client_id stays the same. Active user tokens are not affected.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateAppRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credentials rotated successfully. New credentials sent by email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateAppResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid client_id or email address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "operationId": "authorize",
        "summary": "Start authorization",
        "description": "Redirects the user's browser to the Vendaze consent screen. **This endpoint must be opened in a browser — do not call it with fetch, axios, or any HTTP client.** The user must navigate to this URL so they can log in and approve access. Scopes are resolved from the app registration.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the OAuth application."
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Redirect URI registered with the application."
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            },
            "description": "Must be \"code\"."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Random string you generate. Returned unchanged in the callback. Strongly recommended to prevent CSRF attacks."
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the Vendaze consent screen."
          },
          "400": {
            "description": "Invalid parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "issueToken",
        "summary": "Issue or refresh a token",
        "description": "Exchange an authorization code for tokens, or refresh an access token using a refresh token. Accepts application/x-www-form-urlencoded (recommended) or application/json.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens issued successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "operationId": "revokeToken",
        "summary": "Revoke a token",
        "description": "Revoke an access token or refresh token. Returns 200 even if already revoked.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token revoked."
          },
          "401": {
            "description": "Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/people": {
      "post": {
        "operationId": "createPerson",
        "summary": "Create a person",
        "description": "Creates a new person in the workspace. Returns the created person with embedded `company`, `tags`, `lists`, and `custom_fields`.",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePersonRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Person created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/people/{id}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Get a person",
        "description": "Returns a person by ID with embedded `company`, `tags`, `lists`, and `custom_fields`.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Person returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updatePerson",
        "summary": "Update a person",
        "description": "Updates a person. Only fields included in the body are modified. Returns the updated person with embedded `company`, `tags`, `lists`, and `custom_fields`.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "deletePerson",
        "summary": "Delete a person",
        "description": "Soft-deletes a person. The record is no longer accessible via the API.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Person deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/companies": {
      "post": {
        "operationId": "createCompany",
        "summary": "Create a company",
        "description": "Creates a new company in the workspace. Returns the created company with embedded `tags`, `lists`, and `custom_fields`.",
        "tags": [
          "Companies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompanyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Company created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get a company",
        "description": "Returns a company by ID with embedded `tags`, `lists`, and `custom_fields`.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Company returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateCompany",
        "summary": "Update a company",
        "description": "Updates a company. Only fields included in the body are modified. Returns the updated company with embedded `tags`, `lists`, and `custom_fields`.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompanyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Delete a company",
        "description": "Soft-deletes a company. The record is no longer accessible via the API.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Company deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/deals": {
      "post": {
        "operationId": "createDeal",
        "summary": "Create a deal",
        "description": "Creates a new deal in the workspace. The `source` field is automatically set to the name of the OAuth app making the request and cannot be set by the caller.",
        "tags": [
          "Deals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDealRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deal created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/deals/{id}": {
      "get": {
        "operationId": "getDeal",
        "summary": "Get a deal",
        "description": "Returns a deal by ID with embedded pipeline, stage, products, custom fields, tags, people, and companies.",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Deal returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateDeal",
        "summary": "Update a deal",
        "description": "Updates a deal. Only fields included in the body are modified. `source` cannot be changed.",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDealRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deal updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "deleteDeal",
        "summary": "Delete a deal",
        "description": "Soft-delete: the record is no longer accessible via the API.",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deal deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List tasks",
        "description": "Returns a paginated list of tasks in the authorized workspace.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "name": "person_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by linked person."
          },
          {
            "name": "company_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by linked company."
          },
          {
            "name": "deal_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by linked deal."
          },
          {
            "name": "type_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by task type."
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "high",
                "medium",
                "low"
              ]
            },
            "description": "Filter by priority."
          },
          {
            "name": "completed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by completion status."
          },
          {
            "$ref": "#/components/parameters/created_after"
          },
          {
            "$ref": "#/components/parameters/created_before"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TasksListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create a task",
        "description": "Creates a new task in the workspace.",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Task created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/tasks/{id}": {
      "get": {
        "operationId": "getTask",
        "summary": "Get a task",
        "description": "Returns a task by ID.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Task returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateTask",
        "summary": "Update a task",
        "description": "Updates a task. Only fields included in the body are modified.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "deleteTask",
        "summary": "Delete a task",
        "description": "Permanently removes the task from the workspace.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Task deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/activities": {
      "get": {
        "operationId": "listActivities",
        "summary": "List activities",
        "description": "Returns activities. At least one entity filter (person_id, company_id, or deal_id) is required.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "name": "person_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by linked person."
          },
          {
            "name": "company_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by linked company."
          },
          {
            "name": "deal_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by linked deal."
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "notes",
                "email",
                "call",
                "meeting"
              ]
            },
            "description": "Filter by activity type."
          },
          {
            "$ref": "#/components/parameters/created_after"
          },
          {
            "$ref": "#/components/parameters/created_before"
          }
        ],
        "responses": {
          "200": {
            "description": "List of activities returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "createActivity",
        "summary": "Create an activity",
        "description": "Creates an activity. At least one entity (person_id, company_id, or deal_id) must be provided.",
        "tags": [
          "Activities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateActivityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Activity created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/activities/{id}": {
      "get": {
        "operationId": "getActivity",
        "summary": "Get an activity",
        "description": "Returns an activity by ID.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Activity returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteActivity",
        "summary": "Delete an activity",
        "description": "Permanently removes the activity from the workspace.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Activity deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "Returns a paginated list of products in the workspace.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "$ref": "#/components/parameters/order"
          }
        ],
        "responses": {
          "200": {
            "description": "List of products returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Create a product",
        "description": "Creates a new product in the workspace.",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/products/{id}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get a product",
        "description": "Returns a product by ID.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Product returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateProduct",
        "summary": "Update a product",
        "description": "Updates a product. Only fields included in the body are modified.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "deleteProduct",
        "summary": "Delete a product",
        "description": "Soft-delete: the record is no longer accessible via the API.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Product deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "description": "Returns all tags in the workspace.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "$ref": "#/components/parameters/order"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "createTag",
        "summary": "Create a tag",
        "description": "Creates a new tag in the workspace.",
        "tags": [
          "Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTagRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/tags/{id}": {
      "get": {
        "operationId": "getTag",
        "summary": "Get a tag",
        "description": "Returns a tag by ID.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateTag",
        "summary": "Update a tag",
        "description": "Updates a tag. Only fields included in the body are modified.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "deleteTag",
        "summary": "Delete a tag",
        "description": "Soft-delete: the record is no longer accessible via the API.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Tag deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/lists": {
      "get": {
        "operationId": "listLists",
        "summary": "List contact lists",
        "description": "Returns all contact lists in the workspace.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "$ref": "#/components/parameters/order"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact lists returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListsListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "createList",
        "summary": "Create a list",
        "description": "Creates a new contact list in the workspace.",
        "tags": [
          "Lists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "List created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/lists/{id}": {
      "get": {
        "operationId": "getList",
        "summary": "Get a list",
        "description": "Returns a contact list by ID.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "List returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateList",
        "summary": "Update a list",
        "description": "Updates a contact list. Only fields included in the body are modified.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "deleteList",
        "summary": "Delete a list",
        "description": "Soft-delete: the record is no longer accessible via the API.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "List deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/custom-fields": {
      "get": {
        "operationId": "listCustomFields",
        "summary": "List custom fields",
        "description": "Returns all custom fields in the workspace.",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "name": "show_people",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter fields visible on people."
          },
          {
            "name": "show_companies",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter fields visible on companies."
          },
          {
            "name": "show_deals",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter fields visible on deals."
          }
        ],
        "responses": {
          "200": {
            "description": "List of custom fields returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "createCustomField",
        "summary": "Create a custom field",
        "description": "Creates a new custom field in the workspace.",
        "tags": [
          "Custom Fields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomFieldRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom field created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/custom-fields/{id}": {
      "get": {
        "operationId": "getCustomField",
        "summary": "Get a custom field",
        "description": "Returns a custom field by ID.",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom field returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateCustomField",
        "summary": "Update a custom field",
        "description": "Updates a custom field. Only fields included in the body are modified.",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomFieldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomField",
        "summary": "Delete a custom field",
        "description": "Soft-delete: the record is no longer accessible via the API.",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Custom field deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.1 access token."
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "UUID of the resource."
      },
      "page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1,
          "minimum": 1
        }
      },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 50,
          "minimum": 1,
          "maximum": 100
        },
        "description": "Max 100."
      },
      "order_by": {
        "name": "order_by",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "created_at"
          ],
          "default": "created_at"
        },
        "description": "Field to sort by."
      },
      "order": {
        "name": "order",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "desc"
        }
      },
      "created_after": {
        "name": "created_after",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "created_before": {
        "name": "created_before",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "updated_after": {
        "name": "updated_after",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "updated_before": {
        "name": "updated_before",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid token.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InsufficientScope": {
        "description": "Token lacks the required scope.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Input validation failed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationErrorResponse"
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Malformed request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "not_found"
              },
              "message": {
                "type": "string",
                "example": "Resource not found."
              },
              "request_id": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "validation_error"
              },
              "message": {
                "type": "string",
                "example": "Validation failed."
              },
              "fields": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "request_id": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "example": 150
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "per_page": {
            "type": "integer",
            "example": 50
          },
          "has_more": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "nome@empresa.com"
          },
          "type": {
            "type": "string",
            "enum": [
              "personal",
              "work",
              "other"
            ],
            "description": "Email type. Accepted values: personal, work, other.",
            "example": "work"
          }
        },
        "example": {
          "email": "nome@empresa.com",
          "type": "work"
        }
      },
      "ContactPhone": {
        "type": "object",
        "required": [
          "phone"
        ],
        "properties": {
          "phone": {
            "type": "string",
            "example": "+5511999990001"
          },
          "type": {
            "type": "string",
            "enum": [
              "mobile",
              "work",
              "residential",
              "other"
            ],
            "description": "Phone type. Accepted values: mobile, work, residential, other.",
            "example": "mobile"
          }
        },
        "example": {
          "phone": "+5511999990001",
          "type": "mobile"
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "maxLength": 30,
            "example": "vip-client"
          },
          "color_text": {
            "type": "string",
            "nullable": true,
            "example": "#ffffff"
          },
          "color_background": {
            "type": "string",
            "nullable": true,
            "example": "#0085c0"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "maxLength": 50,
            "example": "Q3 Inbound Leads"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "value": {},
          "field": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "label": {
                "type": "string"
              },
              "key": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          }
        }
      },
      "ScopeValue": {
        "type": "string",
        "enum": [
          "people:read",
          "people:write",
          "companies:read",
          "companies:write",
          "deals:read",
          "deals:write",
          "tasks:read",
          "tasks:write",
          "activities:read",
          "activities:write",
          "products:read",
          "products:write",
          "tags:read",
          "tags:write",
          "lists:read",
          "lists:write",
          "custom_fields:read",
          "custom_fields:write"
        ],
        "description": "A single OAuth scope value."
      },
      "RegisterAppRequest": {
        "type": "object",
        "required": [
          "app_name",
          "email",
          "redirect_uris",
          "scopes"
        ],
        "properties": {
          "app_name": {
            "type": "string",
            "maxLength": 100,
            "example": "My SaaS"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "dev@mysaas.com"
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "example": "Integration with Vendaze to sync contacts."
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "example": "https://mysaas.com/assets/logo.webp",
            "description": "HTTPS URL of your app logo. Vendaze fetches the image, validates the format using magic bytes, and stores it. Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF. SVG is not accepted. Max 2MB."
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "example": [
              "https://mysaas.com/callback/vendaze"
            ]
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScopeValue"
            },
            "example": [
              "people:read",
              "deals:write"
            ],
            "description": "Scopes your app needs. Users approve them individually on the consent screen."
          }
        }
      },
      "RegisterAppResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "app_name": {
                "type": "string",
                "example": "My SaaS"
              },
              "client_id": {
                "type": "string",
                "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d"
              },
              "avatar_url": {
                "type": "string",
                "example": "https://storage.vendaze.com/assets/integrations/mysaas.jpg",
                "description": "Public URL of the stored avatar. Always a JPEG — Vendaze converts all formats on upload. Only present if avatar_url was provided in the request."
              },
              "message": {
                "type": "string",
                "example": "Credentials sent by email."
              }
            }
          }
        }
      },
      "RotateAppRequest": {
        "type": "object",
        "required": [
          "client_id",
          "email"
        ],
        "properties": {
          "client_id": {
            "type": "string",
            "format": "uuid",
            "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d",
            "description": "Current client_id of the app being rotated."
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "dev@mysaas.com",
            "description": "Email address registered with the app. Used to verify ownership. The API never reveals which email is on file."
          },
          "app_name": {
            "type": "string",
            "maxLength": 100,
            "example": "My SaaS v2",
            "description": "New name shown to users on the consent screen. Max 100 chars. If omitted, the current name is kept."
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "example": "Updated integration with Vendaze.",
            "description": "New description of what your app does. Max 500 chars. If omitted, the current description is kept."
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "example": "https://mysaas.com/assets/logo-v2.webp",
            "description": "HTTPS URL of your app logo. Vendaze fetches the image, validates the format, converts to JPEG (max 400x400px), and stores it. Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF. SVG is not accepted. If omitted, the current avatar is kept."
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "example": [
              "https://mysaas.com/callback/vendaze"
            ],
            "description": "New list of HTTPS redirect URIs. Replaces the previous list entirely. If omitted, the current list is kept."
          }
        }
      },
      "RotateAppResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "app_name": {
                "type": "string",
                "example": "My SaaS v2"
              },
              "client_id": {
                "type": "string",
                "format": "uuid",
                "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d",
                "description": "The app's client_id. Does not change after rotation."
              },
              "avatar_url": {
                "type": "string",
                "example": "https://storage.vendaze.com/assets/integrations/mysaasv2.jpg",
                "description": "Public URL of the stored avatar. Only present if avatar_url was provided in the request."
              },
              "message": {
                "type": "string",
                "example": "New credentials sent by email."
              }
            }
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "required": [
          "grant_type",
          "client_id",
          "client_secret"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "authorization_code",
              "refresh_token"
            ]
          },
          "code": {
            "type": "string",
            "description": "Required for grant_type=authorization_code."
          },
          "client_id": {
            "type": "string",
            "format": "uuid"
          },
          "client_secret": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string",
            "description": "Required for grant_type=refresh_token."
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "required": [
          "workspace_slug"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "example": "eyJ..."
          },
          "refresh_token": {
            "type": "string",
            "example": "eyJ..."
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "example": 3600
          },
          "workspace_slug": {
            "type": "string",
            "description": "Slug of the workspace the user authorized. Use this to identify the connected account in your app.",
            "example": "acme-corp"
          }
        }
      },
      "RevokeTokenRequest": {
        "type": "object",
        "required": [
          "token",
          "client_id",
          "client_secret"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "The access_token (JWT) to revoke. Must be the access_token, not the refresh_token."
          },
          "client_id": {
            "type": "string",
            "format": "uuid"
          },
          "client_secret": {
            "type": "string"
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "full_name": {
            "type": "string",
            "maxLength": 70,
            "example": "Maria Silva"
          },
          "emails": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            },
            "example": [
              {
                "email": "maria@company.com",
                "type": "work"
              }
            ]
          },
          "phones": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            },
            "example": [
              {
                "phone": "+5511999990001",
                "type": "mobile"
              }
            ]
          },
          "company_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "owner_user_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "position": {
            "type": "string",
            "nullable": true,
            "example": "Sales Director"
          },
          "ranking": {
            "type": "number",
            "minimum": 0,
            "maximum": 5,
            "example": 0,
            "readOnly": true,
            "description": "Read-only. Managed internally by Vendaze."
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "example": "https://storage.vendaze.com/client/workspaces/abc/people/xyz/avatar/avatar_WWT1BGs9ma.webp"
          },
          "entity_id": {
            "type": "string",
            "example": "g7wwkh0"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PersonWithEmbedded": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Person"
          },
          {
            "type": "object",
            "properties": {
              "company": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "full_name": {
                    "type": "string"
                  }
                }
              },
              "tags": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "lists": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactList"
                }
              },
              "custom_fields": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomFieldValue"
                }
              }
            }
          }
        ]
      },
      "CreatePersonRequest": {
        "type": "object",
        "required": [
          "full_name"
        ],
        "properties": {
          "full_name": {
            "type": "string",
            "maxLength": 70,
            "example": "Maria Silva"
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            }
          },
          "company_id": {
            "type": "string",
            "format": "uuid"
          },
          "position": {
            "type": "string",
            "maxLength": 100,
            "example": "Sales Director"
          },
          "owner_user_id": {
            "type": "string",
            "format": "uuid"
          },
          "avatar_image": {
            "type": "string",
            "description": "Base64-encoded image (no data URI prefix). Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF. Converted to WebP 500x500."
          },
          "tag_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Tag IDs to associate with the person."
          },
          "list_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List IDs to associate with the person."
          },
          "deal_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Deal IDs to associate with the person."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "field_key",
                "value"
              ],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "lead_source",
                  "description": "Key of the custom field (e.g. `lead_source`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": {
                  "description": "Field value. Type depends on the custom field definition."
                }
              }
            },
            "description": "Custom field values to set for the person. Identified by `field_key`. If the field does not exist, it is created automatically with type `text`."
          }
        }
      },
      "UpdatePersonRequest": {
        "type": "object",
        "description": "All fields are optional. Only fields included in the body are modified.",
        "properties": {
          "full_name": {
            "type": "string",
            "maxLength": 70
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            }
          },
          "company_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Pass `null` to remove the company association."
          },
          "position": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Pass `null` to clear the job title."
          },
          "owner_user_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Pass `null` to remove the owner."
          },
          "avatar_image": {
            "type": "string",
            "description": "Base64-encoded image (no data URI prefix). Replaces the current avatar. Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF. Converted to WebP 500x500."
          },
          "tag_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Tag IDs to associate. Behavior depends on `association_mode`."
          },
          "list_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List IDs to associate. Behavior depends on `association_mode`."
          },
          "deal_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Deal IDs to associate. Behavior depends on `association_mode`."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "field_key",
                "value"
              ],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "lead_source",
                  "description": "Key of the custom field (e.g. `lead_source`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": {
                  "description": "Field value. Type depends on the custom field definition."
                }
              }
            },
            "description": "Custom field values. Behavior depends on `association_mode`. In `append` mode, replaces the value for each `field_key` sent without touching others."
          },
          "association_mode": {
            "type": "string",
            "enum": [
              "append",
              "replace"
            ],
            "default": "append",
            "description": "Controls how associations (`tag_ids`, `list_ids`, `deal_ids`, `custom_fields`) are applied. `append`: adds new associations without removing existing ones. `replace`: removes all current associations of each sent type and inserts the new ones. Sending an empty array with `replace` removes all associations of that type."
          }
        }
      },
      "PersonWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PersonWithEmbedded"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "full_name": {
            "type": "string",
            "maxLength": 70,
            "example": "Acme Corp"
          },
          "emails": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            },
            "example": [
              {
                "email": "contact@acme.com",
                "type": "work"
              }
            ]
          },
          "phones": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            },
            "example": [
              {
                "phone": "+551130000000",
                "type": "work"
              }
            ]
          },
          "owner_user_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "example": "https://storage.vendaze.com/client/workspaces/abc/companies/xyz/avatar/avatar_WWT1BGs9ma.webp"
          },
          "entity_id": {
            "type": "string",
            "example": "g7wwkh0"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CompanyWithEmbedded": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Company"
          },
          {
            "type": "object",
            "properties": {
              "tags": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "lists": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactList"
                }
              },
              "custom_fields": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomFieldValue"
                }
              }
            }
          }
        ]
      },
      "CreateCompanyRequest": {
        "type": "object",
        "required": [
          "full_name"
        ],
        "properties": {
          "full_name": {
            "type": "string",
            "maxLength": 70,
            "example": "Acme Corp"
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            }
          },
          "owner_user_id": {
            "type": "string",
            "format": "uuid"
          },
          "avatar_image": {
            "type": "string",
            "description": "Base64-encoded image (no data URI prefix). Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF. Converted to WebP 500x500."
          },
          "tag_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Tag IDs to associate with the company."
          },
          "list_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List IDs to associate with the company."
          },
          "deal_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Deal IDs to associate with the company."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "field_key",
                "value"
              ],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "industry",
                  "description": "Key of the custom field (e.g. `industry`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": {
                  "description": "Field value. Type depends on the custom field definition."
                }
              }
            },
            "description": "Custom field values to set for the company. Identified by `field_key`. If the field does not exist, it is created automatically with type `text`."
          }
        }
      },
      "UpdateCompanyRequest": {
        "type": "object",
        "description": "All fields are optional. Only fields included in the body are modified.",
        "properties": {
          "full_name": {
            "type": "string",
            "maxLength": 70
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            }
          },
          "owner_user_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Pass `null` to remove the owner."
          },
          "avatar_image": {
            "type": "string",
            "description": "Base64-encoded image (no data URI prefix). Replaces the current avatar. Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF. Converted to WebP 500x500."
          },
          "tag_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Tag IDs to associate. Behavior depends on `association_mode`."
          },
          "list_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List IDs to associate. Behavior depends on `association_mode`."
          },
          "deal_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Deal IDs to associate. Behavior depends on `association_mode`."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "field_key",
                "value"
              ],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "industry",
                  "description": "Key of the custom field (e.g. `industry`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": {
                  "description": "Field value. Type depends on the custom field definition."
                }
              }
            },
            "description": "Custom field values. Behavior depends on `association_mode`. In `append` mode, replaces the value for each `field_key` sent without touching others."
          },
          "association_mode": {
            "type": "string",
            "enum": [
              "append",
              "replace"
            ],
            "default": "append",
            "description": "Controls how associations (`tag_ids`, `list_ids`, `deal_ids`, `custom_fields`) are applied. `append`: adds new associations without removing existing ones. `replace`: removes all current associations of each sent type and inserts the new ones. Sending an empty array with `replace` removes all associations of that type."
          }
        }
      },
      "CompanyWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CompanyWithEmbedded"
          }
        }
      },
      "CurrencyCode": {
        "type": "string",
        "description": "ISO 4217 currency code supported by Vendaze.",
        "enum": [
          "AED",
          "ARS",
          "AUD",
          "BRL",
          "CAD",
          "CHF",
          "CLP",
          "CNY",
          "COP",
          "DKK",
          "EGP",
          "EUR",
          "GBP",
          "HKD",
          "ILS",
          "INR",
          "JPY",
          "KWD",
          "MAD",
          "MXN",
          "MYR",
          "NGN",
          "NOK",
          "NZD",
          "PEN",
          "QAR",
          "SAR",
          "SEK",
          "SGD",
          "TRY",
          "USD",
          "UYU",
          "ZAR"
        ],
        "example": "BRL"
      },
      "DealProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "product_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "quantity": {
            "type": "integer",
            "example": 2
          },
          "billing_cycle": {
            "type": "string",
            "enum": [
              "one_time",
              "monthly",
              "quarterly",
              "annually"
            ]
          },
          "unit_price_cts": {
            "type": "integer",
            "description": "Unit price in cents.",
            "example": 50000
          },
          "total_price_cts": {
            "type": "integer",
            "description": "Total price in cents (unit_price_cts x quantity).",
            "example": 100000
          }
        }
      },
      "Deal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "Acme Corp Annual Contract"
          },
          "pipeline_id": {
            "type": "string",
            "format": "uuid"
          },
          "stage_id": {
            "type": "string",
            "format": "uuid"
          },
          "price_cts": {
            "type": "integer",
            "description": "Deal value in cents. 250000 = R$ 2,500.00",
            "example": 250000
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "owner_user_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "source": {
            "type": "string",
            "description": "Name of the OAuth app that created the deal. Read-only.",
            "example": "My Integration App"
          },
          "forecast_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": "2026-12-31T00:00:00Z"
          },
          "entity_id": {
            "type": "string",
            "description": "Human-readable unique identifier.",
            "example": "NEG-0001"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DealWithEmbedded": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Deal"
          },
          {
            "type": "object",
            "properties": {
              "pipeline": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "stage": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "open",
                      "win",
                      "lost"
                    ]
                  }
                }
              },
              "products": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DealProduct"
                }
              },
              "custom_fields": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomFieldValue"
                }
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color_text": {
                      "type": "string",
                      "nullable": true
                    },
                    "color_background": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              },
              "people": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "full_name": {
                      "type": "string"
                    }
                  }
                }
              },
              "companies": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "full_name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "DealProductInput": {
        "type": "object",
        "required": [
          "product_id"
        ],
        "properties": {
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Number of units. Only applicable for one-time products. Recurring products (monthly, quarterly, annually) always use quantity 1 regardless of the value sent."
          },
          "unit_price_cts": {
            "type": "integer",
            "minimum": 0,
            "description": "Overrides the product's catalog price. In cents. If omitted, the product's default price is used.",
            "example": 50000
          }
        }
      },
[...]
