{
  "openapi": "3.1.0",
  "info": {
    "title": "OAuth 2.1",
    "description": "Endpoints for registering applications and managing OAuth 2.1 tokens.",
    "version": "1.0.0",
    "contact": {
      "name": "Vendaze Support",
      "email": "suporte@vendaze.com"
    }
  },
  "servers": [
    {
      "url": "https://api.vendaze.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "OAuth"
    },
    {
      "name": "People"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Deals"
    },
    {
      "name": "Pipelines"
    },
    {
      "name": "Tasks"
    },
    {
      "name": "Task Types"
    },
    {
      "name": "Activities"
    },
    {
      "name": "Products"
    },
    {
      "name": "Tags"
    },
    {
      "name": "Lists"
    },
    {
      "name": "Custom Fields"
    },
    {
      "name": "Webhooks"
    }
  ],
  "paths": {
    "/v1/auth/register-app": {
      "post": {
        "operationId": "registerApp",
        "summary": "Register an app",
        "description": "Register a new OAuth app. Credentials are sent by email.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAppRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "App registered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unparseable JSON body. Error code: `bad_request`. Message: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Email already registered to another app. Error code: `conflict`. Message: `\"An app is already registered with this email address.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "conflict",
                    "message": "An app is already registered with this email address.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Failed to create or persist the app. Error code: `internal_error`. Message: `\"An unexpected error occurred.\"` Use the `request_id` to correlate with server-side logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/delete-app": {
      "delete": {
        "operationId": "deleteApp",
        "summary": "Delete an app",
        "description": "Permanently deletes an OAuth app and all associated data, including active user sessions. This action is irreversible.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAppRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "App deleted. No response body."
          },
          "400": {
            "description": "Invalid or unparseable JSON body. Error code: `bad_request`. Message: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Email or client_secret does not match the registered app. Error code: `invalid_client`. Message: `\"Invalid client credentials.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "404": {
            "description": "App not found or already deleted. Error code: `not_found`. Message: `\"App not found.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "App not found.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed. Error code: `validation_error`. Message: `\"Validation failed.\"` The `fields` object maps each invalid field to a description of the problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "validation_error",
                    "message": "Validation failed.",
                    "fields": {
                      "email": "Invalid email address."
                    },
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Failed to delete the app. Error code: `internal_error`. Message: `\"An unexpected error occurred.\"` Use the `request_id` to correlate with server-side logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/rotate-app": {
      "post": {
        "operationId": "rotateApp",
        "summary": "Rotate app credentials",
        "description": "Issues a new client_secret and immediately invalidates the previous one. The client_id stays the same. Active user tokens are not affected.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateAppRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credentials rotated successfully. New credentials sent by email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unparseable JSON body. Error code: `bad_request`. Message: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Email does not match the one registered with the app. Error code: `invalid_client`. Message: `\"Invalid client credentials.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "404": {
            "description": "App not found or revoked. Error code: `not_found`. Message: `\"App not found.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "App not found.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Failed to rotate or persist the credentials. Error code: `internal_error`. Message: `\"An unexpected error occurred.\"` Use the `request_id` to correlate with server-side logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "operationId": "authorize",
        "summary": "Start authorization",
        "description": "Redirects the user's browser to the Vendaze consent screen. **This endpoint must be opened in a browser. do not call it with fetch, axios, or any HTTP client.** The user must navigate to this URL so they can log in and approve access. Scopes are resolved from the app registration.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the OAuth application."
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Redirect URI registered with the application."
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            },
            "description": "Must be \"code\"."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Random string you generate. Returned unchanged in the callback. Strongly recommended to prevent CSRF attacks."
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the Vendaze consent screen."
          },
          "400": {
            "description": "Invalid or missing parameter. Possible error codes: `invalid_request` (missing required parameter. message identifies which one, e.g. `\"Missing required parameter: redirect_uri.\"`), `unsupported_response_type` (`response_type` is not `code`. message: `\"response_type must be \\\"code\\\".\"`), `invalid_request` (`redirect_uri` not registered. message: `\"redirect_uri does not match any registered URI.\"`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Missing required parameter: redirect_uri.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "App not found or inactive. Error code: `invalid_client`. Message: `\"Invalid client credentials.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Authorization service unavailable. Error code: `internal_error`. Message: `\"An unexpected error occurred.\"` Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "issueToken",
        "summary": "Issue or refresh a token",
        "description": "Exchange an authorization code for tokens, or refresh an access token using a refresh token. Accepts application/x-www-form-urlencoded (recommended) or application/json.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens issued successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter. Possible error codes: `bad_request` (malformed body or unsupported Content-Type), `unsupported_grant_type` (`grant_type` is not `authorization_code` or `refresh_token`), `invalid_request` (missing required parameter for the given `grant_type`), `invalid_grant` (authorization code is invalid, expired, already used, or does not match).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_grant",
                    "message": "The provided authorization grant is invalid, expired, or does not match.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials (`client_id` or `client_secret`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Token exchange failed. The authorization server was unavailable or returned an unexpected response. Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "operationId": "revokeToken",
        "summary": "Revoke a token",
        "description": "Revoke an access token or refresh token. Returns 200 even if already revoked.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token revoked. Also returned if the token was already revoked or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter. Possible error codes: `bad_request` (malformed JSON body), `invalid_request` (missing `token`, `client_id`, or `client_secret`; or `token` is not a valid access token. refresh tokens are not accepted).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Missing required parameter: token.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials (`client_id` or `client_secret`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "An unexpected error occurred during credential validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "verifyToken",
        "summary": "Verify authentication",
        "description": "Verifies if the provided access_token is valid and returns the authentication data of the logged-in app and user. Useful for integrators to check token validity.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "OAuth"
        ],
        "responses": {
          "200": {
            "description": "Valid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "workspace_slug": {
                      "type": "string",
                      "example": "my-company"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/people": {
      "get": {
        "operationId": "listPeople",
        "summary": "List people",
        "description": "Returns a paginated list of people in the workspace.\n\n<Accordion title=\"Required scope\">\n`people:read`\n</Accordion>",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            },
            "description": "Number of records per page. Maximum: 50."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at",
                "full_name"
              ],
              "default": "created_at"
            },
            "description": "Field to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction."
          },
          {
            "name": "full_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by name (case-insensitive contains)."
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Filter by email address (exact match). Searches across all emails on the contact."
          },
          {
            "name": "company_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by company UUID. Returns only people linked to this company."
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return records created on or after this ISO 8601 date."
          },
          {
            "name": "created_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return records created on or before this ISO 8601 date."
          },
          {
            "name": "updated_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return records updated on or after this ISO 8601 date."
          },
          {
            "name": "updated_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return records updated on or before this ISO 8601 date."
          }
        ],
        "responses": {
          "200": {
            "description": "People returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "full_name": "Maria Silva",
                      "emails": [
                        {
                          "email": "maria@company.com",
                          "type": "work"
                        }
                      ],
                      "phones": [
                        {
                          "phone": "+5511999990001",
                          "type": "mobile"
                        }
                      ],
                      "owner": {
                        "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                        "email": "joao@company.com",
                        "name": "João Silva"
                      },
                      "avatar_url": null,
                      "entity_id": "g7wwkh0",
                      "created_at": "2026-01-15T10:30:00Z",
                      "updated_at": "2026-01-15T10:30:00Z",
                      "custom_fields": []
                    }
                  ],
                  "meta": {
                    "total": 120,
                    "page": 1,
                    "per_page": 50,
                    "has_more": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createPerson",
        "summary": "Create a person",
        "description": "Creates a new person in the workspace.\n\n<Accordion title=\"Required scope\">\n`people:write`\n</Accordion>",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePersonRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Person created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/people/{id}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Get a person",
        "description": "Returns the person corresponding to the ID.\n\n<Accordion title=\"Required scope\">\n`people:read`\n</Accordion>",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Person returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updatePerson",
        "summary": "Update a person",
        "description": "Updates a person. Only the submitted fields are modified.\n\n<Accordion title=\"Required scope\">\n`people:write`\n</Accordion>",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deletePerson",
        "summary": "Delete a person",
        "description": "Soft-deletes a person. The record is no longer accessible via the API.\n\n<Accordion title=\"Required scope\">\n`people:write`\n</Accordion>",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Person deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/companies": {
      "get": {
        "operationId": "listCompanies",
        "summary": "List companies",
        "description": "Returns a paginated list of companies in the workspace.\n\n<Accordion title=\"Required scope\">\n`companies:read`\n</Accordion>",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            },
            "description": "Number of records per page. Maximum: 50."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at",
                "full_name"
              ],
              "default": "created_at"
            },
            "description": "Field to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction."
          },
          {
            "name": "full_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by company name (case-insensitive contains)."
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Filter by email address (exact match). Searches across all emails on the company."
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return records created on or after this ISO 8601 date."
          },
          {
            "name": "created_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return records created on or before this ISO 8601 date."
          },
          {
            "name": "updated_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return records updated on or after this ISO 8601 date."
          },
          {
            "name": "updated_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return records updated on or before this ISO 8601 date."
          }
        ],
        "responses": {
          "200": {
            "description": "Companies returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompaniesListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "full_name": "Acme Corp",
                      "emails": [
                        {
                          "email": "contact@acme.com",
                          "type": "work"
                        }
                      ],
                      "phones": [
                        {
                          "phone": "+551130000000",
                          "type": "work"
                        }
                      ],
                      "owner": {
                        "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                        "email": "joao@company.com",
                        "name": "João Silva"
                      },
                      "avatar_url": null,
                      "entity_id": "g7wwkh0",
                      "created_at": "2026-01-15T10:30:00Z",
                      "updated_at": "2026-01-15T10:30:00Z",
                      "custom_fields": []
                    }
                  ],
                  "meta": {
                    "total": 85,
                    "page": 1,
                    "per_page": 50,
                    "has_more": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createCompany",
        "summary": "Create a company",
        "description": "Creates a new company in the workspace.\n\n<Accordion title=\"Required scope\">\n`companies:write`\n</Accordion>",
        "tags": [
          "Companies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompanyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Company created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get a company",
        "description": "Returns the company corresponding to the ID.\n\n<Accordion title=\"Required scope\">\n`companies:read`\n</Accordion>",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Company returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateCompany",
        "summary": "Update a company",
        "description": "Updates a company. Only the fields sent in the body are modified.\n\n<Accordion title=\"Required scope\">\n`companies:write`\n</Accordion>",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompanyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Delete a company",
        "description": "Soft-deletes a company. The record is no longer accessible via the API.\n\n<Accordion title=\"Required scope\">\n`companies:write`\n</Accordion>",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Company deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/deals": {
      "get": {
        "operationId": "listDeals",
        "summary": "List deals",
        "description": "Returns a paginated list of deals in the workspace.\n\n<Accordion title=\"Required scope\">\n`deals:read`\n</Accordion>",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Number of records per page. Maximum: 100."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at",
                "name"
              ],
              "default": "created_at"
            },
            "description": "Field to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction."
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by deal name (case-insensitive partial match)."
          },
          {
            "name": "pipeline_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by pipeline UUID."
          },
          {
            "name": "stage_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by stage UUID."
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by source (exact match). The source is the name of the OAuth app that created the deal."
          },
          {
            "name": "forecast_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter deals with forecast_date on or after this date (ISO 8601)."
          },
          {
            "name": "forecast_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter deals with forecast_date on or before this date (ISO 8601)."
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter deals created on or after this date (ISO 8601)."
          },
          {
            "name": "created_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter deals created on or before this date (ISO 8601)."
          },
          {
            "name": "updated_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter deals updated on or after this date (ISO 8601)."
          },
          {
            "name": "updated_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter deals updated on or before this date (ISO 8601)."
          }
        ],
        "responses": {
          "200": {
            "description": "Deals listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createDeal",
        "summary": "Create a deal",
        "description": "Creates a new deal in the workspace.\n\n<Accordion title=\"Required scope\">\n`deals:write`\n</Accordion>",
        "tags": [
          "Deals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDealRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deal created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unparseable JSON body. Error code: `bad_request`. Message: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/deals/{id}": {
      "get": {
        "operationId": "getDeal",
        "summary": "Get a deal",
        "description": "Returns the deal corresponding to the ID.\n\n<Accordion title=\"Required scope\">\n`deals:read`\n</Accordion>",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Deal returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateDeal",
        "summary": "Update a deal",
        "description": "Updates a deal. Only the fields sent are modified.\n\n<Accordion title=\"Required scope\">\n`deals:write`\n</Accordion>",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDealRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deal updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unparseable JSON body. Error code: `bad_request`. Message: `\"Request body must be valid JSON.\"` For PATCH with no fields: code `bad_request`, message `\"No fields provided for update.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "No fields provided for update.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteDeal",
        "summary": "Delete a deal",
        "description": "Soft-delete: the record is no longer accessible via the API.\n\n<Accordion title=\"Required scope\">\n`deals:write`\n</Accordion>",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deal deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/pipelines": {
      "get": {
        "operationId": "listPipelines",
        "summary": "List pipelines",
        "description": "Returns a paginated list of pipelines in the workspace.\n\n<Accordion title=\"Required scope\">\n`deals:read`\n</Accordion>",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Number of records per page. Maximum: 100."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "name"
              ],
              "default": "created_at"
            },
            "description": "Field to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction."
          }
        ],
        "responses": {
          "200": {
            "description": "Pipelines listed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createPipeline",
        "summary": "Create a pipeline",
        "description": "Creates a new pipeline with its stages.\n\n<Accordion title=\"Required scope\">\n`deals:write`\n</Accordion>",
        "tags": [
          "Pipelines"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePipelineRequest"
              },
              "example": {
                "name": "New Business",
                "stages": [
                  {
                    "name": "Prospecting",
                    "type": "open",
                    "probability": 10
                  },
                  {
                    "name": "Proposal",
                    "type": "open",
                    "probability": 40
                  },
                  {
                    "name": "Negotiation",
                    "type": "open",
                    "probability": 70
                  },
                  {
                    "name": "Closed Won",
                    "type": "win",
                    "probability": 100
                  },
                  {
                    "name": "Closed Lost",
                    "type": "lost",
                    "probability": 0
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pipeline created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unparseable JSON body. Error code: `bad_request`. Message: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/pipelines/{id}": {
      "get": {
        "operationId": "getPipeline",
        "summary": "Get a pipeline",
        "description": "Returns the pipeline corresponding to the ID, including all its stages.\n\n<Accordion title=\"Required scope\">\n`deals:read`\n</Accordion>",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updatePipeline",
        "summary": "Update a pipeline",
        "description": "Updates a pipeline. Only the fields sent are modified.\n\n<Accordion title=\"Required scope\">\n`deals:write`\n</Accordion>",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePipelineRequest"
              },
              "example": {
                "name": "Renamed Pipeline",
                "stages": [
                  {
                    "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "name": "Prospecting",
                    "type": "open",
                    "probability": 15
                  },
                  {
                    "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                    "name": "Proposal Sent",
                    "type": "open",
                    "probability": 50
                  },
                  {
                    "name": "New: Pilot",
                    "type": "open",
                    "probability": 75
                  },
                  {
                    "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
                    "name": "Closed Won",
                    "type": "win",
                    "probability": 100
                  },
                  {
                    "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
                    "name": "Closed Lost",
                    "type": "lost",
                    "probability": 0
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unparseable JSON body. Error code: `bad_request`. Message: `\"Request body must be valid JSON.\"` For PATCH with no fields: code `bad_request`, message `\"No fields provided for update.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "No fields provided for update.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List tasks",
        "description": "Returns a paginated list of workspace tasks.\n\n<Accordion title=\"Required scope\">\n`tasks:read`\n</Accordion>",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            },
            "description": "Number of records per page. Maximum: 50."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "due_date",
                "updated_at"
              ],
              "default": "created_at"
            },
            "description": "Field to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction."
          },
          {
            "name": "person_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by person UUID."
          },
          {
            "name": "company_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by company UUID."
          },
          {
            "name": "deal_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by deal UUID."
          },
          {
            "name": "type_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by task type UUID."
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "high",
                "medium",
                "low"
              ]
            },
            "description": "Filter by priority level."
          },
          {
            "name": "completed",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Filter by completion status."
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return tasks created on or after this ISO 8601 date."
          },
          {
            "name": "created_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return tasks created on or before this ISO 8601 date."
          }
        ],
        "responses": {
          "200": {
            "description": "Tasks returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TasksListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "title": "Follow up with prospect",
                      "notes": "Send the proposal by Friday.",
                      "due_date": "2026-06-15T09:00:00Z",
                      "type": {
                        "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                        "title": "Call",
                        "color": "#463dfb",
                        "key": "call"
                      },
                      "person_id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
                      "company_id": null,
                      "deal_id": null,
                      "owner": {
                        "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
                        "name": "John Smith",
                        "email": "john@company.com"
                      },
                      "priority": "high",
                      "completed": false,
                      "created_at": "2026-06-01T10:30:00Z",
                      "updated_at": "2026-06-01T10:30:00Z"
                    }
                  ],
                  "meta": {
                    "total": 34,
                    "page": 1,
                    "per_page": 50,
                    "has_more": false
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create a task",
        "description": "Creates a new task in the workspace.\n\n<Accordion title=\"Required scope\">\n`tasks:write`\n</Accordion>",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Task created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/tasks/{id}": {
      "patch": {
        "operationId": "updateTask",
        "summary": "Update a task",
        "description": "Updates a task. Only the fields sent in the body are modified.\n\n<Accordion title=\"Required scope\">\n`tasks:write`\n</Accordion>",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteTask",
        "summary": "Delete a task",
        "description": "Permanently deletes a task. This operation is irreversible. Tasks do not support soft delete.\n\n<Accordion title=\"Required scope\">\n`tasks:write`\n</Accordion>",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Task deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/task-types": {
      "get": {
        "operationId": "listTaskTypes",
        "summary": "List task types",
        "description": "Returns a paginated list of task types in the workspace.\n\n<Accordion title=\"Required scope\">\n`tasks:read`\n</Accordion>",
        "tags": [
          "Task Types"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            },
            "description": "Number of records per page. Maximum: 50."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "title"
              ],
              "default": "created_at"
            },
            "description": "Field to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction."
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by task type title (case-insensitive contains)."
          }
        ],
        "responses": {
          "200": {
            "description": "Task types returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskTypesListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "title": "Call",
                      "color": "#463dfb",
                      "key": "call",
                      "created_at": "2026-01-15T10:30:00Z",
                      "updated_at": "2026-01-15T10:30:00Z"
                    }
                  ],
                  "meta": {
                    "total": 5,
                    "page": 1,
                    "per_page": 50,
                    "has_more": false
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createTaskType",
        "summary": "Create a task type",
        "description": "Creates a new task type in the workspace.\n\n<Accordion title=\"Required scope\">\n`tasks:write`\n</Accordion>",
        "tags": [
          "Task Types"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskTypeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Task type created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskTypeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/task-types/{id}": {
      "patch": {
        "operationId": "updateTaskType",
        "summary": "Update a task type",
        "description": "Updates a task type. Only fields included in the body are modified.\n\n<Accordion title=\"Required scope\">\n`tasks:write`\n</Accordion>",
        "tags": [
          "Task Types"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskTypeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task type updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskTypeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteTaskType",
        "summary": "Delete a task type",
        "description": "Permanently removes a task type.\n\n<Accordion title=\"Required scope\">\n`tasks:write`\n</Accordion>",
        "tags": [
          "Task Types"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Task type deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/activities": {
      "get": {
        "operationId": "listActivities",
        "summary": "List activities",
        "description": "Returns a paginated list of workspace activities.\n\n<Accordion title=\"Required scope\">\n`activities:read`\n</Accordion>",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Number of records per page. Maximum: 100."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at"
              ],
              "default": "created_at"
            },
            "description": "Field to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction."
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "people",
                "companies",
                "deals"
              ]
            },
            "description": "Type of the linked entity. Must be `people`, `companies`, or `deals`."
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the entity specified in `entity`."
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return activities created on or after this ISO 8601 date."
          },
          {
            "name": "created_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Return activities created on or before this ISO 8601 date."
          }
        ],
        "responses": {
          "200": {
            "description": "Activities returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "entity": "people",
                      "entity_id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
                      "content_html": "<p>Meeting held. Client confirmed interest in the Enterprise plan.</p>",
                      "attachments": [
                        {
                          "path": "workspaces/w1/people/c3d4/archives/Commercial_Proposal.pdf",
                          "url": "https://storage.vendaze.com/private/...?token=..."
                        }
                      ],
                      "owner": {
                        "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
                        "name": "John Smith",
                        "email": "john@company.com"
                      },
                      "created_at": "2026-06-01T10:30:00Z",
                      "updated_at": "2026-06-01T10:30:00Z"
                    }
                  ],
                  "meta": {
                    "total": 12,
                    "page": 1,
                    "per_page": 50,
                    "has_more": false
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createActivity",
        "summary": "Create an activity",
        "description": "Creates a new activity in the workspace.\n\n<Accordion title=\"Required scope\">\n`activities:write`\n</Accordion>",
        "tags": [
          "Activities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateActivityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Activity created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/activities/{id}": {
      "get": {
        "operationId": "getActivity",
        "summary": "Get an activity",
        "description": "Returns an activity by its UUID.\n\n<Accordion title=\"Required scope\">\n`activities:read`\n</Accordion>",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Activity returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                },
                "example": {
                  "data": {
                    "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "entity": "deals",
                    "entity_id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
                    "content_html": "<p>Contract sent for signature.</p>",
                    "attachments": [
                      {
                        "path": "workspaces/w1/deals/c3d4/archives/Enterprise_Contract.pdf",
                        "url": "https://storage.vendaze.com/private/...?token=..."
                      }
                    ],
                    "owner": {
                      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
                      "name": "John Smith",
                      "email": "john@company.com"
                    },
                    "created_at": "2026-06-01T10:30:00Z",
                    "updated_at": "2026-06-01T10:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateActivity",
        "summary": "Update an activity",
        "description": "Updates an activity. Only the fields sent in the body are modified.\n\n<Accordion title=\"Required scope\">\n`activities:write`\n</Accordion>",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateActivityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activity updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteActivity",
        "summary": "Delete an activity",
        "description": "Permanently deletes an activity and all its attached files from storage.\n\n<Accordion title=\"Required scope\">\n`activities:write`\n</Accordion>",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Activity deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "Returns a paginated list of products in the workspace.\n\n<Accordion title=\"Required scope\">\n`products:read`\n</Accordion>",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            },
            "description": "Number of records per page. Maximum: 50."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "name"
              ],
              "default": "created_at"
            },
            "description": "Field to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction."
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by product name (case-insensitive contains)."
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Filter by active status."
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3}$"
            },
            "description": "Filter by ISO 4217 currency code (e.g. `BRL`, `USD`)."
          },
          {
            "name": "billing_cycle",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "monthly",
                "yearly",
                "weekly",
                "daily",
                "one_time"
              ]
            },
            "description": "Filter by billing cycle."
          }
        ],
        "responses": {
          "200": {
            "description": "Products returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "Enterprise Plan",
                      "price_cts": 99900,
                      "currency": "USD",
                      "description": "Full-featured plan for large teams.",
                      "image_url": "https://storage.vendaze.com/client/workspaces/abc/products/xyz/image/avatar_Ab1Cd2Ef3G.webp",
                      "code": "PLAN-ENT",
                      "is_active": true,
                      "billing_cycle": "monthly",
[...]
