{
  "openapi": "3.1.0",
  "info": {
    "title": "OAuth 2.1",
    "description": "Endpoints for registering applications and managing OAuth 2.1 tokens.",
    "version": "1.0.0",
    "contact": {
      "name": "Vendaze Support",
      "email": "suporte@vendaze.com"
    }
  },
  "servers": [
    {
      "url": "https://api.vendaze.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "OAuth"
    },
    {
      "name": "People"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Deals"
    }
  ],
  "paths": {
    "/v1/auth/register-app": {
      "post": {
        "operationId": "registerApp",
        "summary": "Register an app",
        "description": "Register a new OAuth app. Credentials are sent by email. No authentication required.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAppRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "App registered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unparseable JSON body. Error code: `bad_request`. Message: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Email already registered to another app. Error code: `conflict`. Message: `\"An app is already registered with this email address.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "conflict",
                    "message": "An app is already registered with this email address.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Failed to create or persist the app. Error code: `internal_error`. Message: `\"An unexpected error occurred.\"` Use the `request_id` to correlate with server-side logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/rotate-app": {
      "post": {
        "operationId": "rotateApp",
        "summary": "Rotate app credentials",
        "description": "Issues a new client_secret and immediately invalidates the previous one. The client_id stays the same. Active user tokens are not affected.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateAppRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credentials rotated successfully. New credentials sent by email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unparseable JSON body. Error code: `bad_request`. Message: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Email does not match the one registered with the app. Error code: `invalid_client`. Message: `\"Invalid client credentials.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "404": {
            "description": "App not found or revoked. Error code: `not_found`. Message: `\"App not found.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "App not found.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Failed to rotate or persist the credentials. Error code: `internal_error`. Message: `\"An unexpected error occurred.\"` Use the `request_id` to correlate with server-side logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "operationId": "authorize",
        "summary": "Start authorization",
        "description": "Redirects the user's browser to the Vendaze consent screen. **This endpoint must be opened in a browser. do not call it with fetch, axios, or any HTTP client.** The user must navigate to this URL so they can log in and approve access. Scopes are resolved from the app registration.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the OAuth application."
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Redirect URI registered with the application."
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            },
            "description": "Must be \"code\"."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Random string you generate. Returned unchanged in the callback. Strongly recommended to prevent CSRF attacks."
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the Vendaze consent screen."
          },
          "400": {
            "description": "Invalid or missing parameter. Possible error codes: `invalid_request` (missing required parameter. message identifies which one, e.g. `\"Missing required parameter: redirect_uri.\"`), `unsupported_response_type` (`response_type` is not `code`. message: `\"response_type must be \\\"code\\\".\"`), `invalid_request` (`redirect_uri` not registered. message: `\"redirect_uri does not match any registered URI.\"`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Missing required parameter: redirect_uri.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "App not found or inactive. Error code: `invalid_client`. Message: `\"Invalid client credentials.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Authorization service unavailable. Error code: `internal_error`. Message: `\"An unexpected error occurred.\"` Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "issueToken",
        "summary": "Issue or refresh a token",
        "description": "Exchange an authorization code for tokens, or refresh an access token using a refresh token. Accepts application/x-www-form-urlencoded (recommended) or application/json.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens issued successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter. Possible error codes: `bad_request` (malformed body or unsupported Content-Type), `unsupported_grant_type` (`grant_type` is not `authorization_code` or `refresh_token`), `invalid_request` (missing required parameter for the given `grant_type`), `invalid_grant` (authorization code is invalid, expired, already used, or does not match).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_grant",
                    "message": "The provided authorization grant is invalid, expired, or does not match.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials (`client_id` or `client_secret`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "Token exchange failed. The authorization server was unavailable or returned an unexpected response. Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "operationId": "revokeToken",
        "summary": "Revoke a token",
        "description": "Revoke an access token or refresh token. Returns 200 even if already revoked.",
        "security": [],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token revoked. Also returned if the token was already revoked or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter. Possible error codes: `bad_request` (malformed JSON body), `invalid_request` (missing `token`, `client_id`, or `client_secret`; or `token` is not a valid access token. refresh tokens are not accepted).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Missing required parameter: token.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials (`client_id` or `client_secret`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_client",
                    "message": "Invalid client credentials.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "description": "An unexpected error occurred during credential validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "An unexpected error occurred.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "verifyToken",
        "summary": "Verify authentication",
        "description": "Verifies if the provided access_token is valid and returns the authentication data of the logged-in app and user. Useful for integrators to check token validity.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "OAuth"
        ],
        "responses": {
          "200": {
            "description": "Valid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "workspace_slug": {
                      "type": "string",
                      "example": "my-company"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/v1/people": {
      "get": {
        "operationId": "listPeople",
        "summary": "List people",
        "description": "Returns a paginated list of people in the workspace. Does not include embedded `company`, `tags`, or `lists`. `custom_fields` are included.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            },
            "description": "Number of records per page. Maximum: 50."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at",
                "full_name"
              ],
              "default": "created_at"
            },
            "description": "Field to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction."
          }
        ],
        "responses": {
          "200": {
            "description": "People returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "full_name": "Maria Silva",
                      "emails": [
                        {
                          "email": "maria@company.com",
                          "type": "work"
                        }
                      ],
                      "phones": [
                        {
                          "phone": "+5511999990001",
                          "type": "mobile"
                        }
                      ],
                      "owner": {
                        "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                        "email": "joao@company.com",
                        "name": "João Silva"
                      },
                      "avatar_url": null,
                      "entity_id": "g7wwkh0",
                      "created_at": "2026-01-15T10:30:00Z",
                      "updated_at": "2026-01-15T10:30:00Z",
                      "custom_fields": []
                    }
                  ],
                  "meta": {
                    "total": 120,
                    "page": 1,
                    "per_page": 50,
                    "has_more": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createPerson",
        "summary": "Create a person",
        "description": "Creates a new person in the workspace. Returns the created person with embedded `company`, `tags`, `lists`, and `custom_fields`.",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePersonRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Person created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/people/{id}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Get a person",
        "description": "Returns a person by ID with embedded `company`, `tags`, `lists`, and `custom_fields`.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Person returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updatePerson",
        "summary": "Update a person",
        "description": "Updates a person. Only fields included in the body are modified. Returns the updated person with embedded `company`, `tags`, `lists`, and `custom_fields`.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deletePerson",
        "summary": "Delete a person",
        "description": "Soft-deletes a person. The record is no longer accessible via the API.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Person deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/companies": {
      "get": {
        "operationId": "listCompanies",
        "summary": "List companies",
        "description": "Returns a paginated list of companies in the workspace. Does not include embedded `tags` or `lists`. `custom_fields` are included.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            },
            "description": "Number of records per page. Maximum: 50."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at",
                "full_name"
              ],
              "default": "created_at"
            },
            "description": "Field to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction."
          }
        ],
        "responses": {
          "200": {
            "description": "Companies returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompaniesListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "full_name": "Acme Corp",
                      "emails": [
                        {
                          "email": "contact@acme.com",
                          "type": "work"
                        }
                      ],
                      "phones": [
                        {
                          "phone": "+551130000000",
                          "type": "work"
                        }
                      ],
                      "owner": {
                        "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                        "email": "joao@company.com",
                        "name": "João Silva"
                      },
                      "avatar_url": null,
                      "entity_id": "g7wwkh0",
                      "created_at": "2026-01-15T10:30:00Z",
                      "updated_at": "2026-01-15T10:30:00Z",
                      "custom_fields": []
                    }
                  ],
                  "meta": {
                    "total": 85,
                    "page": 1,
                    "per_page": 50,
                    "has_more": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createCompany",
        "summary": "Create a company",
        "description": "Creates a new company in the workspace. Returns the created company with embedded `tags`, `lists`, and `custom_fields`.",
        "tags": [
          "Companies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompanyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Company created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get a company",
        "description": "Returns a company by ID with embedded `tags`, `lists`, and `custom_fields`.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Company returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateCompany",
        "summary": "Update a company",
        "description": "Updates a company. Only fields included in the body are modified. Returns the updated company with embedded `tags`, `lists`, and `custom_fields`.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompanyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Delete a company",
        "description": "Soft-deletes a company. The record is no longer accessible via the API.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Company deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/deals": {
      "post": {
        "operationId": "createDeal",
        "summary": "Create a deal",
        "description": "Creates a new deal in the workspace. The `source` field is automatically set to the name of the OAuth app making the request and cannot be set by the caller.",
        "tags": [
          "Deals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDealRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deal created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unparseable JSON body. Error code: `bad_request`. Message: `\"Request body must be valid JSON.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Request body must be valid JSON.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/deals/{id}": {
      "get": {
        "operationId": "getDeal",
        "summary": "Get a deal",
        "description": "Returns a deal by ID with embedded pipeline, stage, products, custom fields, tags, people, and companies.",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Deal returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateDeal",
        "summary": "Update a deal",
        "description": "Updates a deal. Only fields included in the body are modified. `source` cannot be changed.",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDealRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deal updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unparseable JSON body. Error code: `bad_request`. Message: `\"Request body must be valid JSON.\"` For PATCH with no fields: code `bad_request`, message `\"No fields provided for update.\"`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "No fields provided for update.",
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteDeal",
        "summary": "Delete a deal",
        "description": "Soft-delete: the record is no longer accessible via the API.",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deal deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.1 access token."
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "UUID of the resource."
      },
      "page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1,
          "minimum": 1
        }
      },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 50,
          "minimum": 1,
          "maximum": 100
        },
        "description": "Max 100."
      },
      "order_by": {
        "name": "order_by",
        "in": "query",
        "schema": {
          "type": "string",
          "default": "created_at"
        }
      },
      "order": {
        "name": "order",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "desc"
        }
      },
      "created_after": {
        "name": "created_after",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "created_before": {
        "name": "created_before",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "updated_after": {
        "name": "updated_after",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "updated_before": {
        "name": "updated_before",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Token missing, invalid, or expired. Possible error codes and messages: `unauthorized`. `\"Missing or invalid Authorization header.\"`, `\"Invalid or malformed token.\"`, or `\"Token is missing required claims.\"`; `token_expired`. `\"Access token expired. Refresh using the refresh token.\"`",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "unauthorized",
                "message": "Missing or invalid Authorization header.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InsufficientScope": {
        "description": "Token lacks the required scope. Error code: `insufficient_scope`. Message: `\"This endpoint requires the '{scope}' scope.\"` where `{scope}` is the exact missing scope (e.g. `\"This endpoint requires the 'deals:write' scope.\"`).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "insufficient_scope",
                "message": "This endpoint requires the 'deals:write' scope.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found, soft-deleted, or belongs to another workspace. Error code: `not_found`. Message: `\"Deal not found.\"`",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "not_found",
                "message": "Deal not found.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Input validation failed. Error code: `validation_error`. Message: `\"Validation failed.\"` The `fields` object maps each invalid field to a description of the problem.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationErrorResponse"
            },
            "example": {
              "error": {
                "code": "validation_error",
                "message": "Validation failed.",
                "fields": {
                  "currency": "Invalid enum value."
                },
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded. Error code: `rate_limit_exceeded`. Message: `\"Rate limit exceeded. Try again in {N} seconds.\"` The `Retry-After` response header contains the same value.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "rate_limit_exceeded",
                "message": "Rate limit exceeded. Try again in 60 seconds.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "BadRequest": {
        "description": "Malformed request body or empty update. Error code: `bad_request`. Possible messages: `\"Request body must be valid JSON.\"` (unparseable body) or `\"No fields provided for update.\"` (PATCH with no fields).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "bad_request",
                "message": "Request body must be valid JSON.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Unexpected server error. Error code: `internal_error`. Possible messages: `\"An unexpected error occurred.\"` (generic failure) or `\"Deal updated but associations failed. Retry the associations.\"` (main record saved but association update failed). Use the `request_id` to correlate with server-side logs.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "internal_error",
                "message": "An unexpected error occurred.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "not_found"
              },
              "message": {
                "type": "string",
                "example": "Deal not found."
              },
              "request_id": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "validation_error"
              },
              "message": {
                "type": "string",
                "example": "Validation failed."
              },
              "fields": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "request_id": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "example": 85,
            "description": "Total number of records matching the query."
          },
          "page": {
            "type": "integer",
            "example": 1,
            "description": "Current page number."
          },
          "per_page": {
            "type": "integer",
            "example": 50,
            "description": "Number of records per page."
          },
          "has_more": {
            "type": "boolean",
            "example": true,
            "description": "`true` when there are more pages after the current one."
          }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "contact@acme.com"
          },
          "type": {
            "type": "string",
            "enum": [
              "personal",
              "work",
              "other"
            ],
            "description": "Email type.",
            "example": "work"
          }
        }
      },
      "ContactPhone": {
        "type": "object",
        "required": [
          "phone"
        ],
        "properties": {
          "phone": {
            "type": "string",
            "example": "+551130000000"
          },
          "type": {
            "type": "string",
            "enum": [
              "mobile",
              "work",
              "residential",
              "other"
            ],
            "description": "Phone type.",
            "example": "work"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "color_text": {
            "type": "string",
            "nullable": true,
            "example": "#ffffff"
          },
          "color_background": {
            "type": "string",
            "nullable": true,
            "example": "#0085c0"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "value": {},
          "field": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "label": {
                "type": "string"
              },
              "key": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          }
        }
      },
      "ScopeValue": {
        "type": "string",
        "enum": [
          "people:read",
          "people:write",
          "companies:read",
          "companies:write",
          "deals:read",
          "deals:write",
          "tasks:read",
          "tasks:write",
          "activities:read",
          "activities:write",
          "products:read",
          "products:write",
          "tags:read",
          "tags:write",
          "lists:read",
          "lists:write",
          "custom_fields:read",
          "custom_fields:write"
        ],
        "description": "A single OAuth scope value."
      },
      "RegisterAppRequest": {
        "type": "object",
        "required": [
          "app_name",
          "email",
          "redirect_uris",
          "scopes"
        ],
        "properties": {
          "app_name": {
            "type": "string",
            "maxLength": 100,
            "example": "My SaaS"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "dev@mysaas.com"
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "example": "Integration with Vendaze to sync contacts."
          },
          "avatar_image": {
            "type": "string",
            "example": "data:image/png;base64,iVBORw0KGgo...",
            "description": "Public HTTPS URL or full base64 data URI of your app logo (e.g. `data:image/png;base64,...`). Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF. Max 2MB."
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "example": [
              "https://mysaas.com/callback/vendaze"
            ]
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScopeValue"
            },
            "example": [
              "people:read",
              "deals:write"
            ],
            "description": "Scopes your app needs. Users approve them individually on the consent screen."
          }
        }
      },
      "RegisterAppResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "app_name": {
                "type": "string",
                "example": "My SaaS"
              },
              "client_id": {
                "type": "string",
                "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d"
              },
              "avatar_url": {
                "type": "string",
                "example": "https://storage.vendaze.com/assets/integrations/mysaas.jpg",
                "description": "Public URL of the stored avatar. Only present if avatar_image was provided in the request."
              },
              "message": {
                "type": "string",
                "example": "Credentials sent by email."
              }
            }
          }
        }
      },
      "RotateAppRequest": {
        "type": "object",
        "required": [
          "client_id",
          "email"
        ],
        "properties": {
          "client_id": {
            "type": "string",
            "format": "uuid",
            "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d",
            "description": "Current client_id of the app being rotated."
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "dev@mysaas.com",
            "description": "Email address registered with the app. Used to verify ownership. The API never reveals which email is on file."
          },
          "app_name": {
            "type": "string",
            "maxLength": 100,
            "example": "My SaaS v2",
            "description": "New name shown to users on the consent screen. Max 100 chars. If omitted, the current name is kept."
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "example": "Updated integration with Vendaze.",
            "description": "New description of what your app does. Max 500 chars. If omitted, the current description is kept."
          },
          "avatar_image": {
            "type": "string",
            "example": "data:image/png;base64,iVBORw0KGgo...",
            "description": "Public HTTPS URL or full base64 data URI of your app logo (e.g. `data:image/png;base64,...`). Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF. If omitted, the current avatar is kept."
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "example": [
              "https://mysaas.com/callback/vendaze"
            ],
            "description": "New list of HTTPS redirect URIs. Replaces the previous list entirely. If omitted, the current list is kept."
          }
        }
      },
      "RotateAppResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "app_name": {
                "type": "string",
                "example": "My SaaS v2"
              },
              "client_id": {
                "type": "string",
                "format": "uuid",
                "example": "9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d",
                "description": "The app's client_id. Does not change after rotation."
              },
              "avatar_url": {
                "type": "string",
                "example": "https://storage.vendaze.com/assets/integrations/mysaasv2.jpg",
                "description": "Public URL of the stored avatar. Only present if avatar_image was provided in the request."
              },
              "message": {
                "type": "string",
                "example": "New credentials sent by email."
              }
            }
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "required": [
          "grant_type",
          "client_id",
          "client_secret"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "authorization_code",
              "refresh_token"
            ]
          },
          "code": {
            "type": "string",
            "description": "Required for grant_type=authorization_code."
          },
          "client_id": {
            "type": "string",
            "format": "uuid"
          },
          "client_secret": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string",
            "description": "Required for grant_type=refresh_token."
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "required": [
          "workspace_slug"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "example": "eyJ..."
          },
          "refresh_token": {
            "type": "string",
            "example": "eyJ..."
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "example": 3600
          },
          "workspace_slug": {
            "type": "string",
            "description": "Slug of the workspace the user authorized. Use this to identify the connected account in your app.",
            "example": "acme-corp"
          }
        }
      },
      "RevokeTokenRequest": {
        "type": "object",
        "required": [
          "token",
          "client_id",
          "client_secret"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "The access_token (JWT) to revoke. Must be the access_token, not the refresh_token."
          },
          "client_id": {
            "type": "string",
            "format": "uuid"
          },
          "client_secret": {
            "type": "string"
          }
        }
      },
      "Owner": {
        "type": "object",
        "nullable": true,
        "description": "Workspace member responsible for this record. `null` when no owner is assigned.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "joao@company.com"
          },
          "name": {
            "type": "string",
            "example": "João Silva"
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "full_name": {
            "type": "string",
            "maxLength": 70,
            "example": "Maria Silva"
          },
          "emails": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            },
            "example": [
              {
                "email": "maria@company.com",
                "type": "work"
              }
            ]
          },
          "phones": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            },
            "example": [
              {
                "phone": "+5511999990001",
                "type": "mobile"
              }
            ]
          },
          "company_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "owner": {
            "$ref": "#/components/schemas/Owner"
          },
          "position": {
            "type": "string",
            "nullable": true,
            "example": "Sales Director"
          },
          "ranking": {
            "type": "number",
            "minimum": 0,
            "maximum": 5,
            "example": 0,
            "readOnly": true,
            "description": "Read-only. Managed internally by Vendaze."
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "example": "https://storage.vendaze.com/client/workspaces/abc/people/xyz/avatar/avatar_WWT1BGs9ma.webp"
          },
          "entity_id": {
            "type": "string",
            "example": "g7wwkh0"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PersonWithEmbedded": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Person"
          },
          {
            "type": "object",
            "properties": {
              "company": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "emails": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "phones": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "properties": {
                        "phone": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "avatar_url": {
                    "type": "string",
                    "nullable": true
                  },
                  "entity_id": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "tags": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "lists": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactList"
                }
              },
              "custom_fields": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomFieldValue"
                }
              }
            }
          }
        ]
      },
      "CreatePersonRequest": {
        "type": "object",
        "required": [
          "full_name"
        ],
        "properties": {
          "full_name": {
            "type": "string",
            "maxLength": 70,
            "example": "Maria Silva"
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            }
          },
          "company_id": {
            "type": "string",
            "format": "uuid"
          },
          "position": {
            "type": "string",
            "maxLength": 100,
            "example": "Sales Director"
          },
          "owner_email": {
            "type": "string",
            "format": "email",
            "description": "Email of the workspace member to set as owner. The API resolves it to the internal user ID. Must be a member of this workspace.",
            "example": "joao@company.com"
          },
          "avatar_image": {
            "type": "string",
            "description": "Public HTTPS URL or full base64 data URI of the image (e.g. `data:image/png;base64,...`). Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF.",
            "example": "data:image/png;base64,iVBORw0KGgo..."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 30
            },
            "description": "Tag names (keys) to associate with the person. If a tag doesn't exist, it will be automatically created."
          },
          "list_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List IDs to associate with the person."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "field_key",
                "value"
              ],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "lead_source",
                  "description": "Key of the custom field (e.g. `lead_source`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": {
                  "type": "string",
                  "description": "Field value as a string."
                }
              }
            },
            "description": "Custom field values to set for the person. Identified by `field_key`. If the field does not exist, it is created automatically with type `text`."
          }
        }
      },
      "UpdatePersonRequest": {
        "type": "object",
        "description": "All fields are optional. Only fields included in the body are modified.",
        "properties": {
          "full_name": {
            "type": "string",
            "maxLength": 70
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            }
          },
          "company_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Pass `null` to remove the company association."
          },
          "position": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Pass `null` to clear the job title."
          },
          "owner_email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Email of the workspace member to set as owner. Pass `null` to remove the owner. Must be a member of this workspace.",
            "example": "joao@company.com"
          },
          "avatar_image": {
            "type": "string",
            "description": "Public HTTPS URL or full base64 data URI of the image (e.g. `data:image/png;base64,...`). Replaces the current avatar. Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF.",
            "example": "data:image/png;base64,iVBORw0KGgo..."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 30
            },
            "description": "Tag names (keys) to associate. Behavior depends on `association_mode`. If a tag doesn't exist, it will be automatically created."
          },
          "list_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List IDs to associate. Behavior depends on `association_mode`."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "field_key",
                "value"
              ],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "lead_source",
                  "description": "Key of the custom field (e.g. `lead_source`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": {
                  "type": "string",
                  "description": "Field value as a string."
                }
              }
            },
            "description": "Custom field values. Behavior depends on `association_mode`. In `append` mode, replaces the value for each `field_key` sent without touching others."
          },
          "association_mode": {
            "type": "string",
            "enum": [
              "append",
              "replace"
            ],
            "default": "append",
            "description": "Controls how associations (`tags`, `list_ids`, `custom_fields`) are applied. `append`: adds new associations without removing existing ones. `replace`: removes all current associations of each sent type and inserts the new ones. Sending an empty array with `replace` removes all associations of that type."
          }
        }
      },
      "PersonWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PersonWithEmbedded"
          }
        }
      },
      "PersonList": {
        "type": "object",
        "description": "Compact person object returned in list responses. Does not include embedded `company`, `tags`, or `lists`.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "full_name": {
            "type": "string",
            "maxLength": 70,
            "example": "Maria Silva"
          },
          "emails": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            }
          },
          "phones": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            }
          },
          "owner": {
            "$ref": "#/components/schemas/Owner"
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "entity_id": {
            "type": "string",
            "example": "g7wwkh0"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValue"
            }
          }
        }
      },
      "PeopleListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonList"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "full_name": {
            "type": "string",
            "maxLength": 70,
            "example": "Acme Corp"
          },
          "emails": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            },
            "example": [
              {
                "email": "contact@acme.com",
                "type": "work"
              }
            ]
          },
          "phones": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            },
            "example": [
              {
                "phone": "+551130000000",
                "type": "work"
              }
            ]
          },
          "owner": {
            "$ref": "#/components/schemas/Owner"
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "example": "https://storage.vendaze.com/client/workspaces/abc/companies/xyz/avatar/avatar_WWT1BGs9ma.webp"
          },
          "entity_id": {
            "type": "string",
            "example": "g7wwkh0"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CompanyWithEmbedded": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Company"
          },
          {
            "type": "object",
            "properties": {
              "tags": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "lists": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactList"
                }
              },
              "custom_fields": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomFieldValue"
                }
              }
            }
          }
        ]
      },
      "CreateCompanyRequest": {
        "type": "object",
        "required": [
          "full_name"
        ],
        "properties": {
          "full_name": {
            "type": "string",
            "maxLength": 70,
            "example": "Acme Corp"
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            }
          },
          "owner_email": {
            "type": "string",
            "format": "email",
            "description": "Email of the workspace member to set as owner. The API resolves it to the internal user ID. Must be a member of this workspace.",
            "example": "joao@company.com"
          },
          "avatar_image": {
            "type": "string",
            "description": "Public HTTPS URL or full base64 data URI of the image (e.g. `data:image/png;base64,...`). Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF.",
            "example": "data:image/png;base64,iVBORw0KGgo..."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 30
            },
            "description": "Tag names (keys) to associate with the company. If a tag doesn't exist, it will be automatically created."
          },
          "list_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List IDs to associate with the company."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "field_key",
                "value"
              ],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "industry",
                  "description": "Key of the custom field (e.g. `industry`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": {
                  "type": "string",
                  "description": "Field value as a string."
                }
              }
            },
            "description": "Custom field values to set for the company. Identified by `field_key`. If the field does not exist, it is created automatically with type `text`."
          }
        }
      },
      "UpdateCompanyRequest": {
        "type": "object",
        "description": "All fields are optional. Only fields included in the body are modified.",
        "properties": {
          "full_name": {
            "type": "string",
            "maxLength": 70
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            }
          },
          "owner_email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Email of the workspace member to set as owner. Pass `null` to remove the owner. Must be a member of this workspace.",
            "example": "joao@company.com"
          },
          "avatar_image": {
            "type": "string",
            "description": "Public HTTPS URL or full base64 data URI of the image (e.g. `data:image/png;base64,...`). Replaces the current avatar. Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF.",
            "example": "data:image/png;base64,iVBORw0KGgo..."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 30
            },
            "description": "Tag names (keys) to associate. Behavior depends on `association_mode`. If a tag doesn't exist, it will be automatically created."
          },
          "list_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List IDs to associate. Behavior depends on `association_mode`."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "field_key",
                "value"
              ],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "industry",
                  "description": "Key of the custom field (e.g. `industry`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": {
                  "type": "string",
                  "description": "Field value as a string."
                }
              }
            },
            "description": "Custom field values. Behavior depends on `association_mode`. In `append` mode, replaces the value for each `field_key` sent without touching others."
          },
          "association_mode": {
            "type": "string",
            "enum": [
              "append",
              "replace"
            ],
            "default": "append",
            "description": "Controls how associations (`tags`, `list_ids`, `custom_fields`) are applied. `append`: adds new associations without removing existing ones. `replace`: removes all current associations of each sent type and inserts the new ones. Sending an empty array with `replace` removes all associations of that type."
          }
        }
      },
      "CompanyWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CompanyWithEmbedded"
          }
        }
      },
      "CompanyList": {
        "type": "object",
        "description": "Compact company object returned in list responses. Does not include embedded `tags` or `lists`.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "full_name": {
            "type": "string",
            "maxLength": 70,
            "example": "Acme Corp"
          },
          "emails": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            }
          },
          "phones": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            }
          },
          "owner": {
            "$ref": "#/components/schemas/Owner"
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "entity_id": {
            "type": "string",
            "example": "g7wwkh0"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValue"
            }
          }
        }
      },
      "CompaniesListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyList"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "CurrencyCode": {
        "type": "string",
        "description": "ISO 4217 currency code supported by Vendaze.",
        "enum": [
          "AED",
          "ARS",
          "AUD",
          "BRL",
          "CAD",
          "CHF",
          "CLP",
          "CNY",
          "COP",
          "DKK",
          "EGP",
          "EUR",
          "GBP",
          "HKD",
          "ILS",
          "INR",
          "JPY",
          "KWD",
          "MAD",
          "MXN",
          "MYR",
          "NGN",
          "NOK",
          "NZD",
          "PEN",
          "QAR",
          "SAR",
          "SEK",
          "SGD",
          "TRY",
          "USD",
          "UYU",
          "ZAR"
        ],
        "example": "BRL"
      },
      "DealProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "product_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "quantity": {
            "type": "integer",
            "example": 2
          },
          "billing_cycle": {
            "type": "string",
            "enum": [
              "one_time",
              "monthly",
              "quarterly",
              "annually"
            ]
          },
          "unit_price_cts": {
            "type": "integer",
            "description": "Unit price in cents.",
            "example": 50000
          },
          "total_price_cts": {
            "type": "integer",
            "description": "Total price in cents (unit_price_cts x quantity).",
            "example": 100000
          }
        }
      },
      "Deal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "Acme Corp Annual Contract"
          },
          "pipeline_id": {
            "type": "string",
            "format": "uuid"
          },
          "stage_id": {
            "type": "string",
            "format": "uuid"
          },
          "price_cts": {
            "type": "integer",
            "description": "Deal value in cents. 250000 = R$ 2,500.00",
            "example": 250000
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "owner": {
            "$ref": "#/components/schemas/Owner"
          },
          "source": {
            "type": "string",
            "description": "Name of the OAuth app that created the deal. Read-only.",
            "example": "My Integration App"
          },
          "forecast_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": "2026-12-31T00:00:00Z"
          },
          "entity_id": {
            "type": "string",
            "description": "Human-readable unique identifier.",
            "example": "NEG-0001"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DealWithEmbedded": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Deal"
          },
          {
            "type": "object",
            "properties": {
              "pipeline": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "stage": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "open",
                      "win",
                      "lost"
                    ]
                  }
                }
              },
              "products": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DealProduct"
                }
              },
              "custom_fields": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomFieldValue"
                }
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color_text": {
                      "type": "string",
                      "nullable": true
                    },
                    "color_background": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              },
              "people": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "full_name": {
                      "type": "string"
                    },
                    "emails": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "phone": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "avatar_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "entity_id": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              },
              "companies": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "full_name": {
                      "type": "string"
                    },
                    "emails": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "phone": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "avatar_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "entity_id": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "DealProductInput": {
        "type": "object",
        "required": [
          "product_id"
        ],
        "properties": {
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Number of units. Only applicable for one-time products. Recurring products (monthly, quarterly, annually) always use quantity 1 regardless of the value sent."
          },
          "unit_price_cts": {
            "type": "integer",
            "minimum": 0,
            "description": "Overrides the product's catalog price. In cents. If omitted, the product's default price is used.",
            "example": 50000
          }
        }
      },
      "CreateDealRequest": {
        "type": "object",
        "required": [
          "name",
          "pipeline_id",
          "stage_id",
          "currency"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 70,
            "example": "Acme Corp Annual Contract"
          },
          "pipeline_id": {
            "type": "string",
            "format": "uuid"
          },
          "stage_id": {
            "type": "string",
            "format": "uuid"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "price_cts": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Deal value in cents. If the request includes associated products (`products`), this value and the currency (`currency`) will be ignored. The deal will automatically inherit the calculated sum of the products and the currency of the first associated product.",
            "example": 250000
          },
          "owner_email": {
            "type": "string",
[...]
