{
  "openapi": "3.1.0",
  "info": {
    "title": "Contacts - People",
    "description": "Manage individual contacts (people) in the workspace.",
    "version": "1.0.0",
    "contact": {
      "name": "Vendaze Support",
      "email": "suporte@vendaze.com"
    }
  },
  "servers": [
    {
      "url": "https://api.vendaze.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "People"
    }
  ],
  "paths": {
    "/v1/people": {
      "get": {
        "operationId": "listPeople",
        "summary": "List people",
        "description": "Returns a paginated list of people in the workspace.\n\n<Accordion title=\"Required scope\">\n`people:read`\n</Accordion>",
        "tags": ["People"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 },
            "description": "Page number."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 50 },
            "description": "Number of records per page. Maximum: 50."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": { "type": "string", "enum": ["created_at", "updated_at", "full_name"], "default": "created_at" },
            "description": "Field to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" },
            "description": "Sort direction."
          },
          {
            "name": "full_name",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by name (case-insensitive contains)."
          },
          {
            "name": "email",
            "in": "query",
            "schema": { "type": "string", "format": "email" },
            "description": "Filter by email address (exact match). Searches across all emails on the contact."
          },
          {
            "name": "company_id",
            "in": "query",
            "schema": { "type": "string", "format": "uuid" },
            "description": "Filter by company UUID. Returns only people linked to this company."
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Return records created on or after this ISO 8601 date."
          },
          {
            "name": "created_before",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Return records created on or before this ISO 8601 date."
          },
          {
            "name": "updated_after",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Return records updated on or after this ISO 8601 date."
          },
          {
            "name": "updated_before",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Return records updated on or before this ISO 8601 date."
          }
        ],
        "responses": {
          "200": {
            "description": "People returned successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PeopleListResponse" },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "full_name": "Maria Silva",
                      "emails": [{ "email": "maria@company.com", "type": "work" }],
                      "phones": [{ "phone": "+5511999990001", "type": "mobile" }],
                      "owner": { "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901", "email": "joao@company.com", "name": "João Silva" },
                      "avatar_url": null,
                      "entity_id": "g7wwkh0",
                      "created_at": "2026-01-15T10:30:00Z",
                      "updated_at": "2026-01-15T10:30:00Z",
                      "custom_fields": []
                    }
                  ],
                  "meta": {
                    "total": 120,
                    "page": 1,
                    "per_page": 50,
                    "has_more": true
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "operationId": "createPerson",
        "summary": "Create a person",
        "description": "Creates a new person in the workspace.\n\n<Accordion title=\"Required scope\">\n`people:write`\n</Accordion>",
        "tags": ["People"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePersonRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Person created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/people/{id}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Get a person",
        "description": "Returns the person corresponding to the ID.\n\n<Accordion title=\"Required scope\">\n`people:read`\n</Accordion>",
        "tags": ["People"],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Person returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updatePerson",
        "summary": "Update a person",
        "description": "Updates a person. Only the submitted fields are modified.\n\n<Accordion title=\"Required scope\">\n`people:write`\n</Accordion>",
        "tags": ["People"],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonWithEmbeddedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deletePerson",
        "summary": "Delete a person",
        "description": "Soft-deletes a person. The record is no longer accessible via the API.\n\n<Accordion title=\"Required scope\">\n`people:write`\n</Accordion>",
        "tags": ["People"],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Person deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.1 access token."
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "UUID of the resource."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed request body or empty update. Error code: `bad_request`. Possible messages: `\"Request body must be valid JSON.\"` (unparseable body) or `\"No fields provided for update.\"` (PATCH with no fields).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "bad_request",
                "message": "Request body must be valid JSON.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Token missing, invalid, or expired. Possible error codes and messages: `unauthorized`. `\"Missing or invalid Authorization header.\"`, `\"Invalid or malformed token.\"`, or `\"Token is missing required claims.\"`; `token_expired`. `\"Access token expired. Refresh using the refresh token.\"`",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "unauthorized",
                "message": "Missing or invalid Authorization header.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InsufficientScope": {
        "description": "Token lacks the required scope. Error code: `insufficient_scope`. Message: `\"This endpoint requires the '{scope}' scope.\"` where `{scope}` is the exact missing scope (e.g. `\"This endpoint requires the 'people:write' scope.\"`).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "insufficient_scope",
                "message": "This endpoint requires the 'people:write' scope.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found, soft-deleted, or belongs to another workspace. Error code: `not_found`. Message: `\"Person not found.\"`",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "not_found",
                "message": "Person not found.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Input validation failed. Error code: `validation_error`. Message: `\"Validation failed.\"` The `fields` object maps each invalid field to a description of the problem.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationErrorResponse"
            },
            "example": {
              "error": {
                "code": "validation_error",
                "message": "Validation failed.",
                "fields": {
                  "full_name": "String must contain at most 70 character(s)."
                },
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded. Error code: `rate_limit_exceeded`. Message: `\"Rate limit exceeded. Try again in {N} seconds.\"` The `Retry-After` response header contains the same value.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "rate_limit_exceeded",
                "message": "Rate limit exceeded. Try again in 60 seconds.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Unexpected server error. Error code: `internal_error`. Possible messages: `\"An unexpected error occurred.\"` (generic failure) or `\"Person updated but associations failed. Retry the associations.\"` (main record saved but association update failed). Use the `request_id` to correlate with server-side logs.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "internal_error",
                "message": "An unexpected error occurred.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "not_found"
              },
              "message": {
                "type": "string",
                "example": "Person not found."
              },
              "request_id": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "validation_error"
              },
              "message": {
                "type": "string",
                "example": "Validation failed."
              },
              "fields": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "example": {
                  "full_name": "String must contain at most 70 character(s)."
                }
              },
              "request_id": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "ContactEmail": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "nome@empresa.com"
          },
          "type": {
            "type": "string",
            "enum": ["personal", "work", "other"],
            "description": "Email type.",
            "example": "work"
          }
        },
        "example": {
          "email": "nome@empresa.com",
          "type": "work"
        }
      },
      "ContactPhone": {
        "type": "object",
        "required": ["phone"],
        "properties": {
          "phone": {
            "type": "string",
            "example": "+5511999990001"
          },
          "type": {
            "type": "string",
            "enum": ["mobile", "work", "residential", "other"],
            "description": "Phone type.",
            "example": "mobile"
          }
        },
        "example": {
          "phone": "+5511999990001",
          "type": "mobile"
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "color_text": {
            "type": "string",
            "nullable": true,
            "example": "#ffffff"
          },
          "color_background": {
            "type": "string",
            "nullable": true,
            "example": "#0085c0"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "value": {},
          "field": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "label": {
                "type": "string"
              },
              "key": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          }
        }
      },
      "Owner": {
        "type": "object",
        "nullable": true,
        "description": "Workspace member responsible for this record. `null` when no owner is assigned.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "joao@company.com"
          },
          "name": {
            "type": "string",
            "example": "João Silva"
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "full_name": {
            "type": "string",
            "maxLength": 70,
            "example": "Maria Silva"
          },
          "emails": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            },
            "example": [
              {
                "email": "maria@company.com",
                "type": "work"
              }
            ]
          },
          "phones": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            },
            "example": [
              {
                "phone": "+5511999990001",
                "type": "mobile"
              }
            ]
          },
          "company_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "owner": {
            "$ref": "#/components/schemas/Owner"
          },
          "position": {
            "type": "string",
            "nullable": true,
            "example": "Sales Director"
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 5,
            "example": 0,
            "readOnly": true,
            "description": "Read-only. Managed internally by Vendaze."
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "example": "https://storage.vendaze.com/client/workspaces/abc/people/xyz/avatar/avatar_WWT1BGs9ma.webp"
          },
          "entity_id": {
            "type": "string",
            "example": "g7wwkh0"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PersonWithEmbedded": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Person"
          },
          {
            "type": "object",
            "properties": {
              "company": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "emails": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": { "type": "string" },
                        "type": { "type": "string" }
                      }
                    }
                  },
                  "phones": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "properties": {
                        "phone": { "type": "string" },
                        "type": { "type": "string" }
                      }
                    }
                  },
                  "avatar_url": { "type": "string", "nullable": true },
                  "entity_id": { "type": "string" },
                  "created_at": { "type": "string", "format": "date-time" },
                  "updated_at": { "type": "string", "format": "date-time" }
                }
              },
              "tags": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "lists": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactList"
                }
              },
              "custom_fields": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomFieldValue"
                }
              }
            }
          }
        ]
      },
      "CreatePersonRequest": {
        "type": "object",
        "required": ["full_name"],
        "properties": {
          "full_name": {
            "type": "string",
            "maxLength": 70,
            "example": "Maria Silva"
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            }
          },
          "company_id": {
            "type": "string",
            "format": "uuid"
          },
          "position": {
            "type": "string",
            "maxLength": 100,
            "example": "Sales Director"
          },
          "owner_email": {
            "type": "string",
            "format": "email",
            "description": "Email of the workspace member to set as owner. The API resolves it to the internal user ID. Must be a member of this workspace.",
            "example": "joao@company.com"
          },
          "avatar_image": {
            "type": "string",
            "description": "Public HTTPS URL or full base64 data URI of the image (e.g. `data:image/png;base64,...`). Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF.",
            "example": "data:image/png;base64,iVBORw0KGgo..."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 30
            },
            "description": "Tag names (keys) to associate with the person. If a tag doesn't exist, it will be automatically created."
          },
          "list_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List IDs to associate with the person."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "lead_source",
                  "description": "Key of the custom field (e.g. `lead_source`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": {
                  "type": "string",
                  "description": "Field value as a string."
                }
              }
            },
            "description": "Custom field values to set for the person. Identified by `field_key`. If the field does not exist, it is created automatically with type `text`."
          }
        }
      },
      "UpdatePersonRequest": {
        "type": "object",
        "description": "All fields are optional. Only fields included in the body are modified.",
        "properties": {
          "full_name": {
            "type": "string",
            "maxLength": 70
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactEmail"
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPhone"
            }
          },
          "company_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Pass `null` to remove the company association."
          },
          "position": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Pass `null` to clear the job title."
          },
          "owner_email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Email of the workspace member to set as owner. Pass `null` to remove the owner. Must be a member of this workspace.",
            "example": "joao@company.com"
          },
          "avatar_image": {
            "type": "string",
            "description": "Public HTTPS URL or full base64 data URI of the image (e.g. `data:image/png;base64,...`). Replaces the current avatar. Accepted formats: JPEG, PNG, WebP, GIF, BMP, TIFF.",
            "example": "data:image/png;base64,iVBORw0KGgo..."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 30
            },
            "description": "Tag names (keys) to associate. Behavior depends on `association_mode`. If a tag doesn't exist, it will be automatically created."
          },
          "list_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List IDs to associate. Behavior depends on `association_mode`."
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["field_key", "value"],
              "properties": {
                "field_key": {
                  "type": "string",
                  "maxLength": 35,
                  "example": "lead_source",
                  "description": "Key of the custom field (e.g. `lead_source`). If no field with this key exists in the workspace, it is created automatically with type `text`."
                },
                "value": {
                  "type": "string",
                  "description": "Field value as a string."
                }
              }
            },
            "description": "Custom field values. Behavior depends on `association_mode`. In `append` mode, replaces the value for each `field_key` sent without touching others."
          },
          "association_mode": {
            "type": "string",
            "enum": ["append", "replace"],
            "default": "append",
            "description": "Controls how associations (`tags`, `list_ids`, `custom_fields`) are applied. `append`: adds new associations without removing existing ones. `replace`: removes all current associations of each sent type and inserts the new ones. Sending an empty array with `replace` removes all associations of that type."
          }
        }
      },
      "PersonWithEmbeddedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PersonWithEmbedded"
          }
        }
      },
      "PersonList": {
        "type": "object",
        "description": "Compact person object returned in list responses.",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "full_name": { "type": "string", "maxLength": 70, "example": "Maria Silva" },
          "emails": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/ContactEmail" }
          },
          "phones": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/ContactPhone" }
          },
          "owner": { "$ref": "#/components/schemas/Owner" },
          "avatar_url": { "type": "string", "format": "uri", "nullable": true },
          "entity_id": { "type": "string", "example": "g7wwkh0" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "custom_fields": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CustomFieldValue" }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "example": 120, "description": "Total number of records matching the query." },
          "page": { "type": "integer", "example": 1, "description": "Current page number." },
          "per_page": { "type": "integer", "example": 50, "description": "Number of records per page." },
          "has_more": { "type": "boolean", "example": true, "description": "`true` when there are more pages after the current one." }
        }
      },
      "PeopleListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PersonList" }
          },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      }
    }
  }
}
