{
  "openapi": "3.1.0",
  "info": {
    "title": "Products",
    "description": "Manage products in the workspace.",
    "version": "1.0.0",
    "contact": {
      "name": "Vendaze Support",
      "email": "suporte@vendaze.com"
    }
  },
  "servers": [
    {
      "url": "https://api.vendaze.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Products"
    }
  ],
  "paths": {
    "/v1/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "Returns a paginated list of products in the workspace.\n\n<Accordion title=\"Required scope\">\n`products:read`\n</Accordion>",
        "tags": ["Products"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 },
            "description": "Page number."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 50 },
            "description": "Number of records per page. Maximum: 50."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": { "type": "string", "enum": ["created_at", "name"], "default": "created_at" },
            "description": "Field to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" },
            "description": "Sort direction."
          }
        ],
        "responses": {
          "200": {
            "description": "Products returned successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductsListResponse" },
                "example": {
                  "data": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "Enterprise Plan",
                      "price_cts": 99900,
                      "currency": "USD",
                      "description": "Full-featured plan for large teams.",
                      "image_url": "https://storage.vendaze.com/client/workspaces/abc/products/xyz/image/avatar_Ab1Cd2Ef3G.webp",
                      "code": "PLAN-ENT",
                      "is_active": true,
                      "billing_cycle": "monthly",
                      "created_at": "2026-01-15T10:30:00Z"
                    }
                  ],
                  "meta": {
                    "total": 8,
                    "page": 1,
                    "per_page": 50,
                    "has_more": false
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Create a product",
        "description": "Creates a new product in the workspace.\n\n<Accordion title=\"Required scope\">\n`products:write`\n</Accordion>",
        "tags": ["Products"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateProductRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/products/{id}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get a product",
        "description": "Returns a product by its `id` (UUID).\n\n<Accordion title=\"Required scope\">\n`products:read`\n</Accordion>",
        "tags": ["Products"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "Product returned successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "patch": {
        "operationId": "updateProduct",
        "summary": "Update a product",
        "description": "Updates a product by its `id` (UUID). Only fields included in the body are modified.\n\n<Accordion title=\"Required scope\">\n`products:write`\n</Accordion>",
        "tags": ["Products"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateProductRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "delete": {
        "operationId": "deleteProduct",
        "summary": "Delete a product",
        "description": "Soft-deletes a product by its `id` (UUID).\n\n<Accordion title=\"Required scope\">\n`products:write`\n</Accordion>",
        "tags": ["Products"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": {
            "description": "Product deleted successfully.",
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": {}
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.1 access token."
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "Product UUID."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed request body or empty update. Error code: `bad_request`.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "bad_request",
                "message": "Request body must be valid JSON.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Token missing, invalid, or expired.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "unauthorized",
                "message": "Missing or invalid Authorization header.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InsufficientScope": {
        "description": "Token lacks the required scope. Error code: `insufficient_scope`.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "insufficient_scope",
                "message": "This endpoint requires the 'products:write' scope.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Product not found, soft-deleted, or belongs to another workspace. Error code: `not_found`.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "not_found",
                "message": "Product not found.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "A conflict occurred. Error code: `conflict`.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "conflict",
                "message": "A record with this value already exists.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Input validation failed. Error code: `validation_error`.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" },
            "example": {
              "error": {
                "code": "validation_error",
                "message": "Validation failed.",
                "fields": {
                  "currency": "Invalid currency code.",
                  "price_cts": "Number must be greater than or equal to 0."
                },
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded. Error code: `rate_limit_exceeded`.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "rate_limit_exceeded",
                "message": "Rate limit exceeded. Try again in 60 seconds.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Unexpected server error. Error code: `internal_error`.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": {
                "code": "internal_error",
                "message": "An unexpected error occurred.",
                "request_id": "550e8400-e29b-41d4-a716-446655440000"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "CurrencyCode": {
        "type": "string",
        "description": "ISO 4217 currency code supported by Vendaze.",
        "enum": [
          "AED",
          "ARS",
          "AUD",
          "BRL",
          "CAD",
          "CHF",
          "CLP",
          "CNY",
          "COP",
          "DKK",
          "EGP",
          "EUR",
          "GBP",
          "HKD",
          "ILS",
          "INR",
          "JPY",
          "KWD",
          "MAD",
          "MXN",
          "MYR",
          "NGN",
          "NOK",
          "NZD",
          "PEN",
          "QAR",
          "SAR",
          "SEK",
          "SGD",
          "TRY",
          "USD",
          "UYU",
          "ZAR"
        ],
        "example": "USD"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" },
              "fields": {
                "type": "object",
                "additionalProperties": { "type": "string" }
              },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "description": "Total number of records." },
          "page": { "type": "integer", "description": "Current page number." },
          "per_page": { "type": "integer", "description": "Records per page." },
          "has_more": { "type": "boolean", "description": "`true` when there are more pages after the current one." }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier."
          },
          "name": {
            "type": "string",
            "maxLength": 80,
            "description": "Product name.",
            "example": "Enterprise Plan"
          },
          "price_cts": {
            "type": "integer",
            "description": "Price in the smallest currency unit (e.g. cents). `99900` = $999.00.",
            "example": 99900
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000,
            "description": "Optional product description.",
            "example": "Full-featured plan for large teams."
          },
          "image_url": {
            "type": "string",
            "nullable": true,
            "description": "Public URL of the product image, or `null` if none.",
            "example": "https://storage.vendaze.com/client/workspaces/abc/products/xyz/image/avatar_Ab1Cd2Ef3G.webp"
          },
          "code": {
            "type": "string",
            "nullable": true,
            "maxLength": 60,
            "description": "Internal product code or SKU.",
            "example": "PLAN-ENT"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the product is active.",
            "example": true
          },
          "billing_cycle": {
            "type": "string",
            "enum": ["one_time", "monthly", "quarterly", "annually"],
            "description": "Billing cycle for the product.",
            "example": "monthly"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 UTC creation timestamp."
          }
        }
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Product" }
        }
      },
      "ProductsListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Product" }
          },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "CreateProductRequest": {
        "type": "object",
        "required": ["name", "currency"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "description": "Product name.",
            "example": "Enterprise Plan"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "price_cts": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000000000000000,
            "description": "Price in the smallest currency unit. Defaults to `0`.",
            "example": 99900
          },
          "description": {
            "type": "string",
            "maxLength": 1000,
            "description": "Product description.",
            "example": "Full-featured plan for large teams."
          },
          "code": {
            "type": "string",
            "maxLength": 60,
            "description": "Internal product code or SKU.",
            "example": "PLAN-ENT"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the product is active. Defaults to `true`.",
            "example": true
          },
          "billing_cycle": {
            "type": "string",
            "enum": ["one_time", "monthly", "quarterly", "annually"],
            "description": "Billing cycle. Defaults to `one_time`.",
            "example": "monthly"
          },
          "image": {
            "type": "string",
            "description": "Product image. Accepts a public HTTPS URL, a raw Base64 string, or a full data URI (`data:image/png;base64,...`). Maximum 2 MB.",
            "example": "https://example.com/product.png"
          }
        }
      },
      "UpdateProductRequest": {
        "type": "object",
        "description": "All fields are optional. Only fields included in the body are modified.",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "description": "New product name.",
            "example": "Enterprise Plan v2"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "price_cts": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000000000000000,
            "description": "New price in the smallest currency unit.",
            "example": 149900
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000,
            "description": "New description. Send `null` to clear.",
            "example": "Updated plan for enterprise customers."
          },
          "code": {
            "type": "string",
            "nullable": true,
            "maxLength": 60,
            "description": "New product code. Send `null` to clear.",
            "example": "PLAN-ENT-V2"
          },
          "is_active": {
            "type": "boolean",
            "description": "Update active status.",
            "example": false
          },
          "billing_cycle": {
            "type": "string",
            "enum": ["one_time", "monthly", "quarterly", "annually"],
            "description": "New billing cycle.",
            "example": "annually"
          },
          "image": {
            "type": "string",
            "description": "New product image. Replaces the existing one.",
            "example": "https://example.com/new-product.png"
          }
        }
      }
    }
  }
}
