{
  "openapi": "3.1.0",
  "info": {
    "title": "Vendaze API",
    "description": "The Vendaze API lets you build integrations with Vendaze, a B2B CRM for sales teams. All endpoints require OAuth 2.1 authentication and are scoped to a specific workspace.",
    "version": "1.0.0",
    "contact": {
      "name": "Vendaze Support",
      "email": "suporte@vendaze.com"
    }
  },
  "servers": [
    {
      "url": "https://api.vendaze.com",
      "description": "Production"
    }
  ],
  "security": [{ "bearerAuth": [] }],
  "tags": [
    { "name": "People", "description": "Manage contacts (individual people) in the workspace." },
    { "name": "Companies", "description": "Manage companies in the workspace." },
    { "name": "Deals", "description": "Manage sales deals in the pipeline." },
    { "name": "Tasks", "description": "Manage tasks assigned to sales reps." },
    { "name": "Activities", "description": "Log activities such as calls, emails, and meetings." },
    { "name": "Products", "description": "Manage the product catalog." },
    { "name": "Tags", "description": "Manage tags used to categorize contacts and deals." },
    { "name": "Lists", "description": "Manage contact lists." },
    { "name": "Custom Fields", "description": "Manage workspace-defined custom fields." },
    { "name": "OAuth", "description": "OAuth 2.1 authorization endpoints." }
  ],
  "paths": {
    "/v1/auth/register-app": {
      "post": {
        "operationId": "registerApp",
        "summary": "Register an app",
        "description": "Register a new OAuth app to obtain client credentials. Credentials are sent by email. No authentication required.",
        "tags": ["OAuth"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegisterAppRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "App registered. Credentials sent by email.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/RegisterAppResponse" }
                  }
                }
              }
            }
          },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "operationId": "authorize",
        "summary": "Authorization endpoint",
        "description": "Redirects the user to the Vendaze authorization page to log in and approve scopes. This is the starting point of the OAuth 2.1 Authorization Code flow.",
        "tags": ["OAuth"],
        "security": [],
        "parameters": [
          { "name": "client_id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Your app's client ID." },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "uri" },
            "description": "Must exactly match a registered redirect URI."
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["code"] },
            "description": "Must be `code`."
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Space-separated list of scopes. Example: `people:read deals:write`."
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Random CSRF token. Returned unchanged to your redirect URI."
          },
          {
            "name": "code_challenge",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "`BASE64URL(SHA256(code_verifier))`."
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["S256"] },
            "description": "Must be `S256`."
          }
        ],
        "responses": {
          "302": { "description": "Redirect to Vendaze authorization page." },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "issueToken",
        "summary": "Issue or refresh a token",
        "description": "Exchange an authorization code for tokens, or refresh an existing access token using a refresh token.",
        "tags": ["OAuth"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TokenRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens issued.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TokenResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "operationId": "revokeToken",
        "summary": "Revoke a token",
        "description": "Revoke an access token or refresh token. Returns 200 whether or not the token was already revoked.",
        "tags": ["OAuth"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RevokeTokenRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Token revoked (or was already revoked)." },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/people": {
      "get": {
        "operationId": "listPeople",
        "summary": "List people",
        "description": "Returns a paginated list of people (contacts) in the authorized workspace.",
        "tags": ["People"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "$ref": "#/components/parameters/order_by_default" },
          { "$ref": "#/components/parameters/order" },
          {
            "name": "full_name",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Case-insensitive partial match on full name."
          },
          { "name": "email", "in": "query", "schema": { "type": "string" }, "description": "Case-insensitive partial match on email." },
          { "name": "phone", "in": "query", "schema": { "type": "string" }, "description": "Partial match on phone number." },
          {
            "name": "company_id",
            "in": "query",
            "schema": { "type": "string", "format": "uuid" },
            "description": "Filter by associated company."
          },
          {
            "name": "owner_user_id",
            "in": "query",
            "schema": { "type": "string", "format": "uuid" },
            "description": "Filter by assigned owner."
          },
          {
            "name": "position",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Case-insensitive partial match on job title."
          },
          {
            "name": "tag[]",
            "in": "query",
            "schema": { "type": "array", "items": { "type": "string" } },
            "description": "Filter by one or more tag names. All tags must match (AND)."
          },
          { "$ref": "#/components/parameters/created_after" },
          { "$ref": "#/components/parameters/created_before" },
          { "$ref": "#/components/parameters/updated_after" },
          { "$ref": "#/components/parameters/updated_before" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PeopleListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      },
      "post": {
        "operationId": "createPerson",
        "summary": "Create a person",
        "description": "Creates a new person in the authorized workspace.",
        "tags": ["People"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePersonRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Person created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PersonResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      }
    },
    "/v1/people/{id}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Get a person",
        "description": "Returns a person by ID, including embedded company, tags, lists, and custom fields.",
        "tags": ["People"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PersonWithEmbedded" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updatePerson",
        "summary": "Update a person",
        "description": "Updates a person. Only fields included in the request body are modified.",
        "tags": ["People"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdatePersonRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person updated.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PersonResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "delete": {
        "operationId": "deletePerson",
        "summary": "Delete a person",
        "description": "Soft-deletes a person. The record is no longer accessible via the API.",
        "tags": ["People"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Person deleted." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/companies": {
      "get": {
        "operationId": "listCompanies",
        "summary": "List companies",
        "description": "Returns a paginated list of companies in the authorized workspace.",
        "tags": ["Companies"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "$ref": "#/components/parameters/order_by_default" },
          { "$ref": "#/components/parameters/order" },
          {
            "name": "full_name",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Case-insensitive partial match on company name."
          },
          { "name": "email", "in": "query", "schema": { "type": "string" }, "description": "Case-insensitive partial match on email." },
          { "name": "phone", "in": "query", "schema": { "type": "string" }, "description": "Partial match on phone number." },
          { "name": "owner_user_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "tag[]", "in": "query", "schema": { "type": "array", "items": { "type": "string" } } },
          { "$ref": "#/components/parameters/created_after" },
          { "$ref": "#/components/parameters/created_before" },
          { "$ref": "#/components/parameters/updated_after" },
          { "$ref": "#/components/parameters/updated_before" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CompaniesListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      },
      "post": {
        "operationId": "createCompany",
        "summary": "Create a company",
        "tags": ["Companies"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCompanyRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Company created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CompanyResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      }
    },
    "/v1/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get a company",
        "description": "Returns a company by ID, including embedded tags, lists, and custom fields.",
        "tags": ["Companies"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CompanyWithEmbedded" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateCompany",
        "summary": "Update a company",
        "tags": ["Companies"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateCompanyRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CompanyResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Delete a company",
        "tags": ["Companies"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Company deleted." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/deals": {
      "get": {
        "operationId": "listDeals",
        "summary": "List deals",
        "description": "Returns a paginated list of deals in the authorized workspace.",
        "tags": ["Deals"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "$ref": "#/components/parameters/order_by_default" },
          { "$ref": "#/components/parameters/order" },
          { "name": "name", "in": "query", "schema": { "type": "string" }, "description": "Case-insensitive partial match on deal name." },
          { "name": "pipeline_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "stage_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "owner_user_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "source", "in": "query", "schema": { "type": "string" } },
          { "name": "price_min_cts", "in": "query", "schema": { "type": "integer" }, "description": "Minimum deal value in cents." },
          { "name": "price_max_cts", "in": "query", "schema": { "type": "integer" }, "description": "Maximum deal value in cents." },
          { "name": "currency", "in": "query", "schema": { "type": "string" }, "description": "ISO 4217 currency code. Example: `BRL`." },
          {
            "name": "forecast_after",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Filter by forecast close date after this timestamp (ISO 8601 UTC)."
          },
          { "name": "forecast_before", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "$ref": "#/components/parameters/created_after" },
          { "$ref": "#/components/parameters/created_before" },
          { "$ref": "#/components/parameters/updated_after" },
          { "$ref": "#/components/parameters/updated_before" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DealsListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" }
        }
      },
      "post": {
        "operationId": "createDeal",
        "summary": "Create a deal",
        "tags": ["Deals"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateDealRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deal created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DealResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      }
    },
    "/v1/deals/{id}": {
      "get": {
        "operationId": "getDeal",
        "summary": "Get a deal",
        "description": "Returns a deal by ID, including embedded pipeline, stage, products, and custom fields.",
        "tags": ["Deals"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DealWithEmbedded" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateDeal",
        "summary": "Update a deal",
        "tags": ["Deals"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateDealRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deal updated.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DealResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "delete": {
        "operationId": "deleteDeal",
        "summary": "Delete a deal",
        "tags": ["Deals"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Deal deleted." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List tasks",
        "tags": ["Tasks"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "$ref": "#/components/parameters/order_by_default" },
          { "$ref": "#/components/parameters/order" },
          { "name": "person_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "company_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "deal_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "type_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "priority", "in": "query", "schema": { "type": "string", "enum": ["high", "medium", "low"] } },
          { "name": "completed", "in": "query", "schema": { "type": "boolean" } },
          { "$ref": "#/components/parameters/created_after" },
          { "$ref": "#/components/parameters/created_before" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TasksListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create a task",
        "tags": ["Tasks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateTaskRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Task created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TaskResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      }
    },
    "/v1/tasks/{id}": {
      "get": {
        "operationId": "getTask",
        "summary": "Get a task",
        "tags": ["Tasks"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TaskResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateTask",
        "summary": "Update a task",
        "tags": ["Tasks"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateTaskRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TaskResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "delete": {
        "operationId": "deleteTask",
        "summary": "Delete a task",
        "tags": ["Tasks"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Task deleted." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/activities": {
      "get": {
        "operationId": "listActivities",
        "summary": "List activities",
        "description": "Returns activities. At least one entity filter (`person_id`, `company_id`, or `deal_id`) is required.",
        "tags": ["Activities"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "$ref": "#/components/parameters/order_by_default" },
          { "$ref": "#/components/parameters/order" },
          { "name": "person_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "company_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "deal_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["notes", "email", "call", "meeting"] } },
          { "$ref": "#/components/parameters/created_after" },
          { "$ref": "#/components/parameters/created_before" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ActivitiesListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "post": {
        "operationId": "createActivity",
        "summary": "Create an activity",
        "description": "Creates an activity. At least one entity (`person_id`, `company_id`, or `deal_id`) must be provided.",
        "tags": ["Activities"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateActivityRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Activity created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ActivityResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      }
    },
    "/v1/activities/{id}": {
      "get": {
        "operationId": "getActivity",
        "summary": "Get an activity",
        "tags": ["Activities"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ActivityResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteActivity",
        "summary": "Delete an activity",
        "tags": ["Activities"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Activity deleted." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "tags": ["Products"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "$ref": "#/components/parameters/order_by_default" },
          { "$ref": "#/components/parameters/order" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductsListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" }
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Create a product",
        "tags": ["Products"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateProductRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      }
    },
    "/v1/products/{id}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get a product",
        "tags": ["Products"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateProduct",
        "summary": "Update a product",
        "tags": ["Products"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateProductRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProductResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      },
      "delete": {
        "operationId": "deleteProduct",
        "summary": "Delete a product",
        "tags": ["Products"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Product deleted." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/InsufficientScope" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "tags": ["Tags"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "$ref": "#/components/parameters/order_by_default" },
          { "$ref": "#/components/parameters/order" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TagsListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createTag",
        "summary": "Create a tag",
        "tags": ["Tags"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateTagRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TagResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      }
    },
    "/v1/tags/{id}": {
      "get": {
        "operationId": "getTag",
        "summary": "Get a tag",
        "tags": ["Tags"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TagResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateTag",
        "summary": "Update a tag",
        "tags": ["Tags"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateTagRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag updated.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TagResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteTag",
        "summary": "Delete a tag",
        "tags": ["Tags"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Tag deleted." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/lists": {
      "get": {
        "operationId": "listLists",
        "summary": "List contact lists",
        "tags": ["Lists"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "$ref": "#/components/parameters/order_by_default" },
          { "$ref": "#/components/parameters/order" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListsListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createList",
        "summary": "Create a list",
        "tags": ["Lists"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateListRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "List created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ContactListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      }
    },
    "/v1/lists/{id}": {
      "get": {
        "operationId": "getList",
        "summary": "Get a list",
        "tags": ["Lists"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ContactListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateList",
        "summary": "Update a list",
        "tags": ["Lists"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateListRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List updated.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ContactListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteList",
        "summary": "Delete a list",
        "tags": ["Lists"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "List deleted." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/custom-fields": {
      "get": {
        "operationId": "listCustomFields",
        "summary": "List custom fields",
        "tags": ["Custom Fields"],
        "parameters": [
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/per_page" },
          { "name": "show_people", "in": "query", "schema": { "type": "boolean" } },
          { "name": "show_companies", "in": "query", "schema": { "type": "boolean" } },
          { "name": "show_deals", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomFieldsListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createCustomField",
        "summary": "Create a custom field",
        "tags": ["Custom Fields"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCustomFieldRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom field created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomFieldResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      }
    },
    "/v1/custom-fields/{id}": {
      "get": {
        "operationId": "getCustomField",
        "summary": "Get a custom field",
        "tags": ["Custom Fields"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomFieldResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateCustomField",
        "summary": "Update a custom field",
        "tags": ["Custom Fields"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateCustomFieldRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field updated.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomFieldResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteCustomField",
        "summary": "Delete a custom field",
        "tags": ["Custom Fields"],
        "parameters": [{ "$ref": "#/components/parameters/id" }],
        "responses": {
          "204": { "description": "Custom field deleted." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.1 access token obtained via the Authorization Code flow."
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID of the resource."
      },
      "page": {
        "name": "page",
        "in": "query",
        "schema": { "type": "integer", "default": 1, "minimum": 1 },
        "description": "Page number."
      },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 100 },
        "description": "Records per page. Maximum 100."
      },
      "order_by_default": {
        "name": "order_by",
        "in": "query",
        "schema": { "type": "string", "default": "created_at" },
        "description": "Field to sort by."
      },
      "order": {
        "name": "order",
        "in": "query",
        "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" },
        "description": "Sort direction."
      },
      "created_after": {
        "name": "created_after",
        "in": "query",
        "schema": { "type": "string", "format": "date-time" },
        "description": "Return only records created after this timestamp (ISO 8601 UTC)."
      },
      "created_before": {
        "name": "created_before",
        "in": "query",
        "schema": { "type": "string", "format": "date-time" },
        "description": "Return only records created before this timestamp (ISO 8601 UTC)."
      },
      "updated_after": {
        "name": "updated_after",
        "in": "query",
        "schema": { "type": "string", "format": "date-time" },
        "description": "Return only records updated after this timestamp (ISO 8601 UTC)."
      },
      "updated_before": {
        "name": "updated_before",
        "in": "query",
        "schema": { "type": "string", "format": "date-time" },
        "description": "Return only records updated before this timestamp (ISO 8601 UTC)."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": { "code": "invalid_request", "message": "Missing required parameter: code.", "request_id": "uuid" } }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid access token.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": { "code": "unauthorized", "message": "Missing or invalid Bearer token.", "request_id": "uuid" } }
          }
        }
      },
      "InsufficientScope": {
        "description": "Token lacks the required scope.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": { "code": "insufficient_scope", "message": "Required scope: people:write.", "request_id": "uuid" } }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": { "code": "not_found", "message": "Person not found.", "request_id": "uuid" } }
          }
        }
      },
      "ValidationError": {
        "description": "Input validation failed.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" },
            "example": {
              "error": {
                "code": "validation_error",
                "message": "Validation failed.",
                "fields": { "per_page": "Must be at most 100." },
                "request_id": "uuid"
              }
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded.",
        "headers": {
          "Retry-After": { "schema": { "type": "integer" }, "description": "Seconds to wait before retrying." }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": {
              "error": { "code": "rate_limit_exceeded", "message": "Rate limit exceeded. Try again in 60 seconds.", "request_id": "uuid" }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": { "type": "string", "example": "not_found" },
              "message": { "type": "string", "example": "Person not found." },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "validation_error" },
              "message": { "type": "string", "example": "Validation failed." },
              "fields": {
                "type": "object",
                "additionalProperties": { "type": "string" },
                "example": { "per_page": "Must be at most 100." }
              },
              "request_id": { "type": "string", "format": "uuid" }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "example": 150 },
          "page": { "type": "integer", "example": 1 },
          "per_page": { "type": "integer", "example": 50 },
          "has_more": { "type": "boolean", "example": true }
        }
      },
      "ContactField": {
        "type": "object",
        "properties": {
          "value": { "type": "string" },
          "label": { "type": "string", "example": "work" }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "full_name": { "type": "string", "maxLength": 70, "example": "Ana Costa" },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactField" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactField" } },
          "company_id": { "type": "string", "format": "uuid", "nullable": true },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "position": { "type": "string", "nullable": true, "example": "Head of Sales" },
          "ranking": { "type": "number", "minimum": 0, "maximum": 5, "example": 4.5 },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "maxLength": 30, "example": "cliente-vip" },
          "color_text": { "type": "string", "nullable": true, "example": "#ffffff" },
          "color_background": { "type": "string", "nullable": true, "example": "#0085c0" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "maxLength": 50, "example": "VIP Customers" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CustomFieldValue": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "value": {},
          "field": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "label": { "type": "string" },
              "key": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      },
      "PersonWithEmbedded": {
        "allOf": [
          { "$ref": "#/components/schemas/Person" },
          {
            "type": "object",
            "properties": {
              "company": {
                "nullable": true,
                "type": "object",
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "full_name": { "type": "string" }
                }
              },
              "tags": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } },
              "lists": { "type": "array", "items": { "$ref": "#/components/schemas/ContactList" } },
              "custom_fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomFieldValue" } }
            }
          }
        ]
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "full_name": { "type": "string", "maxLength": 70, "example": "Acme Corp" },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactField" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactField" } },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "permission": { "type": "string", "enum": ["all_users", "owners"], "example": "all_users" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CompanyWithEmbedded": {
        "allOf": [
          { "$ref": "#/components/schemas/Company" },
          {
            "type": "object",
            "properties": {
              "tags": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } },
              "lists": { "type": "array", "items": { "$ref": "#/components/schemas/ContactList" } },
              "custom_fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomFieldValue" } }
            }
          }
        ]
      },
      "Deal": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "maxLength": 70, "example": "Enterprise Plan — Acme Corp" },
          "pipeline_id": { "type": "string", "format": "uuid" },
          "stage_id": { "type": "string", "format": "uuid" },
          "price_cts": { "type": "integer", "minimum": 0, "example": 250000, "description": "Deal value in cents. 250000 = R$ 2,500.00" },
          "currency_id": { "type": "string", "format": "uuid" },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "source": { "type": "string", "example": "direct_registration" },
          "forecast_date": { "type": "string", "format": "date-time", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "DealWithEmbedded": {
        "allOf": [
          { "$ref": "#/components/schemas/Deal" },
          {
            "type": "object",
            "properties": {
              "pipeline": {
                "type": "object",
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "name": { "type": "string" }
                }
              },
              "stage": {
                "type": "object",
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "name": { "type": "string" },
                  "type": { "type": "string", "enum": ["open", "win", "lost"] }
                }
              },
              "products": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "product_id": { "type": "string", "format": "uuid", "nullable": true },
                    "quantity": { "type": "integer" },
                    "unit_price_cts": { "type": "integer" },
                    "total_price_cts": { "type": "integer" },
                    "billing_cycle": { "type": "string", "enum": ["one_time", "monthly", "quarterly", "annually"] }
                  }
                }
              },
              "custom_fields": { "type": "array", "items": { "$ref": "#/components/schemas/CustomFieldValue" } }
            }
          }
        ]
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "title": { "type": "string", "maxLength": 200, "example": "Follow up call" },
          "notes": { "type": "string", "nullable": true },
          "type_id": { "type": "string", "format": "uuid", "nullable": true },
          "due_date": { "type": "string", "format": "date-time" },
          "person_id": { "type": "string", "format": "uuid", "nullable": true },
          "company_id": { "type": "string", "format": "uuid", "nullable": true },
          "deal_id": { "type": "string", "format": "uuid", "nullable": true },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "priority": { "type": "string", "enum": ["high", "medium", "low"], "nullable": true },
          "completed": { "type": "boolean", "default": false },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Activity": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "type": { "type": "string", "enum": ["notes", "email", "call", "meeting"] },
          "content_html": { "type": "string", "nullable": true },
          "person_id": { "type": "string", "format": "uuid", "nullable": true },
          "company_id": { "type": "string", "format": "uuid", "nullable": true },
          "deal_id": { "type": "string", "format": "uuid", "nullable": true },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "maxLength": 80, "example": "Pro Plan" },
          "price_cts": { "type": "integer", "minimum": 0, "example": 19900, "description": "Price in cents. 19900 = R$ 199.00" },
          "currency_id": { "type": "string", "format": "uuid" },
          "description": { "type": "string", "nullable": true },
          "code": { "type": "string", "nullable": true, "example": "PRO-001" },
          "is_active": { "type": "boolean", "default": true },
          "billing_cycle": { "type": "string", "enum": ["one_time", "monthly", "quarterly", "annually"], "default": "one_time" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "label": { "type": "string", "maxLength": 40, "example": "Lead Source" },
          "key": { "type": "string", "maxLength": 35, "example": "lead_source" },
          "type": {
            "type": "string",
            "enum": ["text", "long_text", "select", "multi_select", "cpf", "cnpj", "date", "number", "link", "address"]
          },
          "value": { "description": "Options array for select/multi_select fields; null for others.", "nullable": true },
          "required": { "type": "boolean", "default": false },
          "show_people": { "type": "boolean", "default": true },
          "show_companies": { "type": "boolean", "default": true },
          "show_deals": { "type": "boolean", "default": false },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "RegisterAppRequest": {
        "type": "object",
        "required": ["app_name", "email", "redirect_uris", "scopes"],
        "properties": {
          "app_name": { "type": "string", "maxLength": 100, "example": "My Integration" },
          "email": { "type": "string", "format": "email", "example": "dev@yourapp.com" },
          "description": { "type": "string", "maxLength": 500, "example": "Syncs contacts between Vendaze and MyApp." },
          "redirect_uris": {
            "type": "array",
            "items": { "type": "string", "format": "uri" },
            "example": ["https://yourapp.com/oauth/callback"]
          },
          "scopes": { "type": "array", "items": { "type": "string" }, "example": ["people:read", "deals:write"] }
        }
      },
      "RegisterAppResponse": {
        "type": "object",
        "properties": {
          "app_name": { "type": "string" },
          "client_id": { "type": "string", "format": "uuid" },
          "message": { "type": "string", "example": "Credentials sent to dev@yourapp.com" }
        }
      },
      "TokenRequest": {
        "type": "object",
        "required": ["grant_type", "client_id", "client_secret"],
        "properties": {
          "grant_type": { "type": "string", "enum": ["authorization_code", "refresh_token"] },
          "code": { "type": "string", "description": "Required for authorization_code grant." },
          "redirect_uri": { "type": "string", "description": "Required for authorization_code grant." },
          "code_verifier": { "type": "string", "description": "Required for authorization_code grant." },
          "refresh_token": { "type": "string", "description": "Required for refresh_token grant." },
          "client_id": { "type": "string" },
          "client_secret": { "type": "string" }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": { "type": "string" },
          "refresh_token": { "type": "string" },
          "token_type": { "type": "string", "example": "Bearer" },
          "expires_in": { "type": "integer", "example": 3600 }
        }
      },
      "RevokeTokenRequest": {
        "type": "object",
        "required": ["token", "client_id", "client_secret"],
        "properties": {
          "token": { "type": "string", "description": "The access or refresh token to revoke." },
          "client_id": { "type": "string" },
          "client_secret": { "type": "string" }
        }
      },
      "CreatePersonRequest": {
        "type": "object",
        "required": ["full_name"],
        "properties": {
          "full_name": { "type": "string", "maxLength": 70 },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactField" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactField" } },
          "company_id": { "type": "string", "format": "uuid" },
          "position": { "type": "string" },
          "owner_user_id": { "type": "string", "format": "uuid" },
          "ranking": { "type": "number", "minimum": 0, "maximum": 5 }
        }
      },
      "UpdatePersonRequest": {
        "type": "object",
        "properties": {
          "full_name": { "type": "string", "maxLength": 70 },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactField" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactField" } },
          "company_id": { "type": "string", "format": "uuid", "nullable": true },
          "position": { "type": "string", "nullable": true },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "ranking": { "type": "number", "minimum": 0, "maximum": 5 }
        }
      },
      "CreateCompanyRequest": {
        "type": "object",
        "required": ["full_name"],
        "properties": {
          "full_name": { "type": "string", "maxLength": 70 },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactField" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactField" } },
          "owner_user_id": { "type": "string", "format": "uuid" },
          "permission": { "type": "string", "enum": ["all_users", "owners"] }
        }
      },
      "UpdateCompanyRequest": {
        "type": "object",
        "properties": {
          "full_name": { "type": "string", "maxLength": 70 },
          "emails": { "type": "array", "items": { "$ref": "#/components/schemas/ContactField" } },
          "phones": { "type": "array", "items": { "$ref": "#/components/schemas/ContactField" } },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "permission": { "type": "string", "enum": ["all_users", "owners"] }
        }
      },
      "CreateDealRequest": {
        "type": "object",
        "required": ["name", "pipeline_id", "stage_id", "currency_id"],
        "properties": {
          "name": { "type": "string", "maxLength": 70 },
          "pipeline_id": { "type": "string", "format": "uuid" },
          "stage_id": { "type": "string", "format": "uuid" },
          "currency_id": { "type": "string", "format": "uuid" },
          "price_cts": { "type": "integer", "minimum": 0, "description": "Value in cents." },
          "owner_user_id": { "type": "string", "format": "uuid" },
          "source": { "type": "string" },
          "forecast_date": { "type": "string", "format": "date-time" }
        }
      },
      "UpdateDealRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "maxLength": 70 },
          "pipeline_id": { "type": "string", "format": "uuid" },
          "stage_id": { "type": "string", "format": "uuid" },
          "currency_id": { "type": "string", "format": "uuid" },
          "price_cts": { "type": "integer", "minimum": 0 },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "source": { "type": "string" },
          "forecast_date": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "CreateTaskRequest": {
        "type": "object",
        "required": ["title", "due_date"],
        "properties": {
          "title": { "type": "string", "maxLength": 200 },
          "due_date": { "type": "string", "format": "date-time" },
          "notes": { "type": "string" },
          "type_id": { "type": "string", "format": "uuid" },
          "person_id": { "type": "string", "format": "uuid" },
          "company_id": { "type": "string", "format": "uuid" },
          "deal_id": { "type": "string", "format": "uuid" },
          "owner_user_id": { "type": "string", "format": "uuid" },
          "priority": { "type": "string", "enum": ["high", "medium", "low"] }
        }
      },
      "UpdateTaskRequest": {
        "type": "object",
        "properties": {
          "title": { "type": "string", "maxLength": 200 },
          "due_date": { "type": "string", "format": "date-time" },
          "notes": { "type": "string", "nullable": true },
          "type_id": { "type": "string", "format": "uuid", "nullable": true },
          "person_id": { "type": "string", "format": "uuid", "nullable": true },
          "company_id": { "type": "string", "format": "uuid", "nullable": true },
          "deal_id": { "type": "string", "format": "uuid", "nullable": true },
          "owner_user_id": { "type": "string", "format": "uuid", "nullable": true },
          "priority": { "type": "string", "enum": ["high", "medium", "low"], "nullable": true },
          "completed": { "type": "boolean" }
        }
      },
      "CreateActivityRequest": {
        "type": "object",
        "required": ["type"],
        "properties": {
          "type": { "type": "string", "enum": ["notes", "email", "call", "meeting"] },
          "content_html": { "type": "string" },
          "person_id": { "type": "string", "format": "uuid" },
          "company_id": { "type": "string", "format": "uuid" },
          "deal_id": { "type": "string", "format": "uuid" },
          "owner_user_id": { "type": "string", "format": "uuid" }
        }
      },
      "CreateProductRequest": {
        "type": "object",
        "required": ["name", "currency_id"],
        "properties": {
          "name": { "type": "string", "maxLength": 80 },
          "currency_id": { "type": "string", "format": "uuid" },
          "price_cts": { "type": "integer", "minimum": 0 },
          "description": { "type": "string" },
          "code": { "type": "string" },
          "is_active": { "type": "boolean" },
          "billing_cycle": { "type": "string", "enum": ["one_time", "monthly", "quarterly", "annually"] }
        }
      },
      "UpdateProductRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "maxLength": 80 },
          "currency_id": { "type": "string", "format": "uuid" },
          "price_cts": { "type": "integer", "minimum": 0 },
          "description": { "type": "string", "nullable": true },
          "code": { "type": "string", "nullable": true },
          "is_active": { "type": "boolean" },
          "billing_cycle": { "type": "string", "enum": ["one_time", "monthly", "quarterly", "annually"] }
        }
      },
      "CreateTagRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string", "maxLength": 30 },
          "color_text": { "type": "string", "example": "#ffffff" },
          "color_background": { "type": "string", "example": "#0085c0" }
        }
      },
      "UpdateTagRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "maxLength": 30 },
          "color_text": { "type": "string", "nullable": true },
          "color_background": { "type": "string", "nullable": true }
        }
      },
      "CreateListRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string", "maxLength": 50 }
        }
      },
      "UpdateListRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "maxLength": 50 }
        }
      },
      "CreateCustomFieldRequest": {
        "type": "object",
        "required": ["label", "key", "type"],
        "properties": {
          "label": { "type": "string", "maxLength": 40 },
          "key": { "type": "string", "maxLength": 35 },
          "type": {
            "type": "string",
            "enum": ["text", "long_text", "select", "multi_select", "cpf", "cnpj", "date", "number", "link", "address"]
          },
          "value": { "description": "Options array for select/multi_select.", "nullable": true },
          "required": { "type": "boolean" },
          "show_people": { "type": "boolean" },
          "show_companies": { "type": "boolean" },
          "show_deals": { "type": "boolean" }
        }
      },
      "UpdateCustomFieldRequest": {
        "type": "object",
        "properties": {
          "label": { "type": "string", "maxLength": 40 },
          "value": { "description": "Options array for select/multi_select.", "nullable": true },
          "required": { "type": "boolean" },
          "show_people": { "type": "boolean" },
          "show_companies": { "type": "boolean" },
          "show_deals": { "type": "boolean" }
        }
      },
      "PeopleListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Person" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "PersonResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Person" }
        }
      },
      "CompaniesListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Company" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "CompanyResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Company" }
        }
      },
      "DealsListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Deal" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "DealResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Deal" }
        }
      },
      "TasksListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Task" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Task" }
        }
      },
      "ActivitiesListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Activity" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "ActivityResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Activity" }
        }
      },
      "ProductsListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Product" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Product" }
        }
      },
      "TagsListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "TagResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Tag" }
        }
      },
      "ListsListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/ContactList" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/ContactList" }
        }
      },
      "CustomFieldsListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/CustomField" } },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "CustomFieldResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/CustomField" }
        }
      }
    }
  }
}
